/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/roll/animate-roll-out-bottom.scss" as *;

@include test-module("animate-roll-out-bottom [mixin]") {
    @include test("Can add animation animate-roll-out-bottom") {
        @include assert {
            @include output {
            @include animate-roll-out-bottom();
        }
        @include expect {
	animation: roll-out-bottom;

	@keyframes roll-out-bottom {
		0% {
			-webkit-transform: translateY(0) rotate(0deg);
			transform: translateY(0) rotate(0deg);
			opacity: 1;
		}

		100% {
			-webkit-transform: translateY(800px) rotate(540deg);
			transform: translateY(800px) rotate(540deg);
			opacity: 0;
		}
	}
}        }
    }
}
