/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/roll/animate-roll-out.scss" as *;

@include test-module("animate-roll-out [mixin]") {
    @include test("Can add animation animate-roll-out") {
        @include assert {
            @include output {
            @include animate-roll-out();
        }
        @include expect {
	animation: roll-out;

	@keyframes roll-out {
		0% {
			opacity: 1;
			transform: translate3d(0, 0, 0);
		}

		100% {
			opacity: 0;
			transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
		}
	}
}

        }
    }
}
