@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate swing in top forward
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @link https://animista.net/

@mixin animate-swing-in-top-forward($animation-settings: null) {
  @include animation-name-or-shorthand(swing-in-top-fwd, $animation-settings);

  @include keyframes(swing-in-top-fwd) {
    0% {
      -webkit-transform: rotateX(-100deg);
      transform: rotateX(-100deg);
      -webkit-transform-origin: top;
      transform-origin: top;
      opacity: 0;
    }

    100% {
      -webkit-transform: rotateX(0deg);
      transform: rotateX(0deg);
      -webkit-transform-origin: top;
      transform-origin: top;
      opacity: 1;
    }
  }
}

