@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate swing top right forward
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @group animation
/// @link https://animista.net/

@mixin animate-swing-top-right-forward($animation-settings: null) {
  @include animation-name-or-shorthand(swing-top-right-fwd, $animation-settings);

  @include keyframes(swing-top-right-fwd) {
    0% {
      -webkit-transform: rotate3d(1, 1, 0, 0deg);
      transform: rotate3d(1, 1, 0, 0deg);
      -webkit-transform-origin: 100% 0%;
      transform-origin: 100% 0%;
    }

    100% {
      -webkit-transform: rotate3d(1, 1, 0, 180deg);
      transform: rotate3d(1, 1, 0, 180deg);
      -webkit-transform-origin: 100% 0%;
      transform-origin: 100% 0%;
    }
  }
}

