@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate swing out left forward
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @group animation
/// @link https://animista.net/

@mixin animate-swing-out-left-forward($animation-settings: null) {
  @include animation-name-or-shorthand(swing-out-left-fwd, $animation-settings);

  @include keyframes(swing-out-left-fwd) {
    0% {
      -webkit-transform: rotateY(0);
      transform: rotateY(0);
      -webkit-transform-origin: left;
      transform-origin: left;
      opacity: 1;
    }

    100% {
      -webkit-transform: rotateY(-70deg);
      transform: rotateY(-70deg);
      -webkit-transform-origin: left;
      transform-origin: left;
      opacity: 0;
    }
  }
}

