@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate swing top left backward
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @link https://animista.net/

@mixin animate-swing-top-left-backward($animation-settings: null) {
  @include animation-name-or-shorthand(swing-top-left-bck, $animation-settings);

  @include keyframes(swing-top-left-bck) {
    0% {
      -webkit-transform: rotate3d(-1, 1, 0, 0deg);
      transform: rotate3d(-1, 1, 0, 0deg);
      -webkit-transform-origin: 0% 0%;
      transform-origin: 0% 0%;
    }

    100% {
      -webkit-transform: rotate3d(-1, 1, 0, 180deg);
      transform: rotate3d(-1, 1, 0, 180deg);
      -webkit-transform-origin: 0% 0%;
      transform-origin: 0% 0%;
    }
  }
}

