@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate swing out bottom forward
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @group animation
/// @link https://animista.net/

@mixin animate-swing-out-bottom-forward($animation-settings: null) {
  @include animation-name-or-shorthand(swing-out-bottom-fwd, $animation-settings);

  @include keyframes(swing-out-bottom-fwd) {
    0% {
      -webkit-transform: rotateX(0);
      transform: rotateX(0);
      -webkit-transform-origin: bottom;
      transform-origin: bottom;
      opacity: 1;
    }

    100% {
      -webkit-transform: rotateX(-70deg);
      transform: rotateX(-70deg);
      -webkit-transform-origin: bottom;
      transform-origin: bottom;
      opacity: 0;
    }
  }
}

