@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate swing bottom right backward
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @group animation
/// @link https://animista.net/

@mixin animate-swing-bottom-right-backward($animation-settings: null) {
  @include animation-name-or-shorthand(swing-bottom-right-bck, $animation-settings);

  @include keyframes(swing-bottom-right-bck) {
    0% {
      -webkit-transform: rotate3d(-1, 1, 0, 0deg);
      transform: rotate3d(-1, 1, 0, 0deg);
      -webkit-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
    }

    100% {
      -webkit-transform: rotate3d(-1, 1, 0, -180deg);
      transform: rotate3d(-1, 1, 0, -180deg);
      -webkit-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
    }
  }
}

