@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/bg/animate-bg-pan-bottom-left.scss" as *;

@include test-module("animate-bg-pan-bottom-left [mixin]") {
    @include test("Can add animation animate-bg-pan-bottom-left") {
        @include assert {
            @include output {
            @include animate-bg-pan-bottom-left();
        }
        @include expect {
            animation: bg-pan-bl;

            @keyframes bg-pan-bl {
                0% {
      background-position: 100% 0%;
    }

                100% {
      background-position: 0% 100%;
    }
  }
}

        }
    }
}
