/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/bg/animate-bg-pan-bottom.scss" as *;

@include test-module("animate-bg-pan-bottom [mixin]") {
    @include test("Can add animation animate-bg-pan-bottom") {
        @include assert {
            @include output {
            @include animate-bg-pan-bottom();
        }
        @include expect {
            animation: bg-pan-bottom;

            @keyframes bg-pan-bottom {
                0% {
      background-position: 50% 0%;
    }

                100% {
      background-position: 50% 100%;
    }
  }
}

        }
    }
}
