/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/bg/animate-bg-pan-right.scss" as *;

@include test-module("animate-bg-pan-right [mixin]") {
    @include test("Can add animation animate-bg-pan-right") {
        @include assert {
            @include output {
            @include animate-bg-pan-right();
        }
        @include expect {
            animation: bg-pan-right;

            @keyframes bg-pan-right {
                0% {
      background-position: 0% 50%;
    }

                100% {
      background-position: 100% 50%;
    }
  }
}

        }
    }
}
