/**
* Generic rules for fixing some browser behaviour issues
*/

/**
* Animate anchors
*/
#{$link-selector} {
  transition-property: color;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;
}

/**
* Animate form elements and summary
*/
#{$input-selector + ", " + $button-selector} {
  transition-property:
    border-color,
    outline,
    background-color,
    color,
    box-shadow,
    opacity;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;
}
