@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate shake vertical
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @link https://animista.net/

@mixin animate-shake-vertical($animation-settings: null) {
  @include animation-name-or-shorthand(shake-vertical, $animation-settings);

  @include keyframes(shake-vertical) {
    0%,
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }

    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }

    20%,
    40%,
    60% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }

    80% {
      -webkit-transform: translateY(6.4px);
      transform: translateY(6.4px);
    }

    90% {
      -webkit-transform: translateY(-6.4px);
      transform: translateY(-6.4px);
    }
  }
}

