@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

@mixin animate-shake($animation-settings: null) {
  @include animation-name-or-shorthand(shake, $animation-settings);

  @include keyframes(shake) {
    0%,
    100% {
      transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translate3d(-10px, 0, 0);
    }

    20%,
    40%,
    60%,
    80% {
      transform: translate3d(10px, 0, 0);
    }
  }
}

