@mixin angled-background(
  $background-color,
  $tint: rgba(#000, 0.1),
  $shade: rgba(#fff, 0.1),
  $tint-angle: -20deg,
  $tint-start: 30%,
  $tint-end: 30%,
  $shade-angle: -110deg,
  $shade-start: 30%,
  $shade-end: 30%
) {
  background:
    linear-gradient(#{$tint-angle}, #{$tint} #{$tint-start}, transparent #{$tint-end}),
    linear-gradient(#{$shade-angle}, #{$shade} #{$shade-start}, transparent #{$shade-end})
    $background-color;
}
