@use "sass:color";
@use "sass:list";
@use "sass:map";
@use "sass:math";
@use "inline-svg-url" as *;

@mixin angled-edge(
  $fill,
  $height: 50,
  $location: outside-top,
  $hypotenuse: upper-left,
  $width: null,
  $selector: "&::after"
) {
  $fill-background: null;

  @if list.length($fill) > 1 {
    $fill-background: list.nth($fill, 2);
    $fill: list.nth($fill, 1);
  }

  $fill-rgb: "rgb(#{math.round(color.red($fill))},#{math.round(color.green($fill))},#{math.round(color.blue($fill))})";
  $fill-alpha: alpha($fill);
  $points: (
    upper-left: "0,#{$height} #{$width},#{$height} #{$width},0",
    upper-right: "0,#{$height} #{$width},#{$height} 0,0",
    lower-left: "0,0 #{$width},#{$height} #{$width},0",
    lower-right: "0,0 #{$width},0 0,#{$height}"
  );
  $img: 
    '<svg xmlns="http://www.w3.org/2000/svg" ' +
      'width="#{$width}" ' +
      'height="#{$height}" ' +
      'fill="#{$fill-rgb}" ' +
      'fill-opacity="#{$fill-alpha}"' +
    '><polygon points=\'#{map.get($points, $hypotenuse)}\'></polygon></svg>';

  @if ($width == null) {
    $points: (
      upper-left: "0,#{$height} 100,#{$height} 100,0",
      upper-right: "0,#{$height} 100,#{$height} 0,0",
      lower-left: "0,0 100,#{$height} 100,0",
      lower-right: "0,0 100,0 0,#{$height}"
    );
    $img:
      '<svg xmlns="http://www.w3.org/2000/svg" ' +
        'preserveAspectRatio="none" ' +
        'viewBox="0 0 100 #{$height}" ' +
        'fill="#{$fill-rgb}" ' +
        'fill-opacity="#{$fill-alpha}"' +
      '><polygon points=\'#{map.get($points, $hypotenuse)}\'></polygon></svg>';
  }

  $top: auto;
  $bottom: auto;

  @if ($location == inside-top) {
    $top: 0;
  }

  @else if ($location == outside-top) {
    $top: -$height * 1px;
  }

  @else if ($location == inside-bottom) {
    $bottom: 0;
  }

  @else if ($location == outside-bottom) {
    $bottom: -$height * 1px;
  }

  position: relative;

  #{$selector} {
    content: "";
    position: absolute;
    z-index: 1;
    top: $top;
    right: 0;
    bottom: $bottom;
    left: 0;
    width: 100%;
    height: $height * 1px;
    background-image: inline-svg-url($img);
    background-position: center center;
    background-repeat: no-repeat;

    @if $fill-background {
      background-color: $fill-background;
    }

    @if ($width == null) {
      background-size: 100% 100%;
    }

    @content;
  }
}
