@use "./pseudo-with-position" as *;

/// Add background dim to a container
/// @param {Number} $opacity [0.5] The opacity of the dim
/// @param {Color} $background-color [null] Background color
/// @param {Number} $z-index [5] The z-index of the dim
/// @param {String} $selector ["&::before"] Dim selector
/// @param {String} $position [relative] Postition of the parent
/// @param {String} $position-children [relative] Position of the children (to go above dim)
/// @group helper

@mixin background-dim(
    $opacity: 0.5,
    $background-color: null,
    $z-index: 5,
    $selector: "&::before",
    $position: relative,
    $position-children: relative
) {
    position: $position;

    @include pseudo-with-position(0, 0, 0, 0, absolute, 100%, 100%, $z-index, "", block, $selector) {
        background-color: if($background-color, $background-color, inherit);
        opacity: 0.5;
    }

    > * {
        position: $position-children;
        z-index: $z-index + 5;
    }
}