/// Prevent elements flowing around floating elements
/// @param {String} $selector ["&::after"] The selector for the code to be added
/// @group helper

@mixin clearfix($selector: "&::after") {
  #{$selector} {
    content: "";
    display: table;
    clear: both;
  }
}
