@use "script-direction" as *;

/// Shorthand for flex containers
/// @param {String} $justify-content [null] Justify content
/// @param {String} $align-items [null] Align items
/// @param {String} $flex-wrap [null] Flex wrap mode
/// @param {String} $flex-direction [null] Flex direction
/// @param {Number} $gap [null] Gap between inner elements
/// @group helper

@mixin flex($justify-content: null, $align-items: null, $flex-wrap: null, $flex-direction: null, $gap: null) {
	display: flex;
	justify-content: $justify-content;
	align-items: $align-items;
	flex-wrap: $flex-wrap;
	flex-direction: $flex-direction;

	> * + * {
		margin-#{if($flex-direction == column, top, script-direction())}: $gap;
	}
	@content;
}
