/// Hide text within a container but keep pesudo elements visible
/// @param {Number} $font-size [1rem] Font size of the pseudo elements
/// @param {Color} $color [null] Color of the pseudo elements
/// @param {Number} $line-height [null] Line height of the pseudo elements
/// @param {String|List} $font-family [null] Font family of the pseudo elements
/// @param {String} $text-align [null] Text alignment of the pseudo elements
/// @group helper

@mixin hide-text-except-pseudo(
  $font-size: 1rem,
  $color: null,
  $line-height: null,
  $font-family: null,
  $text-align: null
) {
  font-size: 0;

  &::before,
  &::after {
    color: $color;
    font-size: $font-size;
    font-family: $font-family;
    line-height: $line-height;
    text-align: $text-align;

    @content;
  }
}
