/// Create object fitted elements
/// @param {String} $object-fit [cover] The object fit
/// @param {Number|List} $object-position [50% 50%] The object position 
/// @param {Number} $width [100%] The element width
/// @param {Number} $height [100%] The element height
/// @param {String} $position [null] Element position
/// @group helper

@mixin object-fit(
    $object-fit: cover, 
    $object-position: 50% 50%, 
    $width: 100%, 
    $height: 100%,
    $position: null
) {
    width: $width;
    height: $height;
    object-fit: $object-fit;
    object-position: $object-position;
    position: $position;

    @if $position == absolute {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    @content;
}