@use "sass:math";
@use "../math/strip-unit" as *;

/// Viewport sized typography with minimum and maximum values
/// @author Eduardo Boucas
/// @param {Number} $responsive - Responsive font size (in vw or vh)
/// @param {Number} $min (null) - Minimum font size
/// @param {Number} $max (null) - Maximum font size
/// @param {Number} $fallback (null) - A fallback size for browsers without vw and vh unit support
/// @link https://css-tricks.com/snippets/sass/viewport-sized-typography-minimum-maximum-sizes/

@mixin responsive-font($responsive, $min: null, $max: null, $fallback: null) {
  $unitless: strip-unit($responsive);
  $dimension: if(math.unit($responsive) == "vh", "height", "width");

  @if $min {
    $min-breakpoint: $min / $unitless * 100;

    @media (max-#{$dimension}: #{$min-breakpoint}) {
      font-size: $min;
    }
  }

  @if $max {
    $max-breakpoint: $max / $unitless * 100;

    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }

  @if $fallback {
    font-size: $fallback;
  }

  font-size: $responsive;
}
