/// Style options to set up default element styles with
/// @group helper

$styles: () !default;

@use "sass:map";
@use "../utility/declare-map" as *;
@use "../utility/get" as *;
@use "../utility/remove" as *;
@use "../utility/set" as *;
@use "../select/select" as *;
@use "normalize" as *;
@use "script-direction" as *;

/// Set default styles for common elements
/// @param {Map} $styles [$styles] Style settings map
/// @param {Boolean} $normalize [false] Whether to also normalize
/// @param {String} $root-selector ["&"] Selector to add root styles to
/// @example
///   @use "../node_modules/sass-styler/styler";
///   styler.styles: (
///     font-size: 18px,
///     font-family: Arial, sans-serif;
///     color: #333;
///     link: (
///       color: blue,
///       text-decoration: none,
///       hover-focus: (
///         text-decotaion: underline
///       )
///     ),
///     heading: (
///       font-weight: 700
///     ),
///     h1: (
///       font-size: 3em
///     ),
///     input: (
///       border: 1px solid #333
///     )
///   );
///   @include set-styles();
/// @group helper

@mixin set-styles($styles: $styles, $normalize: false, $root-selector: "&") {

  @if $normalize {
    // skip rules for normalize if they will be set for styles anyway
    $skip-normalize: ( _name: skip-normalize );
    @each $path in (box-sizing, min-height, vertical-align, bold font-weight, small font-size, code font-size, code font-family, hr, h1 font-size, fieldset padding, fieldset border, label display, input display, input padding, caption caption-side, table-cell padding) {
      @if get($styles, $path) {
        $skip-normalize: set($skip-normalize, $path, null);
      }
    }
    @include normalize($skip-normalize);
  }

  @if $root-selector {
    #{$root-selector} {
      @include declare-map($styles);
    }
  }

  @each $selector in map.keys($selectors) {
    @include select($selector) {
      @include declare-map(get($styles, $selector));
    }
  }
}
