@use "../node_modules/sass-true" as *;
@use "../src/contrast-with.scss" as styler;

@include test-module("contrast-with [function]") {
    @include test('Can contrast with another color') {
        @include assert-equal(
            styler.contrast-with(#000, #fff),
            #000
        );
        @include assert-equal(
            styler.contrast-with(#eee),
            rgb(118.6563569803, 118.6563569803, 118.6563569803),
            $inspect: true
        );
        @include assert-equal(
            styler.contrast-with(#ccc),
            rgb(118.6563569803, 118.6563569803, 118.6563569803),
            $inspect: true
        );
        @include assert-equal(
            styler.contrast-with(#0d3f6e),
            #0d3f6e
        );
        @include assert-equal(
            styler.contrast-with(#222, #000),
            rgb(116.1093139925, 116.1093139925, 116.1093139925),
            $inspect: true
        );
    }
}
