@use "../node_modules/sass-true" as *;
@use "../src/extend-background.scss" as *;

@include test-module("extend-background [mixin]") {
    @include test("Can create extended background") {
        @include assert {
            @include output {
                @include extend-background(black);
            }
            @include expect {
                position: relative;
                background: black;

                > * {
                    position: relative;
                    z-index: 1;
                }

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    width: 50vw;
                    height: 100%;
                    background: black;
                }

                &::before {
                    right: 50%;
                }

                &::after {
                    left: 50%;
                }
            }
        }
    }
}
