@use "../node_modules/sass-true" as *;
@use "../src/fallback.scss" as styler;

$false: false;
$null: null;
$px: 15px;

@include test-module("fallback [function]") {
    @include test('Can fallback values') {
        @include assert-equal(
            styler.fallback(15px, 1rem, null),
            15px
        );
        @include assert-equal(
            styler.fallback(false, null, 5px),
            5px
        );
        @include assert-equal(
            styler.fallback(null, 5px),
            5px
        );
        @include assert-equal(
            styler.fallback($px, $false),
            15px
        );
        @include assert-equal(
            styler.fallback($false, $px),
            15px
        );
        @include assert-equal(
            styler.fallback($null, $px),
            15px
        );
    }
}
