@use "../node_modules/sass-true" as *;
@use "../src/menu-icon.scss" as *;

@include test-module("menu-icon [mixin]") {
    @include test("Can apply menu-icon") {
        @include assert {
            @include output {
                @include menu-icon();

                &:hover {
                    @include menu-icon-close();
                }
            }
            @include expect {
                position: relative;
                margin-top: 0.4em;
                margin-bottom: 0.4em;
                user-select: none;

                &,
                &::before,
                &::after {
                    display: block;
                    width: 0.875em;
                    height: 0.125em;
                    background-color: currentColor;
                    outline: 1px solid transparent;
                    border-radius: 0;
                    transition-property: background-color, transform;
                    transition-duration: 0.3s;
                }

                &::before,
                &::after {
                    position: absolute;
                    content: "";
                }

                &::before {
                    top: -0.4em;
                }

                &::after {
                    bottom: -0.4em;
                }

                &:hover {
                    background-color: transparent;

                    &::before {
                        transform: translateY(0.4em) rotate(45deg)
                    }

                    &::after {
                        transform: translateY(-0.4em) rotate(-45deg)
                    }
                }
            }
        }
    }
}
