@use "../node_modules/sass-true" as *;
@use "../src/pipe-list.scss" as *;

@include test-module("pipe-list [mixin]") {
    @include test("Can apply pipe-list") {
        @include assert {
            @include output {
                @include pipe-list();
            }
            @include expect {
                display: flex;
                list-style: none;
                padding-inline-start: 0;
            }
        }
        @include assert {
            @include output {
                @include pipe-list(1em, 1px solid black);
            }
            @include expect {
                display: flex;
                list-style: none;
                padding-inline-start: 0;

                > * + * {
                    margin-inline-start: 0.5em;
                    padding-inline-start: 0.5em;
                    border-inline-start: 1px solid black;
                }
            }
        }
    }
}
