@use "../node_modules/sass-true" as *;
@use "../src/scale-light.scss" as styler;

@include test-module("scale-light [function]") {
    @include test('Can scale luminance for colours') {
        @include assert-equal(
            styler.scale-light(#318de2, #fff),
            rgb(47.6588085106, 140.257787234, 225.8111914894),
            $inspect: true
        );
        @include assert-equal(
            styler.scale-light(#318de2, #49c8ff),
            rgb(47.6588085106, 140.257787234, 225.8111914894),
            $inspect: true
        );
        @include assert-equal(
            styler.scale-light(#318de2, #12416c, $iterations: 10),
            rgb(44.5293617021, 138.5259574468, 225.3706382979),
            $inspect: true
        );
        @include assert-equal(
            styler.scale-light(#318de2, #000),
            #318de2,
            $inspect: true
        );
    }
}
