@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

@mixin animate-scale-in-vertical-center($animation-settings: null) {
  @include animation-name-or-shorthand(scale-in-ver-center, $animation-settings);

  @include keyframes(scale-in-ver-center) {
    0% {
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
      opacity: 1;
    }

    100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
      opacity: 1;
    }
  }
}

