@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate scale out left
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @group animation
/// @link https://animista.net/

@mixin animate-scale-out-left($animation-settings: null) {
  @include animation-name-or-shorthand(scale-out-left, $animation-settings);

  @include keyframes(scale-out-left) {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: 0% 50%;
      transform-origin: 0% 50%;
      opacity: 1;
    }

    100% {
      -webkit-transform: scale(0);
      transform: scale(0);
      -webkit-transform-origin: 0% 50%;
      transform-origin: 0% 50%;
      opacity: 1;
    }
  }
}

