@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate scale in vertical bottom
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @link https://animista.net/

@mixin animate-scale-in-vertical-bottom($animation-settings: null) {
  @include animation-name-or-shorthand(scale-in-ver-bottom, $animation-settings);

  @include keyframes(scale-in-ver-bottom) {
    0% {
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
      -webkit-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
      opacity: 1;
    }

    100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
      opacity: 1;
    }
  }
}

