@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate scale down horizontal center
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @group animation
/// @link https://animista.net/

@mixin animate-scale-down-horizontal-center($animation-settings: null) {
  @include animation-name-or-shorthand(scale-down-hor-center, $animation-settings);

  @include keyframes(scale-down-hor-center) {
    0% {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }

    100% {
      -webkit-transform: scaleX(0.3);
      transform: scaleX(0.3);
    }
  }
}

