@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

@mixin animate-scale-down-top-right($animation-settings: null) {
  @include animation-name-or-shorthand(scale-down-tr, $animation-settings);

  @include keyframes(scale-down-tr) {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: 100% 0%;
      transform-origin: 100% 0%;
    }

    100% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
      -webkit-transform-origin: 100% 0%;
      transform-origin: 100% 0%;
    }
  }
}

