@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

@mixin animate-scale-in-left($animation-settings: null) {
  @include animation-name-or-shorthand(scale-in-left, $animation-settings);

  @include keyframes(scale-in-left) {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
      -webkit-transform-origin: 0% 50%;
      transform-origin: 0% 50%;
      opacity: 1;
    }

    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: 0% 50%;
      transform-origin: 0% 50%;
      opacity: 1;
    }
  }
}

