@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

@mixin animate-scale-out-top-right($animation-settings: null) {
  @include animation-name-or-shorthand(scale-out-tr, $animation-settings);

  @include keyframes(scale-out-tr) {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: 100% 0%;
      transform-origin: 100% 0%;
      opacity: 1;
    }

    100% {
      -webkit-transform: scale(0);
      transform: scale(0);
      -webkit-transform-origin: 100% 0%;
      transform-origin: 100% 0%;
      opacity: 1;
    }
  }
}

