@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate scale out bottom
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @group animation
/// @link https://animista.net/

@mixin animate-scale-out-bottom($animation-settings: null) {
  @include animation-name-or-shorthand(scale-out-bottom, $animation-settings);

  @include keyframes(scale-out-bottom) {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
      opacity: 1;
    }

    100% {
      -webkit-transform: scale(0);
      transform: scale(0);
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
      opacity: 1;
    }
  }
}

