@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate scale down vertical bottom
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @group animation
/// @link https://animista.net/

@mixin animate-scale-down-vertical-bottom($animation-settings: null) {
  @include animation-name-or-shorthand(scale-down-ver-bottom, $animation-settings);

  @include keyframes(scale-down-ver-bottom) {
    0% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
    }

    100% {
      -webkit-transform: scaleY(0.3);
      transform: scaleY(0.3);
      -webkit-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
    }
  }
}

