@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate scale down horizontal right
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @link https://animista.net/

@mixin animate-scale-down-horizontal-right($animation-settings: null) {
  @include animation-name-or-shorthand(scale-down-hor-right, $animation-settings);

  @include keyframes(scale-down-hor-right) {
    0% {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
      -webkit-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
    }

    100% {
      -webkit-transform: scaleX(0.3);
      transform: scaleX(0.3);
      -webkit-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
    }
  }
}

