@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate scale up top
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @link https://animista.net/

@mixin animate-scale-up-top($animation-settings: null) {
  @include animation-name-or-shorthand(scale-up-top, $animation-settings);

  @include keyframes(scale-up-top) {
    0% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
    }

    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
    }
  }
}

