/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/text/animate-text-shadow-pop-bottom.scss" as *;

@include test-module("animate-text-shadow-pop-bottom [mixin]") {
    @include test("Can add animation animate-text-shadow-pop-bottom") {
        @include assert {
            @include output {
            @include animate-text-shadow-pop-bottom();
        }
        @include expect {
	animation: text-shadow-pop-bottom;

	@keyframes text-shadow-pop-bottom {
		0% {
			text-shadow:
				0 0 #555,
				0 0 #555,
				0 0 #555,
				0 0 #555,
				0 0 #555,
				0 0 #555,
				0 0 #555,
				0 0 #555;
			-webkit-transform: translateY(0);
			transform: translateY(0);
		}

		100% {
			text-shadow:
				0 1px #555,
				0 2px #555,
				0 3px #555,
				0 4px #555,
				0 5px #555,
				0 6px #555,
				0 7px #555,
				0 8px #555;
			-webkit-transform: translateY(-8px);
			transform: translateY(-8px);
		}
	}
}        }
    }
}
