/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/text/animate-text-shadow-pop-left.scss" as *;

@include test-module("animate-text-shadow-pop-left [mixin]") {
    @include test("Can add animation animate-text-shadow-pop-left") {
        @include assert {
            @include output {
            @include animate-text-shadow-pop-left();
        }
        @include expect {
	animation: text-shadow-pop-left;

	@keyframes text-shadow-pop-left {
		0% {
			text-shadow:
				0 0 #555,
				0 0 #555,
				0 0 #555,
				0 0 #555,
				0 0 #555,
				0 0 #555,
				0 0 #555,
				0 0 #555;
			-webkit-transform: translateX(0);
			transform: translateX(0);
		}

		100% {
			text-shadow:
				-1px 0 #555,
				-2px 0 #555,
				-3px 0 #555,
				-4px 0 #555,
				-5px 0 #555,
				-6px 0 #555,
				-7px 0 #555,
				-8px 0 #555;
			-webkit-transform: translateX(8px);
			transform: translateX(8px);
		}
	}
}        }
    }
}
