/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/text/animate-text-shadow-drop-bottom-left.scss" as *;

@include test-module("animate-text-shadow-drop-bottom-left [mixin]") {
    @include test("Can add animation animate-text-shadow-drop-bottom-left") {
        @include assert {
            @include output {
            @include animate-text-shadow-drop-bottom-left();
        }
        @include expect {
	animation: text-shadow-drop-bl;

	@keyframes text-shadow-drop-bl {
		0% {
			text-shadow: 0 0 0 transparent;
		}

		100% {
			text-shadow: -6px 6px 18px rgba(0, 0, 0, 0.35);
		}
	}
}        }
    }
}
