/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/text/animate-text-blur-out.scss" as *;

@include test-module("animate-text-blur-out [mixin]") {
    @include test("Can add animation animate-text-blur-out") {
        @include assert {
            @include output {
            @include animate-text-blur-out();
        }
        @include expect {
	animation: text-blur-out;

	@keyframes text-blur-out {
		0% {
			-webkit-filter: blur(0.01);
			filter: blur(0.01);
		}

		100% {
			-webkit-filter: blur(12px) opacity(0%);
			filter: blur(12px) opacity(0%);
		}
	}
}        }
    }
}
