/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/text/animate-text-shadow-pop-top-left.scss" as *;

@include test-module("animate-text-shadow-pop-top-left [mixin]") {
    @include test("Can add animation animate-text-shadow-pop-top-left") {
        @include assert {
            @include output {
            @include animate-text-shadow-pop-top-left();
        }
        @include expect {
	animation: text-shadow-pop-tl;

	@keyframes text-shadow-pop-tl {
		0% {
			text-shadow:
				0 0 #555,
				0 0 #555,
				0 0 #555,
				0 0 #555,
				0 0 #555,
				0 0 #555,
				0 0 #555,
				0 0 #555;
			-webkit-transform: translateX(0) translateY(0);
			transform: translateX(0) translateY(0);
		}

		100% {
			text-shadow:
				-1px -1px #555,
				-2px -2px #555,
				-3px -3px #555,
				-4px -4px #555,
				-5px -5px #555,
				-6px -6px #555,
				-7px -7px #555,
				-8px -8px #555;
			-webkit-transform: translateX(8px) translateY(8px);
			transform: translateX(8px) translateY(8px);
		}
	}
}        }
    }
}
