/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/text/animate-text-focus-in.scss" as *;

@include test-module("animate-text-focus-in [mixin]") {
    @include test("Can add animation animate-text-focus-in") {
        @include assert {
            @include output {
            @include animate-text-focus-in();
        }
        @include expect {
	animation: text-focus-in;

	@keyframes text-focus-in {
		0% {
			-webkit-filter: blur(12px);
			filter: blur(12px);
			opacity: 0;
		}

		100% {
			-webkit-filter: blur(0);
			filter: blur(0);
			opacity: 1;
		}
	}
}        }
    }
}
