@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

@mixin animate-tracking-out-contract-backward($animation-settings: null) {
  @include animation-name-or-shorthand(tracking-out-contract-bck, $animation-settings);

  @include keyframes(tracking-out-contract-bck) {
    0% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      opacity: 1;
    }

    60% {
      opacity: 1;
    }

    100% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-500px);
      transform: translateZ(-500px);
      opacity: 0;
    }
  }
}

