@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate tracking in expand forward
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @group animation
/// @link https://animista.net/

@mixin animate-tracking-in-expand-forward($animation-settings: null) {
  @include animation-name-or-shorthand(tracking-in-expand-fwd, $animation-settings);

  @include keyframes(tracking-in-expand-fwd) {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
      transform: translateZ(-700px);
      opacity: 0;
    }

    40% {
      opacity: 0.6;
    }

    100% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      opacity: 1;
    }
  }
}

