@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate tracking in contract
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @link https://animista.net/

@mixin animate-tracking-in-contract($animation-settings: null) {
  @include animation-name-or-shorthand(tracking-in-contract, $animation-settings);

  @include keyframes(tracking-in-contract) {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }

    40% {
      opacity: 0.6;
    }

    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
}

