@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate tracking out contract backward bottom
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @group animation
/// @link https://animista.net/

@mixin animate-tracking-out-contract-backward-bottom($animation-settings: null) {
  @include animation-name-or-shorthand(tracking-out-contract-bck-bottom, $animation-settings);

  @include keyframes(tracking-out-contract-bck-bottom) {
    0% {
      -webkit-transform: translateZ(0) translateY(0);
      transform: translateZ(0) translateY(0);
      opacity: 1;
    }

    60% {
      opacity: 1;
    }

    100% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-500px) translateY(300px);
      transform: translateZ(-500px) translateY(300px);
      opacity: 0;
    }
  }
}

