@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate tracking in contract backward
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @group animation
/// @link https://animista.net/

@mixin animate-tracking-in-contract-backward($animation-settings: null) {
  @include animation-name-or-shorthand(tracking-in-contract-bck, $animation-settings);

  @include keyframes(tracking-in-contract-bck) {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
      transform: translateZ(400px);
      opacity: 0;
    }

    40% {
      opacity: 0.6;
    }

    100% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      opacity: 1;
    }
  }
}

