/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/pulsate/animate-pulsate-backward.scss" as *;

@include test-module("animate-pulsate-backward [mixin]") {
    @include test("Can add animation animate-pulsate-backward") {
        @include assert {
            @include output {
            @include animate-pulsate-backward();
        }
        @include expect {
	animation: pulsate-bck;

	@keyframes pulsate-bck {
		0%,
		100% {
			-webkit-transform: scale(1);
			transform: scale(1);
		}

		50% {
			-webkit-transform: scale(0.9);
			transform: scale(0.9);
		}
	}
}        }
    }
}
