/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/flip/animate-flip-scale-up-vertical.scss" as *;

@include test-module("animate-flip-scale-up-vertical [mixin]") {
    @include test("Can add animation animate-flip-scale-up-vertical") {
        @include assert {
            @include output {
            @include animate-flip-scale-up-vertical();
        }
        @include expect {
	animation: flip-scale-up-ver;

	@keyframes flip-scale-up-ver {
		0% {
			-webkit-transform: scale(1) rotateY(0);
			transform: scale(1) rotateY(0);
		}

		50% {
			-webkit-transform: scale(2.5) rotateY(90deg);
			transform: scale(2.5) rotateY(90deg);
		}

		100% {
			-webkit-transform: scale(1) rotateY(180deg);
			transform: scale(1) rotateY(180deg);
		}
	}
}        }
    }
}
