/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/flip/animate-flip-out-diagonal-1-top-right.scss" as *;

@include test-module("animate-flip-out-diagonal-1-top-right [mixin]") {
    @include test("Can add animation animate-flip-out-diagonal-1-top-right") {
        @include assert {
            @include output {
            @include animate-flip-out-diagonal-1-top-right();
        }
        @include expect {
	animation: flip-out-diag-1-tr;

	@keyframes flip-out-diag-1-tr {
		0% {
			-webkit-transform: rotate3d(1, 1, 0, 0deg);
			transform: rotate3d(1, 1, 0, 0deg);
			opacity: 1;
		}

		100% {
			-webkit-transform: rotate3d(1, 1, 0, 70deg);
			transform: rotate3d(1, 1, 0, 70deg);
			opacity: 0;
		}
	}
}        }
    }
}
