/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/flip/animate-flip-horizontal-backward.scss" as *;

@include test-module("animate-flip-horizontal-backward [mixin]") {
    @include test("Can add animation animate-flip-horizontal-backward") {
        @include assert {
            @include output {
            @include animate-flip-horizontal-backward();
        }
        @include expect {
	animation: flip-horizontal-bck;

	@keyframes flip-horizontal-bck {
		0% {
			-webkit-transform: translateZ(0) rotateX(0);
			transform: translateZ(0) rotateX(0);
		}

		100% {
			-webkit-transform: translateZ(-260px) rotateX(180deg);
			transform: translateZ(-260px) rotateX(180deg);
		}
	}
}        }
    }
}
