/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/flip/animate-flip-in-horizontal-bottom.scss" as *;

@include test-module("animate-flip-in-horizontal-bottom [mixin]") {
    @include test("Can add animation animate-flip-in-horizontal-bottom") {
        @include assert {
            @include output {
            @include animate-flip-in-horizontal-bottom();
        }
        @include expect {
	animation: flip-in-hor-bottom;

	@keyframes flip-in-hor-bottom {
		0% {
			-webkit-transform: rotateX(80deg);
			transform: rotateX(80deg);
			opacity: 0;
		}

		100% {
			-webkit-transform: rotateX(0);
			transform: rotateX(0);
			opacity: 1;
		}
	}
}        }
    }
}
