/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/flip/animate-flip-out-vertical-right.scss" as *;

@include test-module("animate-flip-out-vertical-right [mixin]") {
    @include test("Can add animation animate-flip-out-vertical-right") {
        @include assert {
            @include output {
            @include animate-flip-out-vertical-right();
        }
        @include expect {
	animation: flip-out-ver-right;

	@keyframes flip-out-ver-right {
		0% {
			-webkit-transform: rotateY(0);
			transform: rotateY(0);
			opacity: 1;
		}

		100% {
			-webkit-transform: rotateY(70deg);
			transform: rotateY(70deg);
			opacity: 0;
		}
	}
}        }
    }
}
