/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/flip/animate-flip-diagonal-2-forward.scss" as *;

@include test-module("animate-flip-diagonal-2-forward [mixin]") {
    @include test("Can add animation animate-flip-diagonal-2-forward") {
        @include assert {
            @include output {
            @include animate-flip-diagonal-2-forward();
        }
        @include expect {
	animation: flip-diagonal-2-fwd;

	@keyframes flip-diagonal-2-fwd {
		0% {
			-webkit-transform: translateZ(0) rotate3d(-1, 1, 0, 0deg);
			transform: translateZ(0) rotate3d(-1, 1, 0, 0deg);
		}

		100% {
			-webkit-transform: translateZ(160px) rotate3d(-1, 1, 0, 180deg);
			transform: translateZ(160px) rotate3d(-1, 1, 0, 180deg);
		}
	}
}        }
    }
}
