/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/flip/animate-flip-vertical-left.scss" as *;

@include test-module("animate-flip-vertical-left [mixin]") {
    @include test("Can add animation animate-flip-vertical-left") {
        @include assert {
            @include output {
            @include animate-flip-vertical-left();
        }
        @include expect {
	animation: flip-vertical-left;

	@keyframes flip-vertical-left {
		0% {
			-webkit-transform: rotateY(0);
			transform: rotateY(0);
		}

		100% {
			-webkit-transform: rotateY(-180deg);
			transform: rotateY(-180deg);
		}
	}
}        }
    }
}
