/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/flip/animate-flip-vertical-forward.scss" as *;

@include test-module("animate-flip-vertical-forward [mixin]") {
    @include test("Can add animation animate-flip-vertical-forward") {
        @include assert {
            @include output {
            @include animate-flip-vertical-forward();
        }
        @include expect {
	animation: flip-vertical-fwd;

	@keyframes flip-vertical-fwd {
		0% {
			-webkit-transform: translateZ(0) rotateY(0);
			transform: translateZ(0) rotateY(0);
		}

		100% {
			-webkit-transform: translateZ(160px) rotateY(180deg);
			transform: translateZ(160px) rotateY(180deg);
		}
	}
}        }
    }
}
