:root {
    @include define-vars(
        (
            font-system: (
                system-ui,
                -apple-system,
                "Segoe UI",
                Roboto,
                Helvetica,
                Arial,
                sans-serif,
                "Apple Color Emoji",
                "Segoe UI Emoji"
            ),
            font-monospace: (
                ui-monospace,
                SFMono-Regular,
                Consolas,
                "Liberation Mono",
                Menlo,
                monospace,
            ),
            font-sans: (
                Roboto,
                Helvetica,
                Arial,
                sans-serif,
            ),
            font-serif: (
                Merriweater,
                Times,
                serif,
            ),
            font-text: v(font-sans),
            font-heading: v(font-serif),

            font-size-base: 16px,
            font-size: responsive-font-size(13px, 768px, 18px, 1232px, 16px),

            elevation-1: 0 1px 3px rgba(0, 0, 0, 0.05),
            elevation-2: 0 2px 5px 1px rgba(0, 0, 0, 0.05),
            elevation-3: 0 3px 7px 2px rgba(0, 0, 0, 0.05),
            elevation-4: 0 4px 9px 3px rgba(0, 0, 0, 0.05),
            elevation-5: 0 5px 11px 4px rgba(0, 0, 0, 0.05)
        )
    );
}
