/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/blink/animate-blink.scss" as *;

@include test-module("animate-blink [mixin]") {
    @include test("Can add animation animate-blink") {
        @include assert {
            @include output {
            @include animate-blink();
        }
        @include expect {
	animation: blink;

	@keyframes blink {
		0%,
		50%,
		100% {
			opacity: 1;
		}

		25%,
		75% {
			opacity: 0;
		}
	}
}

        }
    }
}
