/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/blink/animate-blink-alternative.scss" as *;

@include test-module("animate-blink-alternative [mixin]") {
    @include test("Can add animation animate-blink-alternative") {
        @include assert {
            @include output {
            @include animate-blink-alternative();
        }
        @include expect {
            animation: blink-alternative;

            @keyframes blink-alternative {
                0%,
                100% {
      opacity: 1;
    }

                50% {
      opacity: 0.2;
    }
  }
}

        }
    }
}
