@use "../../utility/keyframes" as *;

/// Animate shake bottom left
/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@mixin animate-shake-bottom-left($animation-settings: null) {
	animation: if($animation-settings, #{"shake-bl #{$animation-settings}"}, shake-bl);

	@include keyframes(shake-bl) {
		0%,
		100% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transform-origin: 0 100%;
			transform-origin: 0 100%;
		}

		10%,
		90% {
			-webkit-transform: rotate(2deg);
			transform: rotate(2deg);
		}

		20%,
		40%,
		60% {
			-webkit-transform: rotate(-4deg);
			transform: rotate(-4deg);
		}

		30%,
		50%,
		70% {
			-webkit-transform: rotate(4deg);
			transform: rotate(4deg);
		}

		80% {
			-webkit-transform: rotate(-2deg);
			transform: rotate(-2deg);
		}
	}
}

