/**
* Normalize and set base styles for common elements configured in varibles
* for only setting styles, use stylr/set-styles instead
*/
@import "variables";
@import "mixin/button-styles";
@import "mixin/element-spacing";
@import "mixin/font-styles";
@import "mixin/heading-styles";
@import "mixin/input-styles";
@import "mixin/link-styles";
@import "mixin/quote-styles";
@import "mixin/selection-styles";
@import "mixin/table-styles";
@import "mixin/set-button-styles";
@import "mixin/set-element-spacing";
@import "mixin/set-heading-styles";
@import "mixin/set-input-styles";
@import "mixin/set-link-styles";
@import "mixin/set-quote-styles";
@import "mixin/set-selection-styles";
@import "mixin/set-table-styles";

/**
* Fix viewport in Windows
*/
@-ms-viewport {
  width: devide-width;
}

/**
* Normalize box model for elements
*/
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
* Setup document root
*/
html {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  text-align: $script-direction-align;
  color: $color;
  background: $background;

  /*
  * Set box model so that widths and heights are easier calculated
  */
  box-sizing: border-box;

  /*
  * Fix iOS and Windows Phone text size changes on orientation change
  */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  /*
  * Optimize font display
  */
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: greyscale;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  /*
  * Fix webkit tap highlight inconsistency
  */
  -webkit-tap-highlight-color: transparent;

  /*
  * Fix scrollbar issues in IE and Edge
  */
  -ms-overflow-style: scrollbar;
}

/**
* Reset margin and padding for common layout elements
*/
body,
div,
form,
th,
td,
figure {
  margin: 0;
  padding: 0;
}

/**
* Reset vertical margin and padding for common content elements
*/
address,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
dt,
dd,
blockquote,
pre {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

/**
* Fix html5 display settings for block elements
*/
address,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

/**
* Fix display for output elements
*/
output {
  display: inline-block;
}

/**
* Set vertical alignments
*/
audio,
canvas,
img,
figure,
progress,
video,
iframe {
  vertical-align: $vertical-align;

  /**
   * Fix html5 display settings for inline elements
   */
  display: inline-block;
  max-width: 100%;
}

/**
* Fix display issues for summaries
*/
summary {
  display: list-item;
  cursor: pointer;
}

/**
* Hide natively hidden elements
*/
[hidden],
template {
  display: none;
}

/**
* Remove outline for elements that are focusable programatically only
*/
[tabindex="-1"]:focus {
  outline: none !important;
}

/**
* Set touch action
*/
a,
area,
button,
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

/**
* Prevent display of audio with no control
*/
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
* Fix overflow for svg in IE
*/
svg:not(:root) {
  overflow: hidden;
}

/**
* Normalize bold style for bolding elements
*/
b,
strong,
dt {
  font-weight: inherit;
  font-weight: bolder;
}

/**
* Normalize italic style for specific elements
*/
em,
dfn,
var {
  font-style: italic;
  line-height: inherit;
}

/**
* Make predictable behaviour for superscript and subscript elements
*/
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/**
* Normalize style for underlined elements
*/
ins,
u {
  text-decoration: underline;
}

/**
* Normalize style for strike through elements
*/
del,
s {
  text-decoration: line-through;
}

/**
* Normalize small element size
*/
small {
  font-size: 80%;
}

/**
* Normalize anchor behaviour and styles
*/
a {
  /*
  * Remove IE10 active links background color
  */
  background: transparent;

  /*
  * Fix underline issues in webkit
  */
  -webkit-text-decoration-skip: objects;

  /*
  * Improve readability for focus and hovered anchors
  */
  &:active,
  &:hover {
    outline: 0;
  }
}

/**
* Normalize image
*/
img {
  /*
  * Prevent unexpected behaviour
  */
  height: auto;
  vertical-align: middle;

  /*
  * Set Microsoft interpolation
  */
  -ms-interpolation-mode: bicubic;

  /*
  * Remove the border on images inside links in IE10
  */
  &,
  a & {
    border-style: none;
  }
}

/**
* Normalize horizontal ruler
*/
hr {
  /*
  * Add the correct box sizing in Firefox
  */
  box-sizing: content-box;
  height: 0;

  /*
  * Show the overflow in Edge and IE
  */
  overflow: visible;

  /*
  * Reset border
  */
  border: 0;
}

/**
* Rest blockquotes
*/
blockquote,
q {
  quotes: none;
}

/**
* Fix font size and margin for heading elements
*/
h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

@if $spacing-mode == owl {
  h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@if $spacing-mode == bottom {
  h1 {
    margin-top: 0;
  }
}

/**
* Normalize pre element
*/
pre {
  /*
  * Add overflow for pre elements
  */
  overflow: auto;

  /*
  * Fix the inheritance and scaling of font size in all browsers
  */
  font-family: monospace, monospace;

  /*
  * Fix the odd `em` font sizing in all browsers
  */
  font-size: 1em;
}

/**
* Normalize abbreviations
*/
abbr[title] {
  /*
  * Remove the bottom border in Chrome 57-
  */
  border-bottom: none;
  text-decoration: underline;

  /*
  * Fix text decoration in Chrome, Edge, IE, Opera, and Safari
  */
  text-decoration: underline dotted;
}

/**
* Normalize cursor for abbreviations and definitions
*/
abbr[title],
dfn[title] {
  cursor: help;
}

/**
* Spacing between common elements
*/
#{$indent-selector} {
  margin-right: 0;
  margin-left: 0;
}

@include set-element-spacing();

/**
* Default anchor styles
*/
@include set-link-styles();

/**
* Fonts for code type blocks
*/
#{$code-selector} {
  background: $code-background;
  font-family: $code-font-family;
  font-size: $code-font-size;
  line-height: $code-line-height;
  color: $code-color;
}

/**
* Marked text styles
*/
#{$mark-selector} {
  background-color: $mark-background;
  color: $mark-color;
}

/**
* Horizontal ruler styles
*/
#{$hr-selector} {
  border-top: $hr;
}

/**
* Heading defaults
*/
@include set-heading-styles();

/**
* Quote and blockquote styles
*/
@include set-quote-styles();

/**
* Normalize fieldset styles in all browsers
*/
fieldset {
  min-height: 0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
  border: 1px solid #c0c0c0;
}

/**
* Fix inheritance and text wrapping issues
*/
legend {
  box-sizing: border-box;
  display: table;
  max-width: 100%;
  padding: 0;
  border: 0;
  color: inherit;
  white-space: normal;
}

/**
* Prevent optgroup from inheriting font-weight
*/
optgroup {
  font-weight: 700;
}

/**
* Fix inheritance for certain elements
*/
address,
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

/**
* Fix firefox issue with line-height
*/
input {
  line-height: normal;
}

/**
* Show overflow in Edge
*/
button,
input {
  overflow: visible;
}

/**
* Remove the inheritance of text transform in Firefox
*/
button,
select {
  text-transform: none;
}

/**
* Fix appearance for input elements on iOS
*/
input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
}

/**
* Fix cursor style for spinners
*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
* Set correct appearance for date inputs
*/
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

/**
* Fix webkit appearance for search inputs
*/
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;

  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

/**
* Add a minimum width to color inputs
*/
[type="color"] {
  min-width: 4em;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
  vertical-align: baseline;
}

/**
* Reset styles for multi-selects
*/
select[multiple] {
  overflow-y: auto;
  padding: 0;
}

/**
* Remove scrollbar automatically added in IE and prevent horizontal resizing
*/
textarea {
  overflow: auto;
  resize: vertical;
}

/**
* Fix IE10 issues with clickable inputs
*/
[type="checkbox"],
[type="radio"] {
  padding: 0;
}

/**
* Normalize clickables
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  /*
  * Remove auto-applied styles for clickables in iOS
  */
  -webkit-appearance: none;

  /*
  * Make unselectable
  */
  user-select: none;

  /*
  * Set flags
  */
  will-change: auto;

  /*
  * Hide webkit tap highlight
  */
  -webkit-tap-highlight-color: transparent;

  /*
  * Remove the inner border and padding in Firefox
  */
  &::-moz-focus-inner {
    padding: 0;
    border-style: none;
  }

  /*
  * Restore the focus styles unset previously
  */
  &:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
}

/**
* Form elements
*/
#{$label-selector} {
  display: inline-block;
}

#{$input-selector} {
  display: inline-block;
  max-width: 100%;

  &[disabled],
  &[readonly] {
    cursor: default;
  }
}

#{$file-input-selector} {
  display: inline-block;
  max-width: 100%;
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;

  &[disabled],
  &[readonly] {
    cursor: default;
  }

  /**
  * Fix padding issue appearing in some browsers
  */
  @if $script-direction == ltr {
    padding-right: 0;
  }

  @else {
    padding-left: 0;
  }
}

/**
* Fix padding issue for selects appearing in some browsers
*/
select:not([multiple]) {
  @if $script-direction == ltr {
    padding-right: 0;
  }

  @else {
    padding-left: 0;
  }
}

#{$multiple-select-selector} {
  option {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
  }
}

@include set-input-styles();

/**
* Buttons
*/
#{$button-selector} {
  display: inline-block;
  max-width: 100%;
  text-decoration: none;
  text-transform: none;
  cursor: pointer;

  &[disabled],
  &[readonly] {
    cursor: default;
  }
}

@include set-button-styles();

/**
* Fix incompatibilities with border behaviour
*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
* Fix font inheritance for tables
*/
table,
td,
th {
  font: inherit;
}

/**
* Tables
*/
@include set-table-styles();

#{$table-caption-selector} {
  caption-side: bottom;
}

/**
* Selection (highlight) styles
*/
@include set-selection-styles();
