@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate kenburns top left
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @group animation
/// @link https://animista.net/

@mixin animate-kenburns-top-left($animation-settings: null) {
  @include animation-name-or-shorthand(kenburns-top-left, $animation-settings);

  @include keyframes(kenburns-top-left) {
    0% {
      -webkit-transform: scale(1) translate(0, 0);
      transform: scale(1) translate(0, 0);
      -webkit-transform-origin: 16% 16%;
      transform-origin: 16% 16%;
    }

    100% {
      -webkit-transform: scale(1.25) translate(-20px, -15px);
      transform: scale(1.25) translate(-20px, -15px);
      -webkit-transform-origin: top left;
      transform-origin: top left;
    }
  }
}

