@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

@mixin animate-kenburns-bottom-left($animation-settings: null) {
  @include animation-name-or-shorthand(kenburns-bottom-left, $animation-settings);

  @include keyframes(kenburns-bottom-left) {
    0% {
      -webkit-transform: scale(1) translate(0, 0);
      transform: scale(1) translate(0, 0);
      -webkit-transform-origin: 16% 84%;
      transform-origin: 16% 84%;
    }

    100% {
      -webkit-transform: scale(1.25) translate(-20px, 15px);
      transform: scale(1.25) translate(-20px, 15px);
      -webkit-transform-origin: left bottom;
      transform-origin: left bottom;
    }
  }
}

