@use "../../utility/keyframes" as *;

/// Animate swirl out top backward
/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@mixin animate-swirl-out-top-backward($animation-settings: null) {
	animation: if($animation-settings, #{"swirl-out-top-bck #{$animation-settings}"}, swirl-out-top-bck);

	@include keyframes(swirl-out-top-bck) {
		0% {
			-webkit-transform: rotate(0) scale(1);
			transform: rotate(0) scale(1);
			-webkit-transform-origin: 50% 0%;
			transform-origin: 50% 0%;
			opacity: 1;
		}

		100% {
			-webkit-transform: rotate(-540deg) scale(0);
			transform: rotate(-540deg) scale(0);
			-webkit-transform-origin: 50% 0%;
			transform-origin: 50% 0%;
			opacity: 0;
		}
	}
}

