@use "../../utility/keyframes" as *;

/// Animate swirl out top right forward
/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@mixin animate-swirl-out-top-right-forward($animation-settings: null) {
	animation: if($animation-settings, #{"swirl-out-tr-fwd #{$animation-settings}"}, swirl-out-tr-fwd);

	@include keyframes(swirl-out-tr-fwd) {
		0% {
			-webkit-transform: rotate(0) scale(1);
			transform: rotate(0) scale(1);
			-webkit-transform-origin: 100% 0%;
			transform-origin: 100% 0%;
			opacity: 1;
		}

		100% {
			-webkit-transform: rotate(540deg) scale(5);
			transform: rotate(540deg) scale(5);
			-webkit-transform-origin: 100% 0%;
			transform-origin: 100% 0%;
			opacity: 0;
		}
	}
}

