@use "../../utility/keyframes" as *;

/// Animate swirl in top forward
/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@mixin animate-swirl-in-top-forward($animation-settings: null) {
	animation: if($animation-settings, #{"swirl-in-top-fwd #{$animation-settings}"}, swirl-in-top-fwd);

	@include keyframes(swirl-in-top-fwd) {
		0% {
			-webkit-transform: rotate(-540deg) scale(0);
			transform: rotate(-540deg) scale(0);
			-webkit-transform-origin: 50% 0;
			transform-origin: 50% 0;
			opacity: 0;
		}

		100% {
			-webkit-transform: rotate(0) scale(1);
			transform: rotate(0) scale(1);
			-webkit-transform-origin: 50% 0;
			transform-origin: 50% 0;
			opacity: 1;
		}
	}
}

