@use "../../utility/keyframes" as *;

/// Animate swirl out forward
/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@mixin animate-swirl-out-forward($animation-settings: null) {
	animation: if($animation-settings, #{"swirl-out-fwd #{$animation-settings}"}, swirl-out-fwd);

	@include keyframes(swirl-out-fwd) {
		0% {
			-webkit-transform: rotate(0) scale(1);
			transform: rotate(0) scale(1);
			opacity: 1;
		}

		100% {
			-webkit-transform: rotate(540deg) scale(5);
			transform: rotate(540deg) scale(5);
			opacity: 0;
		}
	}
}

