@use "../../utility/keyframes" as *;

/// Animate color change 4x
/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@mixin animate-color-change-4x($animation-settings: null) {
  animation: if($animation-settings, #{"color-change-4x #{$animation-settings}"}, color-change-4x);

  @include keyframes(color-change-4x) {
    0% {
      background: #19dcea;
    }

    33.3333% {
      background: #b22cff;
    }

    66.666% {
      background: #ea2222;
    }

    100% {
      background: #f5be10;
    }
  }
}

