/**
* Update base spacing between common elements
*/
@mixin element-spacing(
  $spacing: null,
  $indent: null,
  $mode: null,
  $selector: null,
  $selector-owl: null,
  $selector-indent: null,
  $direction: null
) {
  @if $selector == null and global-variable-exists(spacing-selector) {
    $selector: $spacing-selector;
  }

  @if $selector-owl == null and global-variable-exists(owl-selector) {
    $selector-owl: $owl-selector;
  }

  @if $selector-indent == null and global-variable-exists(indent-selector) {
    $selector-indent: $indent-selector;
  }

  @if $mode == null and global-variable-exists(spacing-mode) {
    $mode: $spacing-mode;
  }

  @if $direction == null and global-variable-exists($script-direction) {
    $direction: $script-direction;
  }

  @if $mode == owl and $selector-owl {
    #{$selector-owl} {
      margin-top: $spacing;
    }
  }

  @else if $mode == bottom and $selector {
    #{$selector} {
      margin-bottom: $spacing;
    }
  }

  @else if $selector {
    #{$selector} {
      margin-top: $spacing;
      margin-bottom: $spacing;
    }
  }

  @if $selector-indent and $direction {
    #{$selector-indent} {
      @if $direction == ltr {
        padding-right: 0;
        padding-left: $indent;
      }

      @else {
        padding-right: $indent;
        padding-left: 0;
      }
    }
  }
}
