/**
* Update base heading styles in your element
*/
@mixin heading-styles(
  $color: null,
  $font-size: null,
  $line-height: null,
  $font-weight: null,
  $font-family: null,
  $h1-font-family: null,
  $h1-font-size: null,
  $h1-font-weight: null,
  $h1-line-height: null,
  $h1-color: null,
  $h2-font-family: null,
  $h2-font-size: null,
  $h2-font-weight: null,
  $h2-line-height: null,
  $h2-color: null,
  $h3-font-family: null,
  $h3-font-size: null,
  $h3-font-weight: null,
  $h3-line-height: null,
  $h3-color: null,
  $h4-font-family: null,
  $h4-font-size: null,
  $h4-font-weight: null,
  $h4-line-height: null,
  $h4-color: null,
  $h5-font-family: null,
  $h5-font-size: null,
  $h5-font-weight: null,
  $h5-line-height: null,
  $h5-color: null,
  $h6-font-family: null,
  $h6-font-size: null,
  $h6-font-weight: null,
  $h6-line-height: null,
  $h6-color: null,
  $selector: null,
  $selector-h1: null,
  $selector-h2: null,
  $selector-h3: null,
  $selector-h4: null,
  $selector-h5: null,
  $selector-h6: null
) {
  @if $selector == null and global-variable-exists(heading-selector) {
    $selector: $heading-selector;
  }

  @if $selector {
    #{$selector} {
      font-family: $font-family;
      font-size: $font-size;
      font-weight: $font-weight;
      line-height: $line-height;
      color: $color;
      @content;
    }
  }

  @if $selector-h1 == null and global-variable-exists(h1-selector) {
    $selector-h1: $h1-selector;
  }

  @if $selector-h1 {
    #{$selector-h1} {
      font-family: $h1-font-family;
      font-size: $h1-font-size;
      font-weight: $h1-font-weight;
      line-height: $h1-line-height;
      color: $h1-color;
    }
  }

  @if $selector-h2 == null and global-variable-exists(h2-selector) {
    $selector-h2: $h2-selector;
  }

  @if $selector-h2 {
    #{$selector-h2} {
      font-family: $h2-font-family;
      font-size: $h2-font-size;
      font-weight: $h2-font-weight;
      line-height: $h2-line-height;
      color: $h2-color;
    }
  }

  @if $selector-h3 == null and global-variable-exists(h3-selector) {
    $selector-h3: $h3-selector;
  }

  @if $selector-h3 {
    #{$selector-h3} {
      font-family: $h3-font-family;
      font-size: $h3-font-size;
      font-weight: $h3-font-weight;
      line-height: $h3-line-height;
      color: $h3-color;
    }
  }

  @if $selector-h4 == null and global-variable-exists(h4-selector) {
    $selector-h4: $h4-selector;
  }

  @if $selector-h4 {
    #{$selector-h4} {
      font-family: $h4-font-family;
      font-size: $h4-font-size;
      font-weight: $h4-font-weight;
      line-height: $h4-line-height;
      color: $h4-color;
    }
  }

  @if $selector-h5 == null and global-variable-exists(h5-selector) {
    $selector-h5: $h5-selector;
  }

  @if $selector-h5 {
    #{$selector-h5} {
      font-family: $h5-font-family;
      font-size: $h5-font-size;
      font-weight: $h5-font-weight;
      line-height: $h5-line-height;
      color: $h5-color;
    }
  }

  @if $selector-h6 == null and global-variable-exists(h6-selector) {
    $selector-h6: $h6-selector;
  }

  @if $selector-h6 {
    #{$selector-h6} {
      font-family: $h6-font-family;
      font-size: $h6-font-size;
      font-weight: $h6-font-weight;
      line-height: $h6-line-height;
      color: $h6-color;
    }
  }
}
