/**
* Update base styles for forms (expect for buttons) in your element
*/
@mixin input-styles(
  $height: null,
  $padding: null,
  $border: null,
  $font-size: null,
  $color: null,
  $border-radius: null,
  $width: null,
  $multiline-height: null,
  $select-height: null,
  $inline-spacing: null,
  $vertical-align: null,
  $outline: null,
  $font-family: null,
  $font-weight: null,
  $line-height: null,
  $label-font-family: null,
  $label-font-size: null,
  $label-font-weight: null,
  $label-line-height: null,
  $label-color: null,
  $border-top: null,
  $border-right: null,
  $border-bottom: null,
  $border-left: null,
  $background: null,
  $box-shadow: null,
  $placeholder-color: null,
  $hover-border: null,
  $hover-border-top: null,
  $hover-border-right: null,
  $hover-border-bottom: null,
  $hover-border-left: null,
  $hover-outline: null,
  $hover-background: null,
  $hover-box-shadow: null,
  $hover-color: null,
  $focus-border: null,
  $focus-border-top: null,
  $focus-border-right: null,
  $focus-border-bottom: null,
  $focus-border-left: null,
  $focus-outline: null,
  $focus-background: null,
  $focus-box-shadow: null,
  $focus-color: null,
  $active-border: null,
  $active-border-top: null,
  $active-border-right: null,
  $active-border-bottom: null,
  $active-border-left: null,
  $active-outline: null,
  $active-background: null,
  $active-box-shadow: null,
  $active-color: null,
  $disabled-border: null,
  $disabled-border-top: null,
  $disabled-border-right: null,
  $disabled-border-bottom: null,
  $disabled-border-left: null,
  $disabled-outline: null,
  $disabled-background: null,
  $disabled-box-shadow: null,
  $disabled-color: null,
  $selector-placeholder: null,
  $selector-label: null,
  $selector-input: null,
  $selector-file: null,
  $selector-textarea: null,
  $selector-multiple-select: null,
  $selector-clickable: null,
  $selector-select: null,
  $side: null
) {
  @if $selector-placeholder == null and
    global-variable-exists(placeholder-selector) {
    $selector-placeholder: $placeholder-selector;
  }

  @if $selector-placeholder {
    #{$selector-placeholder} {
      color: $placeholder-color;
    }
  }

  @if $selector-label == null and global-variable-exists(label-selector) {
    $selector-label: $label-selector;
  }

  @if $selector-label {
    #{$selector-label} {
      vertical-align: $vertical-align;
      font-family: $label-font-family;
      font-size: $label-font-size;
      font-weight: $label-font-weight;
      line-height: $label-line-height;
      color: $label-color;
    }
  }

  @if $selector-input == null and global-variable-exists(input-selector) {
    $selector-input: $input-selector;
  }

  @if $selector-input {
    #{$selector-input} {
      width: $width;
      min-height: $height;
      padding: $padding;
      vertical-align: $vertical-align;
      border: $border;
      border-top: $border-top;
      border-right: $border-right;
      border-bottom: $border-bottom;
      border-left: $border-left;
      border-radius: $border-radius;
      outline: $outline;
      background: $background;
      box-shadow: $box-shadow;
      font-family: $font-family;
      font-size: $font-size;
      font-weight: $font-weight;
      line-height: $line-height;
      color: $color;
      @content;

      &:hover {
        border: $hover-border;
        border-top: $hover-border-top;
        border-right: $hover-border-right;
        border-bottom: $hover-border-bottom;
        border-left: $hover-border-left;
        outline: $hover-outline;
        background: $hover-background;
        color: $hover-color;
      }

      &:focus {
        border: $focus-border;
        border-top: $focus-border-top;
        border-right: $focus-border-right;
        border-bottom: $focus-border-bottom;
        border-left: $focus-border-left;
        outline: $focus-outline;
        background: $focus-background;
        color: $focus-color;
      }

      &:active {
        border: $active-border;
        border-top: $active-border-top;
        border-right: $active-border-right;
        border-bottom: $active-border-bottom;
        border-left: $active-border-left;
        outline: $active-outline;
        background: $active-background;
        color: $active-color;
      }

      &[disabled],
      &[readonly] {
        border: $disabled-border;
        border-top: $disabled-border-top;
        border-right: $disabled-border-right;
        border-bottom: $disabled-border-bottom;
        border-left: $disabled-border-left;
        outline: $disabled-outline;
        background: $disabled-background;
        color: $disabled-color;
      }
    }
  }

  @if $selector-select {
    #{$selector-select} {
      min-height: $select-height;
    }
  }

  @if $selector-file == null and global-variable-exists(file-input-selector) {
    $selector-file: $file-input-selector;
  }

  @if $selector-file {
    #{$selector-file} {
      width: $width;
      min-height: $height;
      vertical-align: $vertical-align;
      outline: $outline;
      font-size: $font-size;
      line-height: $line-height;
      color: $color;
      @content;

      &:hover {
        color: $hover-color;
      }

      &:focus {
        color: $focus-color;
      }

      &:active {
        color: $active-color;
      }

      &[disabled],
      &[radonly] {
        color: $disabled-color;
      }
    }
  }

  @if $selector-textarea == null and
    global-variable-exists(textarea-selector) {
    $selector-textarea: $textarea-selector;
  }

  @if $selector-multiple-select == null and
    global-variable-exists(multiple-select-selector) {
    $selector-multiple-select: $multiple-select-selector;
  }

  $selector-multi: null;

  @if $selector-textarea {
    $selector-multi: $selector-textarea;
  }

  @if $selector-multiple-select {
    @if $selector-multi {
      $selector-multi: $selector-multi + "," + $selector-multiple-select;
    }

    @else {
      $selector-multi: $selector-multiple-select;
    }
  }

  @if $selector-multi {
    #{$selector-multi} {
      height: $multiline-height;
      min-height: $height;
      line-height: $line-height;
      @content;
    }
  }

  @if $selector-multiple-select {
    #{$selector-multiple-select} {
      option {
        min-height: $height;
        padding: $padding;
        line-height: $height;
      }
    }
  }

  @if $selector-clickable == null and
    global-variable-exists(clickable-input-selector) {
    $selector-clickable: $clickable-input-selector;
  }

  @if $side == null and
    global-variable-exists(script-direction-align) {
    $side: $script-direction-align;
  }

  @if $selector-clickable {
    #{$selector-clickable} {
      outline: $outline;

      @if $side {
        #{$selector-label} > &,
        > #{$selector-label} {
          margin-#{$side}: $inline-spacing;
        }
      }
    }
  }
}
