/**
* Update base selection styles in your element
*/
@mixin selection-styles($background: null, $color: null) {
  ::-webkit-selection {
    background: $background;
    color: $color;
    @content;
  }

  ::-moz-selection {
    background: $background;
    color: $color;
    @content;
  }

  ::selection {
    background: $background;
    color: $color;
    @content;
  }

  input::-webkit-selection {
    background: $background;
    color: $color;
    @content;
  }

  input::-moz-selection {
    background: $background;
    color: $color;
    @content;
  }

  input::selection {
    background: $background;
    color: $color;
    @content;
  }

  textarea::-webkit-selection {
    background: $background;
    color: $color;
    @content;
  }

  textarea::-moz-selection {
    background: $background;
    color: $color;
    @content;
  }

  textarea::selection {
    background: $background;
    color: $color;
    @content;
  }
}
