/**
* Set up default styles of forms in the document
*
* @requires "mixin/input-styles"
* @requires "variables"
*/
@mixin set-input-styles(
  $width: $input-width,
  $height: $input-height,
  $multiline-height: $input-multiline-height,
  $select-height: $select-height,
  $padding: $input-padding,
  $inline-spacing: $input-inline-spacing,
  $vertical-align: $input-vertical-align,
  $border-radius: $input-border-radius,
  $outline: $input-outline,
  $font-family: $input-font-family,
  $font-size: $input-font-size,
  $font-weight: $input-font-weight,
  $line-height: $input-line-height,
  $label-font-family: $label-font-family,
  $label-font-size: $label-font-size,
  $label-font-weight: $label-font-weight,
  $label-line-height: $label-line-height,
  $label-color: $label-color,
  $border: $input-border,
  $border-top: $input-border-top,
  $border-right: $input-border-right,
  $border-bottom: $input-border-bottom,
  $border-left: $input-border-left,
  $background: $input-background,
  $box-shadow: $input-box-shadow,
  $color: $input-color,
  $placeholder-color: $input-placeholder-color,
  $hover-border: $input-hover-border,
  $hover-border-top: $input-hover-border-top,
  $hover-border-right: $input-hover-border-right,
  $hover-border-bottom: $input-hover-border-bottom,
  $hover-border-left: $input-hover-border-left,
  $hover-outline: $input-hover-outline,
  $hover-background: $input-hover-background,
  $hover-box-shadow: $input-hover-box-shadow,
  $hover-color: $input-hover-color,
  $focus-border: $input-focus-border,
  $focus-border-top: $input-focus-border-top,
  $focus-border-right: $input-focus-border-right,
  $focus-border-bottom: $input-focus-border-bottom,
  $focus-border-left: $input-focus-border-left,
  $focus-outline: $input-focus-outline,
  $focus-background: $input-focus-background,
  $focus-box-shadow: $input-focus-box-shadow,
  $focus-color: $input-focus-color,
  $active-border: $input-active-border,
  $active-border-top: $input-active-border-top,
  $active-border-right: $input-active-border-right,
  $active-border-bottom: $input-active-border-bottom,
  $active-border-left: $input-active-border-left,
  $active-outline: $input-active-outline,
  $active-background: $input-active-background,
  $active-box-shadow: $input-active-box-shadow,
  $active-color: $input-active-color,
  $disabled-border: $input-disabled-border,
  $disabled-border-top: $input-disabled-border-top,
  $disabled-border-right: $input-disabled-border-right,
  $disabled-border-bottom: $input-disabled-border-bottom,
  $disabled-border-left: $input-disabled-border-left,
  $disabled-outline: $input-disabled-outline,
  $disabled-background: $input-disabled-background,
  $disabled-box-shadow: $input-disabled-box-shadow,
  $disabled-color: $input-disabled-color,
  $selector-placeholder: $placeholder-selector,
  $selector-label: $label-selector,
  $selector-input: $input-selector,
  $selector-file: $file-input-selector,
  $selector-textarea: $textarea-selector,
  $selector-multiple-select: $multiple-select-selector,
  $selector-clickable: $clickable-input-selector,
  $selector-select: $select-selector,
  $side: $script-direction-align
) {
  @include input-styles(
    $width: $width,
    $height: $height,
    $multiline-height: $multiline-height,
    $select-height: $select-height,
    $padding: $padding,
    $inline-spacing: $inline-spacing,
    $vertical-align: $vertical-align,
    $border-radius: $border-radius,
    $outline: $outline,
    $font-family: $font-family,
    $font-size: $font-size,
    $font-weight: $font-weight,
    $line-height: $line-height,
    $label-font-family: $label-font-family,
    $label-font-size: $label-font-size,
    $label-font-weight: $label-font-weight,
    $label-line-height: $label-line-height,
    $label-color: $label-color,
    $border: $border,
    $border-top: $border-top,
    $border-right: $border-right,
    $border-bottom: $border-bottom,
    $border-left: $border-left,
    $background: $background,
    $box-shadow: $box-shadow,
    $color: $color,
    $placeholder-color: $placeholder-color,
    $hover-border: $hover-border,
    $hover-border-top: $hover-border-top,
    $hover-border-right: $hover-border-right,
    $hover-border-bottom: $hover-border-bottom,
    $hover-border-left: $hover-border-left,
    $hover-outline: $hover-outline,
    $hover-background: $hover-background,
    $hover-box-shadow: $hover-box-shadow,
    $hover-color: $hover-color,
    $focus-border: $focus-border,
    $focus-border-top: $focus-border-top,
    $focus-border-right: $focus-border-right,
    $focus-border-bottom: $focus-border-bottom,
    $focus-border-left: $focus-border-left,
    $focus-outline: $focus-outline,
    $focus-background: $focus-background,
    $focus-box-shadow: $focus-box-shadow,
    $focus-color: $focus-color,
    $active-border: $active-border,
    $active-border-top: $active-border-top,
    $active-border-right: $active-border-right,
    $active-border-bottom: $active-border-bottom,
    $active-border-left: $active-border-left,
    $active-outline: $active-outline,
    $active-background: $active-background,
    $active-box-shadow: $active-box-shadow,
    $active-color: $active-color,
    $disabled-border: $disabled-border,
    $disabled-border-top: $disabled-border-top,
    $disabled-border-right: $disabled-border-right,
    $disabled-border-bottom: $disabled-border-bottom,
    $disabled-border-left: $disabled-border-left,
    $disabled-outline: $disabled-outline,
    $disabled-background: $disabled-background,
    $disabled-box-shadow: $disabled-box-shadow,
    $disabled-color: $disabled-color,
    $selector-placeholder: $selector-placeholder,
    $selector-label: $selector-label,
    $selector-input: $selector-input,
    $selector-file: $selector-file,
    $selector-textarea: $selector-textarea,
    $selector-multiple-select: $selector-multiple-select,
    $selector-clickable: $selector-clickable,
    $selector-select: $selector-select,
    $side: $side
  );
}
