/**
* Set up default spacing between common elements
*
* @requires "mixin/element-spacing"
* @requires "variables"
*/
@mixin set-element-spacing(
  $spacing: $element-spacing,
  $indent: $element-indent,
  $mode: $spacing-mode,
  $selector: $spacing-selector,
  $selector-owl: $owl-selector,
  $selector-indent: $indent-selector,
  $direction: $script-direction
) {
  @include element-spacing(
    $spacing: $spacing,
    $indent: $indent,
    $mode: $mode,
    $selector: $selector,
    $selector-owl: $selector-owl,
    $selector-indent: $selector-indent,
    $direction: $direction
  );
}
