/**
 * Set up default styles of quotes in the document
 *
 * @requires "mixin/quote-styles"
 * @requires "variables"
 */
@mixin set-quote-styles(
  $indent: $quote-indent,
  $border: $quote-border,
  $font-family: $quote-font-family,
  $font-size: $quote-font-size,
  $font-style: $quote-font-style,
  $font-weight: $quote-font-weight,
  $line-height: $quote-line-height,
  $color: $quote-color,
  $selector: $quote-selector,
  $selector-blockquote: $blockquote-selector,
  $direction: $script-direction
) {
  @include quote-styles(
    $indent: $indent,
    $border: $border,
    $font-family: $font-family,
    $font-size: $font-size,
    $font-style: $font-style,
    $font-weight: $font-weight,
    $line-height: $line-height,
    $color: $color,
    $selector: $selector,
    $selector-blockquote: $selector-blockquote,
    $direction: $direction
  );
}
