/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/puff/animate-puff-in-center.scss" as *;

@include test-module("animate-puff-in-center [mixin]") {
    @include test("Can add animation animate-puff-in-center") {
        @include assert {
            @include output {
            @include animate-puff-in-center();
        }
        @include expect {
	animation: puff-in-center;

	@keyframes puff-in-center {
		0% {
			-webkit-transform: scale(2);
			transform: scale(2);
			-webkit-filter: blur(2px);
			filter: blur(2px);
			opacity: 0;
		}

		100% {
			-webkit-transform: scale(1);
			transform: scale(1);
			-webkit-filter: blur(0);
			filter: blur(0);
			opacity: 1;
		}
	}
}        }
    }
}
