@use "../../node_modules/sass-true" as *;
@use "../../src/theme/define-vars.scss" as *;

@include test-module("define-vars [mixin]") {
    @include test('Can define variables via Sass') {
        @include assert {
            @include output {
                :root {
                    @include define-var(space, 1em);
                }
            }
            @include expect {
                :root {
                    --space: 1em;
                }
            }
        }

        @include assert {
            @include output {
                :root {
                    @include define-vars(
                        (
                            space: 2em,
                            color: black
                        )
                    );
                }
            }
            @include expect {
                :root {
                    --space: 2em;
                    --color: black;
                }
            }
        }
    }
    @include test('Can get defined variables') {
        @include assert {
            @include output {
                :root {
                    --space: 2em;
                }

                div {
                    padding: get-var(space, 1em);
                }
            }
            @include expect {
                :root {
                    --space: 2em;
                }

                div {
                    padding: var(--space, 1em);
                }
            }
        }
        @include assert {
            @include output {
                :root {
                    --space: 2em;
                }

                div {
                    padding: v(space, 1em);
                }
            }
            @include expect {
                :root {
                    --space: 2em;
                }

                div {
                    padding: var(--space, 1em);
                }
            }
        }
    }
}
