@use "../../node_modules/sass-true" as *;
@use "../../src/theme/media.scss" as styler;

@include test-module("media [mixin]") {
    @include test('Can setup medias') {
        @include assert {
            @include output {
                @include styler.media(320px) {
                    color: red;
                }
            }
            @include expect {
                @media (min-width: 320px) {
                    color: red;
                }
            }
        }
        @include assert {
            @include output {
                @include styler.media(max 320px) {
                    color: red;
                }
            }
            @include expect {
                @media (max-width: 320px) {
                    color: red;
                }
            }
        }
        @include assert {
            @include output {
                @include styler.media(height 320px) {
                    color: red;
                }
            }
            @include expect {
                @media (min-height: 320px) {
                    color: red;
                }
            }
        }
    }
    @include test('Can setup complex media') {
        @include assert {
            @include output {
                @include styler.media(screen 320px) {
                    color: red;
                }
            }
            @include expect {
                @media only screen and (min-width: 320px) {
                    color: red;
                }
            }
        }
        @include assert {
            @include output {
                @include styler.media(screen (max 320px)) {
                    color: red;
                }
            }
            @include expect {
                @media only screen and (max-width: 320px) {
                    color: red;
                }
            }
        }

        @include assert {
            @include output {
                @include styler.media(screen 320px (max 480px)) {
                    color: red;
                }
            }
            @include expect {
                @media only screen and (min-width: 320px) and (max-width: 480px) {
                    color: red;
                }
            }
        }
        @include assert {
            @include output {
                @include styler.media(screen 320px (max 480px), screen 320px (height 320px), print) {
                    color: red;
                }
            }
            @include expect {
                @media only screen and (min-width: 320px) and (max-width: 480px),
                       only screen and (min-width: 320px) and (min-height: 320px),
                       only print {
                    color: red;
                }
            }
        }
    }
    @include test('Recognise named media queries') {
        @include assert {
            @include output {
                @include styler.media(md) {
                    color: red;
                }
            }
            @include expect {
                @media (min-width: 768px) {
                    color: red;
                }
            }
        }
        @include assert {
            @include output {
                @include styler.media(dark) {
                    color: red;
                }
            }
            @include expect {
                @media (prefers-color-scheme: dark) {
                    color: red;
                }
            }
        }
    }
}
