@use "../../node_modules/sass-true" as *;
@use "../../src/theme/select.scss" as *;

@include test-module("select [mixin]") {
    @include test("Adds selectors from saved list") {
        @include assert {
            @include output {
                @include select(button) {
                    color: black;
                }
                #{select(heading)} {
                    font-weight: 400;
                }
            }
            @include expect {
                button,
                [type=button],
                [type=reset],
                [type=submit] {
                    color: black;
                }

                h1, h2, h3, h4, h5, h6 {
                    font-weight: 400;
                }
            }
        }
    }
}
