@use "../../node_modules/sass-true" as *;
@use "../../src/theme/transition.scss" as *;

@include test-module("transition [mixin]") {
    @include test('Adds transition') {
        @include assert {
            @include output {
                div {
                    @include transition(color);
                }
            }
            @include expect {
                div {
                    transition-property: color;
                    transition-duration: 0.3s;
                    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
                }
            }
        }
        @include assert {
            @include output {
                div {
                    @include transition((color, padding, border-color, background-color));
                }
            }
            @include expect {
                div {
                    transition-property: color, padding, border-color, background-color;
                    transition-duration: 0.3s;
                    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
                }
            }
        }
    }
}
