/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/scale/animate-scale-up-vertical-center.scss" as *;

@include test-module("animate-scale-up-vertical-center [mixin]") {
    @include test("Can add animation animate-scale-up-vertical-center") {
        @include assert {
            @include output {
            @include animate-scale-up-vertical-center();
        }
        @include expect {
	animation: scale-up-ver-center;

	@keyframes scale-up-ver-center {
		0% {
			-webkit-transform: scaleY(0.4);
			transform: scaleY(0.4);
		}

		100% {
			-webkit-transform: scaleY(1);
			transform: scaleY(1);
		}
	}
}        }
    }
}
