/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/scale/animate-scale-in-right.scss" as *;

@include test-module("animate-scale-in-right [mixin]") {
    @include test("Can add animation animate-scale-in-right") {
        @include assert {
            @include output {
            @include animate-scale-in-right();
        }
        @include expect {
	animation: scale-in-right;

	@keyframes scale-in-right {
		0% {
			-webkit-transform: scale(0);
			transform: scale(0);
			-webkit-transform-origin: 100% 50%;
			transform-origin: 100% 50%;
			opacity: 1;
		}

		100% {
			-webkit-transform: scale(1);
			transform: scale(1);
			-webkit-transform-origin: 100% 50%;
			transform-origin: 100% 50%;
			opacity: 1;
		}
	}
}        }
    }
}
