/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/scale/animate-scale-out-horizontal-left.scss" as *;

@include test-module("animate-scale-out-horizontal-left [mixin]") {
    @include test("Can add animation animate-scale-out-horizontal-left") {
        @include assert {
            @include output {
            @include animate-scale-out-horizontal-left();
        }
        @include expect {
	animation: scale-out-hor-left;

	@keyframes scale-out-hor-left {
		0% {
			-webkit-transform: scaleX(1);
			transform: scaleX(1);
			-webkit-transform-origin: 0 0;
			transform-origin: 0 0;
			opacity: 1;
		}

		100% {
			-webkit-transform: scaleX(0);
			transform: scaleX(0);
			-webkit-transform-origin: 0 0;
			transform-origin: 0 0;
			opacity: 1;
		}
	}
}        }
    }
}
