/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/kenburns/animate-kenburns-top-right.scss" as *;

@include test-module("animate-kenburns-top-right [mixin]") {
    @include test("Can add animation animate-kenburns-top-right") {
        @include assert {
            @include output {
            @include animate-kenburns-top-right();
        }
        @include expect {
	animation: kenburns-top-right;

	@keyframes kenburns-top-right {
		0% {
			-webkit-transform: scale(1) translate(0, 0);
			transform: scale(1) translate(0, 0);
			-webkit-transform-origin: 84% 16%;
			transform-origin: 84% 16%;
		}

		100% {
			-webkit-transform: scale(1.25) translate(20px, -15px);
			transform: scale(1.25) translate(20px, -15px);
			-webkit-transform-origin: right top;
			transform-origin: right top;
		}
	}
}        }
    }
}
