/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/kenburns/animate-kenburns-bottom-left.scss" as *;

@include test-module("animate-kenburns-bottom-left [mixin]") {
    @include test("Can add animation animate-kenburns-bottom-left") {
        @include assert {
            @include output {
            @include animate-kenburns-bottom-left();
        }
        @include expect {
	animation: kenburns-bottom-left;

	@keyframes kenburns-bottom-left {
		0% {
			-webkit-transform: scale(1) translate(0, 0);
			transform: scale(1) translate(0, 0);
			-webkit-transform-origin: 16% 84%;
			transform-origin: 16% 84%;
		}

		100% {
			-webkit-transform: scale(1.25) translate(-20px, 15px);
			transform: scale(1.25) translate(-20px, 15px);
			-webkit-transform-origin: left bottom;
			transform-origin: left bottom;
		}
	}
}        }
    }
}
