@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate pulsate
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @group animation
/// @link https://animista.net/

@mixin animate-pulsate($animation-settings: null) {
  @include animation-name-or-shorthand(pulsate, $animation-settings);

  @include keyframes(pulsate) {
    0% {
      transform: scale3d(1, 1, 1);
    }

    50% {
      transform: scale3d(1.05, 1.05, 1.05);
    }

    100% {
      transform: scale3d(1, 1, 1);
    }
  }
}
