@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate pulsate forward
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @link https://animista.net/

@mixin animate-pulsate-forward($animation-settings: null) {
  @include animation-name-or-shorthand(pulsate-fwd, $animation-settings);

  @include keyframes(pulsate-fwd) {
    0%,
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }

    50% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
}

