@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate flip horizontal bottom
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @group animation
/// @link https://animista.net/

@mixin animate-flip-horizontal-bottom($animation-settings: null) {
  @include animation-name-or-shorthand(flip-horizontal-bottom, $animation-settings);

  @include keyframes(flip-horizontal-bottom) {
    0% {
      -webkit-transform: rotateX(0);
      transform: rotateX(0);
    }

    100% {
      -webkit-transform: rotateX(-180deg);
      transform: rotateX(-180deg);
    }
  }
}

