@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

@mixin animate-flip-out-diagonal-2-top-left($animation-settings: null) {
  @include animation-name-or-shorthand(flip-out-diag-2-tl, $animation-settings);

  @include keyframes(flip-out-diag-2-tl) {
    0% {
      -webkit-transform: rotate3d(1, 1, 0, 0deg);
      transform: rotate3d(1, 1, 0, 0deg);
      opacity: 1;
    }

    100% {
      -webkit-transform: rotate3d(-1, 1, 0, -70deg);
      transform: rotate3d(-1, 1, 0, -70deg);
      opacity: 0;
    }
  }
}

