@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate flip in vertical left
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @group animation
/// @link https://animista.net/

@mixin animate-flip-in-vertical-left($animation-settings: null) {
  @include animation-name-or-shorthand(flip-in-ver-left, $animation-settings);

  @include keyframes(flip-in-ver-left) {
    0% {
      -webkit-transform: rotateY(80deg);
      transform: rotateY(80deg);
      opacity: 0;
    }

    100% {
      -webkit-transform: rotateY(0);
      transform: rotateY(0);
      opacity: 1;
    }
  }
}

