@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate flip out horizontal top
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @link https://animista.net/

@mixin animate-flip-out-horizontal-top($animation-settings: null) {
  @include animation-name-or-shorthand(flip-out-hor-top, $animation-settings);

  @include keyframes(flip-out-hor-top) {
    0% {
      -webkit-transform: rotateX(0);
      transform: rotateX(0);
      opacity: 1;
    }

    100% {
      -webkit-transform: rotateX(70deg);
      transform: rotateX(70deg);
      opacity: 0;
    }
  }
}

