@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

@mixin animate-flip-diagonal-1-backward($animation-settings: null) {
  @include animation-name-or-shorthand(flip-diagonal-1-bck, $animation-settings);

  @include keyframes(flip-diagonal-1-bck) {
    0% {
      -webkit-transform: translateZ(0) rotate3d(1, 1, 0, 0deg);
      transform: translateZ(0) rotate3d(1, 1, 0, 0deg);
    }

    100% {
      -webkit-transform: translateZ(-260px) rotate3d(1, 1, 0, -180deg);
      transform: translateZ(-260px) rotate3d(1, 1, 0, -180deg);
    }
  }
}

