@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate flip vertical backward
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @group animation
/// @link https://animista.net/

@mixin animate-flip-vertical-backward($animation-settings: null) {
  @include animation-name-or-shorthand(flip-vertical-bck, $animation-settings);

  @include keyframes(flip-vertical-bck) {
    0% {
      -webkit-transform: translateZ(0) rotateY(0);
      transform: translateZ(0) rotateY(0);
    }

    100% {
      -webkit-transform: translateZ(-260px) rotateY(-180deg);
      transform: translateZ(-260px) rotateY(-180deg);
    }
  }
}

