@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

@mixin animate-flip-horizontal-forward($animation-settings: null) {
  @include animation-name-or-shorthand(flip-horizontal-fwd, $animation-settings);

  @include keyframes(flip-horizontal-fwd) {
    0% {
      -webkit-transform: translateZ(0) rotateX(0);
      transform: translateZ(0) rotateX(0);
    }

    100% {
      -webkit-transform: translateZ(160px) rotateX(-180deg);
      transform: translateZ(160px) rotateX(-180deg);
    }
  }
}

