/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/color/animate-color-change-2x.scss" as *;

@include test-module("animate-color-change-2x [mixin]") {
    @include test("Can add animation animate-color-change-2x") {
        @include assert {
            @include output {
            @include animate-color-change-2x();
        }
        @include expect {
            animation: color-change-2x;

            @keyframes color-change-2x {
                0% {
      background: #19dcea;
    }

                100% {
      background: #b22cff;
    }
  }
}        }
    }
}
