/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/color/animate-color-change-5x.scss" as *;

@include test-module("animate-color-change-5x [mixin]") {
    @include test("Can add animation animate-color-change-5x") {
        @include assert {
            @include output {
            @include animate-color-change-5x();
        }
        @include expect {
	animation: color-change-5x;

	@keyframes color-change-5x {
		0% {
			background: #19dcea;
		}

		25% {
			background: #b22cff;
		}

		50% {
			background: #ea2222;
		}

		75% {
			background: #f5be10;
		}

		100% {
			background: #3bd80d;
		}
	}
}

        }
    }
}
