@use "../../utility/keyframes" as *;

/// Animate shadow inset top right
/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@mixin animate-shadow-inset-top-right($animation-settings: null) {
	animation: if($animation-settings, #{"shadow-inset-tr #{$animation-settings}"}, shadow-inset-tr);

	@include keyframes(shadow-inset-tr) {
		0% {
			-webkit-box-shadow: inset 0 0 0 0 transparent;
			box-shadow: inset 0 0 0 0 transparent;
		}

		100% {
			-webkit-box-shadow: inset -6px 6px 14px -6px rgba(0, 0, 0, 0.5);
			box-shadow: inset -6px 6px 14px -6px rgba(0, 0, 0, 0.5);
		}
	}
}

