@use "../../utility/keyframes" as *;

/// Animate shadow drop left
/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@mixin animate-shadow-drop-left($animation-settings: null) {
	animation: if($animation-settings, #{"shadow-drop-left #{$animation-settings}"}, shadow-drop-left);

	@include keyframes(shadow-drop-left) {
		0% {
			-webkit-box-shadow: 0 0 0 0 transparent;
			box-shadow: 0 0 0 0 transparent;
		}

		100% {
			-webkit-box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35);
			box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35);
		}
	}
}

