@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate bounce in right
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @group animation
/// @link https://animista.net/

@mixin animate-bounce-in-right($animation-settings: null) {
  @include animation-name-or-shorthand(bounce-in-right, $animation-settings);

  @include keyframes(bounce-in-right) {
    0% {
      -webkit-transform: translateX(600px);
      transform: translateX(600px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 0;
    }

    38% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      opacity: 1;
    }

    55% {
      -webkit-transform: translateX(68px);
      transform: translateX(68px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }

    72%,
    90%,
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }

    81% {
      -webkit-transform: translateX(32px);
      transform: translateX(32px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }

    95% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
  }
}

