@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate bounce out right
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @group animation
/// @link https://animista.net/

@mixin animate-bounce-out-right($animation-settings: null) {
  @include animation-name-or-shorthand(bounce-out-right, $animation-settings);

  @include keyframes(bounce-out-right) {
    0%,
    15%,
    38%,
    65% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }

    5% {
      -webkit-transform: translateX(30px);
      transform: translateX(30px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }

    25% {
      -webkit-transform: translateX(38px);
      transform: translateX(38px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }

    52% {
      -webkit-transform: translateX(80px);
      transform: translateX(80px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }

    85% {
      opacity: 1;
    }

    100% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
    }
  }
}

