@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

@mixin animate-bounce-out-bottom($animation-settings: null) {
  @include animation-name-or-shorthand(bounce-out-bottom, $animation-settings);

  @include keyframes(bounce-out-bottom) {
    0%,
    15%,
    38%,
    70% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }

    5% {
      -webkit-transform: translateY(30px);
      transform: translateY(30px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }

    25% {
      -webkit-transform: translateY(38px);
      transform: translateY(38px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }

    52% {
      -webkit-transform: translateY(75px);
      transform: translateY(75px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }

    85% {
      opacity: 1;
    }

    100% {
      -webkit-transform: translateY(800px);
      transform: translateY(800px);
      opacity: 0;
    }
  }
}

