@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate bounce out backward
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @group animation
/// @link https://animista.net/

@mixin animate-bounce-out-backward($animation-settings: null) {
  @include animation-name-or-shorthand(bounce-out-bck, $animation-settings);

  @include keyframes(bounce-out-bck) {
    0%,
    15%,
    38% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }

    5% {
      -webkit-transform: translateZ(-100px);
      transform: translateZ(-100px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }

    25% {
      -webkit-transform: translateZ(-110px);
      transform: translateZ(-110px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }

    52% {
      -webkit-transform: translateZ(-200px);
      transform: translateZ(-200px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }

    70% {
      -webkit-transform: translateZ(0) scale(1);
      transform: translateZ(0) scale(1);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }

    85% {
      opacity: 1;
    }

    100% {
      -webkit-transform: translateZ(-900px) scale(0);
      transform: translateZ(-900px) scale(0);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 0;
    }
  }
}

