@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate bounce bottom
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @group animation
/// @link https://animista.net/

@mixin animate-bounce-bottom($animation-settings: null) {
  @include animation-name-or-shorthand(bounce-bottom, $animation-settings);

  @include keyframes(bounce-bottom) {
    0% {
      -webkit-transform: translateY(45px);
      transform: translateY(45px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 1;
    }

    24% {
      opacity: 1;
    }

    40% {
      -webkit-transform: translateY(24px);
      transform: translateY(24px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }

    65% {
      -webkit-transform: translateY(12px);
      transform: translateY(12px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }

    82% {
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }

    93% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }

    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }

    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      opacity: 1;
    }
  }
}

