@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate bounce in backward
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @link https://animista.net/

@mixin animate-bounce-in-backward($animation-settings: null) {
  @include animation-name-or-shorthand(bounce-in-bck, $animation-settings);

  @include keyframes(bounce-in-bck) {
    0% {
      -webkit-transform: scale(7);
      transform: scale(7);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 0;
    }

    38% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      opacity: 1;
    }

    55% {
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }

    72%,
    89%,
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }

    81% {
      -webkit-transform: scale(1.24);
      transform: scale(1.24);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }

    95% {
      -webkit-transform: scale(1.04);
      transform: scale(1.04);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
  }
}

