/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/slit/animate-slit-in-horizontal.scss" as *;

@include test-module("animate-slit-in-horizontal [mixin]") {
    @include test("Can add animation animate-slit-in-horizontal") {
        @include assert {
            @include output {
            @include animate-slit-in-horizontal();
        }
        @include expect {
	animation: slit-in-horizontal;

	@keyframes slit-in-horizontal {
		0% {
			-webkit-transform: translateZ(-800px) rotateX(90deg);
			transform: translateZ(-800px) rotateX(90deg);
			opacity: 0;
		}

		54% {
			-webkit-transform: translateZ(-160px) rotateX(87deg);
			transform: translateZ(-160px) rotateX(87deg);
			opacity: 1;
		}

		100% {
			-webkit-transform: translateZ(0) rotateX(0);
			transform: translateZ(0) rotateX(0);
		}
	}
}        }
    }
}
