/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/slit/animate-slit-in-diagonal-2.scss" as *;

@include test-module("animate-slit-in-diagonal-2 [mixin]") {
    @include test("Can add animation animate-slit-in-diagonal-2") {
        @include assert {
            @include output {
            @include animate-slit-in-diagonal-2();
        }
        @include expect {
	animation: slit-in-diagonal-2;

	@keyframes slit-in-diagonal-2 {
		0% {
			-webkit-transform: translateZ(-800px) rotate3d(-1, 1, 0, -90deg);
			transform: translateZ(-800px) rotate3d(-1, 1, 0, -90deg);
			-webkit-animation-timing-function: ease-in;
	            animation-timing-function: ease-in;
			opacity: 0;
		}

		54% {
			-webkit-transform: translateZ(-160px) rotate3d(-1, 1, 0, -87deg);
			transform: translateZ(-160px) rotate3d(-1, 1, 0, -87deg);
			-webkit-animation-timing-function: ease-in-out;
	            animation-timing-function: ease-in-out;
			opacity: 1;
		}

		100% {
			-webkit-transform: translateZ(0) rotate3d(-1, 1, 0, 0);
			transform: translateZ(0) rotate3d(-1, 1, 0, 0);
			-webkit-animation-timing-function: ease-out;
	            animation-timing-function: ease-out;
		}
	}
}        }
    }
}
