@use "../../utility/keyframes" as *;

/// Animate flip vertical backward
/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@mixin animate-flip-vertical-backward($animation-settings: null) {
	animation: if($animation-settings, #{"flip-vertical-bck #{$animation-settings}"}, flip-vertical-bck);

	@include keyframes(flip-vertical-bck) {
		0% {
			-webkit-transform: translateZ(0) rotateY(0);
			transform: translateZ(0) rotateY(0);
		}

		100% {
			-webkit-transform: translateZ(-260px) rotateY(-180deg);
			transform: translateZ(-260px) rotateY(-180deg);
		}
	}
}

