@use "../../utility/keyframes" as *;

/// Animate flip in diagonal 2 bottom right
/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@mixin animate-flip-in-diagonal-2-bottom-right($animation-settings: null) {
	animation: if($animation-settings, #{"flip-in-diag-2-br #{$animation-settings}"}, flip-in-diag-2-br);

	@include keyframes(flip-in-diag-2-br) {
		0% {
			-webkit-transform: rotate3d(-1, 1, 0, -80deg);
			transform: rotate3d(-1, 1, 0, -80deg);
			opacity: 0;
		}

		100% {
			-webkit-transform: rotate3d(1, 1, 0, 0deg);
			transform: rotate3d(1, 1, 0, 0deg);
			opacity: 1;
		}
	}
}

