@use "../../utility/keyframes" as *;

/// Animate flip vertical left
/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@mixin animate-flip-vertical-left($animation-settings: null) {
	animation: if($animation-settings, #{"flip-vertical-left #{$animation-settings}"}, flip-vertical-left);

	@include keyframes(flip-vertical-left) {
		0% {
			-webkit-transform: rotateY(0);
			transform: rotateY(0);
		}

		100% {
			-webkit-transform: rotateY(-180deg);
			transform: rotateY(-180deg);
		}
	}
}

