@use "../../utility/keyframes" as *;

/// Animate flip in horizontal bottom
/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@mixin animate-flip-in-horizontal-bottom($animation-settings: null) {
	animation: if($animation-settings, #{"flip-in-hor-bottom #{$animation-settings}"}, flip-in-hor-bottom);

	@include keyframes(flip-in-hor-bottom) {
		0% {
			-webkit-transform: rotateX(80deg);
			transform: rotateX(80deg);
			opacity: 0;
		}

		100% {
			-webkit-transform: rotateX(0);
			transform: rotateX(0);
			opacity: 1;
		}
	}
}

