@use "../../utility/keyframes" as *;

/// Animate flip 2 vertical right forward
/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@mixin animate-flip-2-vertical-right-forward($animation-settings: null) {
	animation: if($animation-settings, #{"flip-2-ver-right-fwd #{$animation-settings}"}, flip-2-ver-right-fwd);

	@include keyframes(flip-2-ver-right-fwd) {
		0% {
			-webkit-transform: translateX(0) translateZ(0) rotateY(0);
			transform: translateX(0) translateZ(0) rotateY(0);
			-webkit-transform-origin: 100% 50%;
			transform-origin: 100% 50%;
		}

		100% {
			-webkit-transform: translateX(100%) translateZ(160px) rotateY(-180deg);
			transform: translateX(100%) translateZ(160px) rotateY(-180deg);
			-webkit-transform-origin: 0% 50%;
			transform-origin: 0% 50%;
		}
	}
}

