@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate slide forward bottom right
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @link https://animista.net/

@mixin animate-slide-forward-bottom-right($animation-settings: null) {
  @include animation-name-or-shorthand(slide-fwd-br, $animation-settings);

  @include keyframes(slide-fwd-br) {
    0% {
      -webkit-transform: translateZ(0) translateY(0) translateX(0);
      transform: translateZ(0) translateY(0) translateX(0);
    }

    100% {
      -webkit-transform: translateZ(160px) translateY(100px) translateX(100px);
      transform: translateZ(160px) translateY(100px) translateX(100px);
    }
  }
}

