@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate slide out elliptic left backward
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @group animation
/// @link https://animista.net/

@mixin animate-slide-out-elliptic-left-backward($animation-settings: null) {
  @include animation-name-or-shorthand(slide-out-elliptic-left-bck, $animation-settings);

  @include keyframes(slide-out-elliptic-left-bck) {
    0% {
      -webkit-transform: translateX(0) rotateY(0) scale(1);
      transform: translateX(0) rotateY(0) scale(1);
      -webkit-transform-origin: 2000px 50%;
      transform-origin: 2000px 50%;
      opacity: 1;
    }

    100% {
      -webkit-transform: translateX(-1000px) rotateY(30deg) scale(0);
      transform: translateX(-1000px) rotateY(30deg) scale(0);
      -webkit-transform-origin: -100% 50%;
      transform-origin: -100% 50%;
      opacity: 1;
    }
  }
}

