@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate slide rotate vertical left
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @link https://animista.net/

@mixin animate-slide-rotate-vertical-left($animation-settings: null) {
  @include animation-name-or-shorthand(slide-rotate-ver-left, $animation-settings);

  @include keyframes(slide-rotate-ver-left) {
    0% {
      -webkit-transform: translateX(0) rotateY(0);
      transform: translateX(0) rotateY(0);
    }

    100% {
      -webkit-transform: translateX(-150px) rotateY(90deg);
      transform: translateX(-150px) rotateY(90deg);
    }
  }
}

