@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

@mixin animate-slide-in-forward-bottom-right($animation-settings: null) {
  @include animation-name-or-shorthand(slide-in-fwd-br, $animation-settings);

  @include keyframes(slide-in-fwd-br) {
    0% {
      -webkit-transform:
        translateZ(-1400px) translateY(800px)
        translateX(1000px);
      transform: translateZ(-1400px) translateY(800px) translateX(1000px);
      opacity: 0;
    }

    100% {
      -webkit-transform: translateZ(0) translateY(0) translateX(0);
      transform: translateZ(0) translateY(0) translateX(0);
      opacity: 1;
    }
  }
}

