@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate slide in backward top
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @link https://animista.net/

@mixin animate-slide-in-backward-top($animation-settings: null) {
  @include animation-name-or-shorthand(slide-in-bck-top, $animation-settings);

  @include keyframes(slide-in-bck-top) {
    0% {
      -webkit-transform: translateZ(700px) translateY(-300px);
      transform: translateZ(700px) translateY(-300px);
      opacity: 0;
    }

    100% {
      -webkit-transform: translateZ(0) translateY(0);
      transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
}

