@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

@mixin animate-slide-out-forward-top($animation-settings: null) {
  @include animation-name-or-shorthand(slide-out-fwd-top, $animation-settings);

  @include keyframes(slide-out-fwd-top) {
    0% {
      -webkit-transform: translateZ(1) translateY(0);
      transform: translateZ(1) translateY(0);
      opacity: 1;
    }

    100% {
      -webkit-transform: translateZ(600px) translateY(-300px);
      transform: translateZ(600px) translateY(-300px);
      opacity: 0;
    }
  }
}

