@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate slide bottom left
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @group animation
/// @link https://animista.net/

@mixin animate-slide-bottom-left($animation-settings: null) {
  @include animation-name-or-shorthand(slide-bl, $animation-settings);

  @include keyframes(slide-bl) {
    0% {
      -webkit-transform: translateY(0) translateX(0);
      transform: translateY(0) translateX(0);
    }

    100% {
      -webkit-transform: translateY(100px) translateX(-100px);
      transform: translateY(100px) translateX(-100px);
    }
  }
}

