@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate slide rotate horizontal t backward
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @link https://animista.net/

@mixin animate-slide-rotate-horizontal-t-backward($animation-settings: null) {
  @include animation-name-or-shorthand(slide-rotate-hor-t-bck, $animation-settings);

  @include keyframes(slide-rotate-hor-t-bck) {
    0% {
      -webkit-transform: translateY(0) translateZ(0) rotateX(0deg);
      transform: translateY(0) translateZ(0) rotateX(0deg);
      -webkit-transform-origin: top center;
      transform-origin: top center;
    }

    100% {
      -webkit-transform: translateY(-150px) translateZ(-230px) rotateX(-90deg);
      transform: translateY(-150px) translateZ(-230px) rotateX(-90deg);
      -webkit-transform-origin: top center;
      transform-origin: top center;
    }
  }
}

