@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

@mixin animate-slide-rotate-horizontal-bottom($animation-settings: null) {
  @include animation-name-or-shorthand(slide-rotate-hor-bottom, $animation-settings);

  @include keyframes(slide-rotate-hor-bottom) {
    0% {
      -webkit-transform: translateY(0) rotateX(0deg);
      transform: translateY(0) rotateX(0deg);
    }

    100% {
      -webkit-transform: translateY(150px) rotateX(90deg);
      transform: translateY(150px) rotateX(90deg);
    }
  }
}

