@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate slide in forward right
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @group animation
/// @link https://animista.net/

@mixin animate-slide-in-forward-right($animation-settings: null) {
  @include animation-name-or-shorthand(slide-in-fwd-right, $animation-settings);

  @include keyframes(slide-in-fwd-right) {
    0% {
      -webkit-transform: translateZ(-1400px) translateX(1000px);
      transform: translateZ(-1400px) translateX(1000px);
      opacity: 0;
    }

    100% {
      -webkit-transform: translateZ(0) translateX(0);
      transform: translateZ(0) translateX(0);
      opacity: 1;
    }
  }
}

