@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate slide backward top left
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @group animation
/// @link https://animista.net/

@mixin animate-slide-backward-top-left($animation-settings: null) {
  @include animation-name-or-shorthand(slide-bck-tl, $animation-settings);

  @include keyframes(slide-bck-tl) {
    0% {
      -webkit-transform: translateZ(0) translateY(0) translateX(0);
      transform: translateZ(0) translateY(0) translateX(0);
    }

    100% {
      -webkit-transform:
        translateZ(-400px) translateY(-200px)
        translateX(-200px);
      transform: translateZ(-400px) translateY(-200px) translateX(-200px);
    }
  }
}

