@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate slide out backward bottom
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @link https://animista.net/

@mixin animate-slide-out-backward-bottom($animation-settings: null) {
  @include animation-name-or-shorthand(slide-out-bck-bottom, $animation-settings);

  @include keyframes(slide-out-bck-bottom) {
    0% {
      -webkit-transform: translateZ(0) translateY(0);
      transform: translateZ(0) translateY(0);
      opacity: 1;
    }

    100% {
      -webkit-transform: translateZ(-1100px) translateY(1000px);
      transform: translateZ(-1100px) translateY(1000px);
      opacity: 0;
    }
  }
}

