/// Common mathematical constants

/// The base of the natural logarithm
/// @group math

$E: 2.718281828459045;

/// Pi
/// @group math

$PI: 3.141592653589793;

/// The natural logarithm of 2
/// @group math

$LN2: 0.6931471805599453;

/// The quare root of 2
/// @group math

$SQRT2: 1.4142135623730951;
