@use "constants" as *;
@use "unitless-rad" as *;

/// Returns the cosine of a number
/// @example
///   $result: cos(0.7854); /* 0.70711 */
///   $result: cos(45deg);  /* 0.70711 */
/// @param {Number} $x X
/// @return {Number}
/// @link https://github.com/terkel/mathsass/blob/master/dist/functions/_cos.scss
/// @group math

@function cos($x) {
  $x: unitless-rad($x) % ($PI * 2);
  $ret: 1;
  $i: 1;

  @for $n from 1 to 24 {
    $i: $i * -1 * $x * $x / (2 * $n) / (2 * $n - 1);
    $ret: $ret + $i;
  }

  @return $ret;
}
