/// A good approximation for $x close to 0
/// @param {Number} $x X
/// @return {Number}
/// @link https://github.com/terkel/mathsass/blob/master/dist/functions/_exp.scss

@function exp-approx($x) {
  $ret: 0;
  $i: 1;

  @for $n from 0 to 24 {
    $ret: $ret + $i;
    $i: $i * $x / ($n + 1);
  }

  @return $ret;
}
