/// A good aproximation for $x close to 1
/// @param {Number} $x X
/// @return {Number}
/// @link https://github.com/terkel/mathsass/blob/master/dist/functions/_log.scss
/// @group math

@function log-approx($x) {
  $x: ($x - 1) / ($x + 1);
  $x2: $x * $x;
  $i: 1;
  $s: $x;
  $sp: null;

  @while $sp != $s {
    $x: $x * $x2;
    $i: $i + 2;
    $sp: $s;
    $s: $s + $x / $i;
  }

  @return 2 * $s;
}
