@use "../../utility/keyframes" as *;

/// Animate kenburns bottom left
/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@mixin animate-kenburns-bottom-left($animation-settings: null) {
	animation: if($animation-settings, #{"kenburns-bottom-left #{$animation-settings}"}, kenburns-bottom-left);

	@include keyframes(kenburns-bottom-left) {
		0% {
			-webkit-transform: scale(1) translate(0, 0);
			transform: scale(1) translate(0, 0);
			-webkit-transform-origin: 16% 84%;
			transform-origin: 16% 84%;
		}

		100% {
			-webkit-transform: scale(1.25) translate(-20px, 15px);
			transform: scale(1.25) translate(-20px, 15px);
			-webkit-transform-origin: left bottom;
			transform-origin: left bottom;
		}
	}
}

