@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate color change 5x
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @link https://animista.net/

@mixin animate-color-change-5x($animation-settings: null) {
  @include animation-name-or-shorthand(color-change-5x, $animation-settings);

  @include keyframes(color-change-5x) {
    0% {
      background: #19dcea;
    }

    25% {
      background: #b22cff;
    }

    50% {
      background: #ea2222;
    }

    75% {
      background: #f5be10;
    }

    100% {
      background: #3bd80d;
    }
  }
}
