@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate text focus in
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @group animation
/// @link https://animista.net/

@mixin animate-text-focus-in($animation-settings: null) {
  @include animation-name-or-shorthand(text-focus-in, $animation-settings);

  @include keyframes(text-focus-in) {
    0% {
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
    }

    100% {
      -webkit-filter: blur(0);
      filter: blur(0);
      opacity: 1;
    }
  }
}

