@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

@mixin animate-text-shadow-pop-bottom-left($animation-settings: null) {
  @include animation-name-or-shorthand(text-shadow-pop-bl, $animation-settings);

  @include keyframes(text-shadow-pop-bl) {
    0% {
      text-shadow:
        0 0 #555,
        0 0 #555,
        0 0 #555,
        0 0 #555,
        0 0 #555,
        0 0 #555,
        0 0 #555,
        0 0 #555;
      -webkit-transform: translateX(0) translateY(0);
      transform: translateX(0) translateY(0);
    }

    100% {
      text-shadow:
        -1px 1px #555,
        -2px 2px #555,
        -3px 3px #555,
        -4px 4px #555,
        -5px 5px #555,
        -6px 6px #555,
        -7px 7px #555,
        -8px 8px #555;
      -webkit-transform: translateX(8px) translateY(-8px);
      transform: translateX(8px) translateY(-8px);
    }
  }
}

