/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/swing/animate-swing-out-right-backward.scss" as *;

@include test-module("animate-swing-out-right-backward [mixin]") {
    @include test("Can add animation animate-swing-out-right-backward") {
        @include assert {
            @include output {
            @include animate-swing-out-right-backward();
        }
        @include expect {
	animation: swing-out-right-bck;

	@keyframes swing-out-right-bck {
		0% {
			-webkit-transform: rotateY(0);
			transform: rotateY(0);
			-webkit-transform-origin: right;
			transform-origin: right;
			opacity: 1;
		}

		100% {
			-webkit-transform: rotateY(-100deg);
			transform: rotateY(-100deg);
			-webkit-transform-origin: right;
			transform-origin: right;
			opacity: 0;
		}
	}
}        }
    }
}
