/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/swing/animate-swing-in-top-backward.scss" as *;

@include test-module("animate-swing-in-top-backward [mixin]") {
    @include test("Can add animation animate-swing-in-top-backward") {
        @include assert {
            @include output {
            @include animate-swing-in-top-backward();
        }
        @include expect {
	animation: swing-in-top-bck;

	@keyframes swing-in-top-bck {
		0% {
			-webkit-transform: rotateX(70deg);
			transform: rotateX(70deg);
			-webkit-transform-origin: top;
			transform-origin: top;
			opacity: 0;
		}

		100% {
			-webkit-transform: rotateX(0deg);
			transform: rotateX(0deg);
			-webkit-transform-origin: top;
			transform-origin: top;
			opacity: 1;
		}
	}
}        }
    }
}
