/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/swing/animate-swing-bottom-right-forward.scss" as *;

@include test-module("animate-swing-bottom-right-forward [mixin]") {
    @include test("Can add animation animate-swing-bottom-right-forward") {
        @include assert {
            @include output {
            @include animate-swing-bottom-right-forward();
        }
        @include expect {
	animation: swing-bottom-right-fwd;

	@keyframes swing-bottom-right-fwd {
		0% {
			-webkit-transform: rotate3d(-1, 1, 0, 0deg);
			transform: rotate3d(-1, 1, 0, 0deg);
			-webkit-transform-origin: 100% 100%;
			transform-origin: 100% 100%;
		}

		100% {
			-webkit-transform: rotate3d(-1, 1, 0, 180deg);
			transform: rotate3d(-1, 1, 0, 180deg);
			-webkit-transform-origin: 100% 100%;
			transform-origin: 100% 100%;
		}
	}
}        }
    }
}
