@use "../../utility/keyframes" as *;

/// Animate focus in contract
/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@mixin animate-focus-in-contract($animation-settings: null) {
	animation: if($animation-settings, #{"focus-in-contract #{$animation-settings}"}, focus-in-contract);

	@include keyframes(focus-in-contract) {
		0% {
			letter-spacing: 1em;
			-webkit-filter: blur(12px);
			filter: blur(12px);
			opacity: 0;
		}

		100% {
			-webkit-filter: blur(0);
			filter: blur(0);
			opacity: 1;
		}
	}
}

