@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate rotate out 2 top right counter clock wise
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @group animation
/// @link https://animista.net/

@mixin animate-rotate-out-2-top-right-counter-clock-wise($animation-settings: null) {
  @include animation-name-or-shorthand(rotate-out-2-tr-counter-clock-wise, $animation-settings);

  @include keyframes(rotate-out-2-tr-counter-clock-wise) {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
      -webkit-transform-origin: 100% 0%;
      transform-origin: 100% 0%;
      opacity: 1;
    }

    100% {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transform-origin: 100% 0%;
      transform-origin: 100% 0%;
      opacity: 0;
    }
  }
}

