@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate rotate in center
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @group animation
/// @link https://animista.net/

@mixin animate-rotate-in-center($animation-settings: null) {
  @include animation-name-or-shorthand(rotate-in-center, $animation-settings);

  @include keyframes(rotate-in-center) {
    0% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
      opacity: 0;
    }

    100% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
      opacity: 1;
    }
  }
}

