@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

@mixin animate-rotate-out-vertical($animation-settings: null) {
  @include animation-name-or-shorthand(rotate-out-ver, $animation-settings);

  @include keyframes(rotate-out-ver) {
    0% {
      -webkit-transform: rotateY(360deg);
      transform: rotateY(360deg);
      opacity: 1;
    }

    100% {
      -webkit-transform: rotateY(0deg);
      transform: rotateY(0deg);
      opacity: 0;
    }
  }
}

