@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

@mixin animate-rotate-right($animation-settings: null) {
  @include animation-name-or-shorthand(rotate-right, $animation-settings);

  @include keyframes(rotate-right) {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
      -webkit-transform-origin: right;
      transform-origin: right;
    }

    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      -webkit-transform-origin: right;
      transform-origin: right;
    }
  }
}

