@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate rotate in bottom
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @group animation
/// @link https://animista.net/

@mixin animate-rotate-in-bottom($animation-settings: null) {
  @include animation-name-or-shorthand(rotate-in-bottom, $animation-settings);

  @include keyframes(rotate-in-bottom) {
    0% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
      -webkit-transform-origin: bottom;
      transform-origin: bottom;
      opacity: 0;
    }

    100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transform-origin: bottom;
      transform-origin: bottom;
      opacity: 1;
    }
  }
}

