@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate rotate in 2 backward
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @group animation
/// @link https://animista.net/

@mixin animate-rotate-in-2-backward($animation-settings: null) {
  @include animation-name-or-shorthand(rotate-in-2-bck, $animation-settings);

  @include keyframes(rotate-in-2-bck) {
    0% {
      -webkit-transform: translateZ(200px) rotate(45deg);
      transform: translateZ(200px) rotate(45deg);
      opacity: 0;
    }

    100% {
      -webkit-transform: translateZ(0) rotate(0);
      transform: translateZ(0) rotate(0);
      opacity: 1;
    }
  }
}

