@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

@mixin animate-rotate-90-horizontal-forward($animation-settings: null) {
  @include animation-name-or-shorthand(rotate-90-horizontal-fwd, $animation-settings);

  @include keyframes(rotate-90-horizontal-fwd) {
    0% {
      -webkit-transform: rotateX(0);
      transform: rotateX(0);
    }

    100% {
      -webkit-transform: rotateX(90deg);
      transform: rotateX(90deg);
    }
  }
}

