@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

@mixin animate-rotate-vert-center($animation-settings: null) {
  @include animation-name-or-shorthand(rotate-vert-center, $animation-settings);

  @include keyframes(rotate-vert-center) {
    0% {
      -webkit-transform: rotateY(0);
      transform: rotateY(0);
    }

    100% {
      -webkit-transform: rotateY(360deg);
      transform: rotateY(360deg);
    }
  }
}

