@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate rotate vert left
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @group animation
/// @link https://animista.net/

@mixin animate-rotate-vert-left($animation-settings: null) {
  @include animation-name-or-shorthand(rotate-vert-left, $animation-settings);

  @include keyframes(rotate-vert-left) {
    0% {
      -webkit-transform: rotateY(0);
      transform: rotateY(0);
      -webkit-transform-origin: left;
      transform-origin: left;
    }

    100% {
      -webkit-transform: rotateY(360deg);
      transform: rotateY(360deg);
      -webkit-transform-origin: left;
      transform-origin: left;
    }
  }
}

