@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate rotate out top left
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @group animation
/// @link https://animista.net/

@mixin animate-rotate-out-top-left($animation-settings: null) {
  @include animation-name-or-shorthand(rotate-out-tl, $animation-settings);

  @include keyframes(rotate-out-tl) {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
      -webkit-transform-origin: top left;
      transform-origin: top left;
      opacity: 1;
    }

    100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
      -webkit-transform-origin: top left;
      transform-origin: top left;
      opacity: 0;
    }
  }
}

