@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate rotate vert right
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @group animation
/// @link https://animista.net/

@mixin animate-rotate-vert-right($animation-settings: null) {
  @include animation-name-or-shorthand(rotate-vert-right, $animation-settings);

  @include keyframes(rotate-vert-right) {
    0% {
      -webkit-transform: rotateY(0);
      transform: rotateY(0);
      -webkit-transform-origin: right;
      transform-origin: right;
    }

    100% {
      -webkit-transform: rotateY(-360deg);
      transform: rotateY(-360deg);
      -webkit-transform-origin: right;
      transform-origin: right;
    }
  }
}

