@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate rotate scale down diagonal 2
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @group animation
/// @link https://animista.net/

@mixin animate-rotate-scale-down-diagonal-2($animation-settings: null) {
  @include animation-name-or-shorthand(rotate-scale-down-diag-2, $animation-settings);

  @include keyframes(rotate-scale-down-diag-2) {
    0% {
      -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
      transform: scale(1) rotate3d(-1, 1, 0, 0deg);
    }

    50% {
      -webkit-transform: scale(0.5) rotate3d(-1, 1, 0, 180deg);
      transform: scale(0.5) rotate3d(-1, 1, 0, 180deg);
    }

    100% {
      -webkit-transform: scale(1) rotate3d(-1, 1, 0, 360deg);
      transform: scale(1) rotate3d(-1, 1, 0, 360deg);
    }
  }
}

