@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate rotate horizontal bottom
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @link https://animista.net/

@mixin animate-rotate-horizontal-bottom($animation-settings: null) {
  @include animation-name-or-shorthand(rotate-hor-bottom, $animation-settings);

  @include keyframes(rotate-hor-bottom) {
    0% {
      -webkit-transform: rotateX(0);
      transform: rotateX(0);
      -webkit-transform-origin: bottom;
      transform-origin: bottom;
    }

    100% {
      -webkit-transform: rotateX(360deg);
      transform: rotateX(360deg);
      -webkit-transform-origin: bottom;
      transform-origin: bottom;
    }
  }
}

