@use "../../utility/keyframes" as *;

/// Animate fade in
/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@mixin animate-fade-in($animation-settings: null) {
	animation: if($animation-settings, #{"fade-in #{$animation-settings}"}, fade-in);

	@include keyframes(fade-in) {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}
}

