@use "../../utility/keyframes" as *;

/// Animate fade out backward
/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@mixin animate-fade-out-backward($animation-settings: null) {
	animation: if($animation-settings, #{"fade-out-bck #{$animation-settings}"}, fade-out-bck);

	@include keyframes(fade-out-bck) {
		0% {
			-webkit-transform: translateZ(0);
			transform: translateZ(0);
			opacity: 1;
		}

		100% {
			-webkit-transform: translateZ(-80px);
			transform: translateZ(-80px);
			opacity: 0;
		}
	}
}

