@use "../../utility/keyframes" as *;

/// Animate rotate out vertical
/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@mixin animate-rotate-out-vertical($animation-settings: null) {
	animation: if($animation-settings, #{"rotate-out-ver #{$animation-settings}"}, rotate-out-ver);

	@include keyframes(rotate-out-ver) {
		0% {
			-webkit-transform: rotateY(360deg);
			transform: rotateY(360deg);
			opacity: 1;
		}

		100% {
			-webkit-transform: rotateY(0deg);
			transform: rotateY(0deg);
			opacity: 0;
		}
	}
}

