@use "../../utility/keyframes" as *;

/// Animate rotate left
/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@mixin animate-rotate-left($animation-settings: null) {
	animation: if($animation-settings, #{"rotate-left #{$animation-settings}"}, rotate-left);

	@include keyframes(rotate-left) {
		0% {
			-webkit-transform: rotate(0);
			transform: rotate(0);
			-webkit-transform-origin: left;
			transform-origin: left;
		}

		100% {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
			-webkit-transform-origin: left;
			transform-origin: left;
		}
	}
}

