@use "../../utility/keyframes" as *;

/// Animate rotate scale up horizontal
/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@mixin animate-rotate-scale-up-horizontal($animation-settings: null) {
	animation: if($animation-settings, #{"rotate-scale-up-hor #{$animation-settings}"}, rotate-scale-up-hor);

	@include keyframes(rotate-scale-up-hor) {
		0% {
			-webkit-transform: scale(1) rotateX(0);
			transform: scale(1) rotateX(0);
		}

		50% {
			-webkit-transform: scale(2) rotateX(-180deg);
			transform: scale(2) rotateX(-180deg);
		}

		100% {
			-webkit-transform: scale(1) rotateX(-360deg);
			transform: scale(1) rotateX(-360deg);
		}
	}
}

