@use "../../utility/keyframes" as *;

/// Animate rotate in bottom left
/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@mixin animate-rotate-in-bottom-left($animation-settings: null) {
	animation: if($animation-settings, #{"rotate-in-bl #{$animation-settings}"}, rotate-in-bl);

	@include keyframes(rotate-in-bl) {
		0% {
			-webkit-transform: rotate(-360deg);
			transform: rotate(-360deg);
			-webkit-transform-origin: bottom left;
			transform-origin: bottom left;
			opacity: 0;
		}

		100% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transform-origin: bottom left;
			transform-origin: bottom left;
			opacity: 1;
		}
	}
}

