@use "../../utility/keyframes" as *;

/// Animate rotate in top left
/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@mixin animate-rotate-in-top-left($animation-settings: null) {
	animation: if($animation-settings, #{"rotate-in-tl #{$animation-settings}"}, rotate-in-tl);

	@include keyframes(rotate-in-tl) {
		0% {
			-webkit-transform: rotate(-360deg);
			transform: rotate(-360deg);
			-webkit-transform-origin: top left;
			transform-origin: top left;
			opacity: 0;
		}

		100% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transform-origin: top left;
			transform-origin: top left;
			opacity: 1;
		}
	}
}

