@use "../../utility/keyframes" as *;

/// Animate rotate out bottom left
/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@mixin animate-rotate-out-bottom-left($animation-settings: null) {
	animation: if($animation-settings, #{"rotate-out-bl #{$animation-settings}"}, rotate-out-bl);

	@include keyframes(rotate-out-bl) {
		0% {
			-webkit-transform: rotate(0);
			transform: rotate(0);
			-webkit-transform-origin: bottom left;
			transform-origin: bottom left;
			opacity: 1;
		}

		100% {
			-webkit-transform: rotate(-360deg);
			transform: rotate(-360deg);
			-webkit-transform-origin: bottom left;
			transform-origin: bottom left;
			opacity: 0;
		}
	}
}

