/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/rotate/animate-rotate-90-horizontal-forward.scss" as *;

@include test-module("animate-rotate-90-horizontal-forward [mixin]") {
    @include test("Can add animation animate-rotate-90-horizontal-forward") {
        @include assert {
            @include output {
            @include animate-rotate-90-horizontal-forward();
        }
        @include expect {
	animation: rotate-90-horizontal-fwd;

	@keyframes rotate-90-horizontal-fwd {
		0% {
			-webkit-transform: rotateX(0);
			transform: rotateX(0);
		}

		100% {
			-webkit-transform: rotateX(90deg);
			transform: rotateX(90deg);
		}
	}
}        }
    }
}
