/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/rotate/animate-rotate-in-horizontal.scss" as *;

@include test-module("animate-rotate-in-horizontal [mixin]") {
    @include test("Can add animation animate-rotate-in-horizontal") {
        @include assert {
            @include output {
            @include animate-rotate-in-horizontal();
        }
        @include expect {
	animation: rotate-in-hor;

	@keyframes rotate-in-hor {
		0% {
			-webkit-transform: rotateX(360deg);
			transform: rotateX(360deg);
			opacity: 0;
		}

		100% {
			-webkit-transform: rotateX(0deg);
			transform: rotateX(0deg);
			opacity: 1;
		}
	}
}        }
    }
}
