/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/rotate/animate-rotate-in-diagonal-1.scss" as *;

@include test-module("animate-rotate-in-diagonal-1 [mixin]") {
    @include test("Can add animation animate-rotate-in-diagonal-1") {
        @include assert {
            @include output {
            @include animate-rotate-in-diagonal-1();
        }
        @include expect {
	animation: rotate-in-diag-1;

	@keyframes rotate-in-diag-1 {
		0% {
			-webkit-transform: rotate3d(1, 1, 0, -360deg);
			transform: rotate3d(1, 1, 0, -360deg);
			opacity: 0;
		}

		100% {
			-webkit-transform: rotate3d(1, 1, 0, 0deg);
			transform: rotate3d(1, 1, 0, 0deg);
			opacity: 1;
		}
	}
}        }
    }
}
