/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/rotate/animate-rotate-90-top-clock-wise.scss" as *;

@include test-module("animate-rotate-90-top-clock-wise [mixin]") {
    @include test("Can add animation animate-rotate-90-top-clock-wise") {
        @include assert {
            @include output {
            @include animate-rotate-90-top-clock-wise();
        }
        @include expect {
	animation: rotate-90-top-clock-wise;

	@keyframes rotate-90-top-clock-wise {
		0% {
			-webkit-transform: rotate(0);
			transform: rotate(0);
			-webkit-transform-origin: top;
			transform-origin: top;
		}

		100% {
			-webkit-transform: rotate(90deg);
			transform: rotate(90deg);
			-webkit-transform-origin: top;
			transform-origin: top;
		}
	}
}        }
    }
}
