/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/rotate/animate-rotate-out-left.scss" as *;

@include test-module("animate-rotate-out-left [mixin]") {
    @include test("Can add animation animate-rotate-out-left") {
        @include assert {
            @include output {
            @include animate-rotate-out-left();
        }
        @include expect {
	animation: rotate-out-left;

	@keyframes rotate-out-left {
		0% {
			-webkit-transform: rotate(0);
			transform: rotate(0);
			-webkit-transform-origin: left;
			transform-origin: left;
			opacity: 1;
		}

		100% {
			-webkit-transform: rotate(-360deg);
			transform: rotate(-360deg);
			-webkit-transform-origin: left;
			transform-origin: left;
			opacity: 0;
		}
	}
}        }
    }
}
