/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/rotate/animate-rotate-out-2-backward.scss" as *;

@include test-module("animate-rotate-out-2-backward [mixin]") {
    @include test("Can add animation animate-rotate-out-2-backward") {
        @include assert {
            @include output {
            @include animate-rotate-out-2-backward();
        }
        @include expect {
	animation: rotate-out-2-bck;

	@keyframes rotate-out-2-bck {
		0% {
			-webkit-transform: translateZ(0) rotate(0);
			transform: translateZ(0) rotate(0);
			opacity: 1;
		}

		100% {
			-webkit-transform: translateZ(-180px) rotate(-45deg);
			transform: translateZ(-180px) rotate(-45deg);
			opacity: 0;
		}
	}
}        }
    }
}
