/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/rotate/animate-rotate-scale-down-horizontal.scss" as *;

@include test-module("animate-rotate-scale-down-horizontal [mixin]") {
    @include test("Can add animation animate-rotate-scale-down-horizontal") {
        @include assert {
            @include output {
            @include animate-rotate-scale-down-horizontal();
        }
        @include expect {
	animation: rotate-scale-down-hor;

	@keyframes rotate-scale-down-hor {
		0% {
			-webkit-transform: scale(1) rotateX(0);
			transform: scale(1) rotateX(0);
		}

		50% {
			-webkit-transform: scale(0.5) rotateX(-180deg);
			transform: scale(0.5) rotateX(-180deg);
		}

		100% {
			-webkit-transform: scale(1) rotateX(-360deg);
			transform: scale(1) rotateX(-360deg);
		}
	}
}        }
    }
}
