/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/rotate/animate-rotate-in-vertical.scss" as *;

@include test-module("animate-rotate-in-vertical [mixin]") {
    @include test("Can add animation animate-rotate-in-vertical") {
        @include assert {
            @include output {
            @include animate-rotate-in-vertical();
        }
        @include expect {
	animation: rotate-in-ver;

	@keyframes rotate-in-ver {
		0% {
			-webkit-transform: rotateY(-360deg);
			transform: rotateY(-360deg);
			opacity: 0;
		}

		100% {
			-webkit-transform: rotateY(0deg);
			transform: rotateY(0deg);
			opacity: 1;
		}
	}
}        }
    }
}
