/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/rotate/animate-rotate-top-right.scss" as *;

@include test-module("animate-rotate-top-right [mixin]") {
    @include test("Can add animation animate-rotate-top-right") {
        @include assert {
            @include output {
            @include animate-rotate-top-right();
        }
        @include expect {
	animation: rotate-tr;

	@keyframes rotate-tr {
		0% {
			-webkit-transform: rotate(0);
			transform: rotate(0);
			-webkit-transform-origin: top right;
			transform-origin: top right;
		}

		100% {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
			-webkit-transform-origin: top right;
			transform-origin: top right;
		}
	}
}        }
    }
}
