/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/rotate/animate-rotate-in-bottom-right.scss" as *;

@include test-module("animate-rotate-in-bottom-right [mixin]") {
    @include test("Can add animation animate-rotate-in-bottom-right") {
        @include assert {
            @include output {
            @include animate-rotate-in-bottom-right();
        }
        @include expect {
	animation: rotate-in-br;

	@keyframes rotate-in-br {
		0% {
			-webkit-transform: rotate(-360deg);
			transform: rotate(-360deg);
			-webkit-transform-origin: bottom right;
			transform-origin: bottom right;
			opacity: 0;
		}

		100% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transform-origin: bottom right;
			transform-origin: bottom right;
			opacity: 1;
		}
	}
}        }
    }
}
