/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/focus/animate-focus-in-contract-backward.scss" as *;

@include test-module("animate-focus-in-contract-backward [mixin]") {
    @include test("Can add animation animate-focus-in-contract-backward") {
        @include assert {
            @include output {
            @include animate-focus-in-contract-backward();
        }
        @include expect {
	animation: focus-in-contract-bck;

	@keyframes focus-in-contract-bck {
		0% {
			letter-spacing: 1em;
			-webkit-transform: translateZ(300px);
			transform: translateZ(300px);
			-webkit-filter: blur(12px);
			filter: blur(12px);
			opacity: 0;
		}

		100% {
			-webkit-transform: translateZ(12px);
			transform: translateZ(12px);
			-webkit-filter: blur(0);
			filter: blur(0);
			opacity: 1;
		}
	}
}        }
    }
}
