@use "../../utility/keyframes" as *;

/// Animate scale down bottom right
/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@mixin animate-scale-down-bottom-right($animation-settings: null) {
	animation: if($animation-settings, #{"scale-down-br #{$animation-settings}"}, scale-down-br);

	@include keyframes(scale-down-br) {
		0% {
			-webkit-transform: scale(1);
			transform: scale(1);
			-webkit-transform-origin: 100% 100%;
			transform-origin: 100% 100%;
		}

		100% {
			-webkit-transform: scale(0.5);
			transform: scale(0.5);
			-webkit-transform-origin: 100% 100%;
			transform-origin: 100% 100%;
		}
	}
}

