@use "../../utility/keyframes" as *;

/// Animate scale down top left
/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@mixin animate-scale-down-top-left($animation-settings: null) {
	animation: if($animation-settings, #{"scale-down-tl #{$animation-settings}"}, scale-down-tl);

	@include keyframes(scale-down-tl) {
		0% {
			-webkit-transform: scale(1);
			transform: scale(1);
			-webkit-transform-origin: 0% 0%;
			transform-origin: 0% 0%;
		}

		100% {
			-webkit-transform: scale(0.5);
			transform: scale(0.5);
			-webkit-transform-origin: 0% 0%;
			transform-origin: 0% 0%;
		}
	}
}

