@use "../../utility/keyframes" as *;

/// Animate scale up center
/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@mixin animate-scale-up-center($animation-settings: null) {
	animation: if($animation-settings, #{"scale-up-center #{$animation-settings}"}, scale-up-center);

	@include keyframes(scale-up-center) {
		0% {
			-webkit-transform: scale(0.5);
			transform: scale(0.5);
		}

		100% {
			-webkit-transform: scale(1);
			transform: scale(1);
		}
	}
}

