/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/ping/animate-ping.scss" as *;

@include test-module("animate-ping [mixin]") {
    @include test("Can add animation animate-ping") {
        @include assert {
            @include output {
            @include animate-ping();
        }
        @include expect {
	animation: ping;

	@keyframes ping {
		0% {
			-webkit-transform: scale(0.2);
			transform: scale(0.2);
			opacity: 0.8;
		}

		80% {
			-webkit-transform: scale(1.2);
			transform: scale(1.2);
			opacity: 0;
		}

		100% {
			-webkit-transform: scale(2.2);
			transform: scale(2.2);
			opacity: 0;
		}
	}
}        }
    }
}
