@use "../../utility/keyframes" as *;

/// Animate tracking out expand forward top
/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@mixin animate-tracking-out-expand-forward-top($animation-settings: null) {
	animation: if($animation-settings, #{"tracking-out-expand-fwd-top #{$animation-settings}"}, tracking-out-expand-fwd-top);

	@include keyframes(tracking-out-expand-fwd-top) {
		0% {
			-webkit-transform: translateZ(0) translateY(0);
			transform: translateZ(0) translateY(0);
			opacity: 1;
		}

		60% {
			opacity: 0.8;
		}

		100% {
			letter-spacing: 1em;
			-webkit-transform: translateZ(300px) translateY(-200px);
			transform: translateZ(300px) translateY(-200px);
			opacity: 0;
		}
	}
}

