@use "../../utility/keyframes" as *;

/// Animate tracking in contract backward bottom
/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@mixin animate-tracking-in-contract-backward-bottom($animation-settings: null) {
	animation: if($animation-settings, #{"tracking-in-contract-bck-bottom #{$animation-settings}"}, tracking-in-contract-bck-bottom);

	@include keyframes(tracking-in-contract-bck-bottom) {
		0% {
			letter-spacing: 1em;
			-webkit-transform: translateZ(400px) translateY(300px);
			transform: translateZ(400px) translateY(300px);
			opacity: 0;
		}

		40% {
			opacity: 0.6;
		}

		100% {
			-webkit-transform: translateZ(0) translateY(0);
			transform: translateZ(0) translateY(0);
			opacity: 1;
		}
	}
}

