/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/special/animate-heartbeat.scss" as *;

@include test-module("animate-heartbeat [mixin]") {
    @include test("Can add animation animate-heartbeat") {
        @include assert {
            @include output {
            @include animate-heartbeat();
        }
        @include expect {
	animation: heartbeat;

	@keyframes heartbeat {
		0% {
			-webkit-transform: scale(1);
			transform: scale(1);
			-webkit-transform-origin: center center;
			transform-origin: center center;
			-webkit-animation-timing-function: ease-out;
	            animation-timing-function: ease-out;
		}

		10% {
			-webkit-transform: scale(0.91);
			transform: scale(0.91);
			-webkit-animation-timing-function: ease-in;
	            animation-timing-function: ease-in;
		}

		17% {
			-webkit-transform: scale(0.98);
			transform: scale(0.98);
			-webkit-animation-timing-function: ease-out;
	            animation-timing-function: ease-out;
		}

		33% {
			-webkit-transform: scale(0.87);
			transform: scale(0.87);
			-webkit-animation-timing-function: ease-in;
	            animation-timing-function: ease-in;
		}

		45% {
			-webkit-transform: scale(1);
			transform: scale(1);
			-webkit-animation-timing-function: ease-out;
	            animation-timing-function: ease-out;
		}
	}
}        }
    }
}
