/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/special/animate-rubber-band.scss" as *;

@include test-module("animate-rubber-band [mixin]") {
    @include test("Can add animation animate-rubber-band") {
        @include assert {
            @include output {
            @include animate-rubber-band();
        }
        @include expect {
	animation: rubber-band;

	@keyframes rubber-band {
		0% {
			transform: scale3d(1, 1, 1);
		}

		30% {
			transform: scale3d(1.25, 0.75, 1);
		}

		40% {
			transform: scale3d(0.75, 1.25, 1);
		}

		50% {
			transform: scale3d(1.15, 0.85, 1);
		}

		65% {
			transform: scale3d(0.95, 1.05, 1);
		}

		75% {
			transform: scale3d(1.05, 0.95, 1);
		}

		100% {
			transform: scale3d(1, 1, 1);
		}
	}
}

        }
    }
}
