/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/special/animate-head-shake.scss" as *;

@include test-module("animate-head-shake [mixin]") {
    @include test("Can add animation animate-head-shake") {
        @include assert {
            @include output {
            @include animate-head-shake();
        }
        @include expect {
	animation: head-shake;

	@keyframes head-shake {
		0% {
			transform: translateX(0);
		}

		6.5% {
			transform: translateX(-6px) rotateY(-9deg);
		}

		18.5% {
			transform: translateX(5px) rotateY(7deg);
		}

		31.5% {
			transform: translateX(-3px) rotateY(-5deg);
		}

		43.5% {
			transform: translateX(2px) rotateY(3deg);
		}

		50% {
			transform: translateX(0);
		}
	}
}

        }
    }
}
