/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/fade/animate-fade-in-right.scss" as *;

@include test-module("animate-fade-in-right [mixin]") {
    @include test("Can add animation animate-fade-in-right") {
        @include assert {
            @include output {
            @include animate-fade-in-right();
        }
        @include expect {
            animation: fade-in-right;

            @keyframes fade-in-right {
                0% {
      -webkit-transform: translateX(50px);
      transform: translateX(50px);
      opacity: 0;
    }

                100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
}        }
    }
}
