/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/fade/animate-fade-out-left.scss" as *;

@include test-module("animate-fade-out-left [mixin]") {
    @include test("Can add animation animate-fade-out-left") {
        @include assert {
            @include output {
            @include animate-fade-out-left();
        }
        @include expect {
	animation: fade-out-left;

	@keyframes fade-out-left {
		0% {
			-webkit-transform: translateX(0);
			transform: translateX(0);
			opacity: 1;
		}

		100% {
			-webkit-transform: translateX(-50px);
			transform: translateX(-50px);
			opacity: 0;
		}
	}
}        }
    }
}
