/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/fade/animate-fade-in-backward.scss" as *;

@include test-module("animate-fade-in-backward [mixin]") {
    @include test("Can add animation animate-fade-in-backward") {
        @include assert {
            @include output {
            @include animate-fade-in-backward();
        }
        @include expect {
            animation: fade-in-bck;

            @keyframes fade-in-bck {
                0% {
      -webkit-transform: translateZ(80px);
      transform: translateZ(80px);
      opacity: 0;
    }

                100% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      opacity: 1;
    }
  }
}        }
    }
}
