@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate vibrate 2
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @link https://animista.net/

@mixin animate-vibrate-2($animation-settings: null) {
  @include animation-name-or-shorthand(vibrate-2, $animation-settings);

  @include keyframes(vibrate-2) {
    0%,
    100% {
      -webkit-transform: translate(0);
      transform: translate(0);
    }

    20% {
      -webkit-transform: translate(2px, -2px);
      transform: translate(2px, -2px);
    }

    40% {
      -webkit-transform: translate(2px, 2px);
      transform: translate(2px, 2px);
    }

    60% {
      -webkit-transform: translate(-2px, 2px);
      transform: translate(-2px, 2px);
    }

    80% {
      -webkit-transform: translate(-2px, -2px);
      transform: translate(-2px, -2px);
    }
  }
}

