/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/swirl/animate-swirl-in-top-right-forward.scss" as *;

@include test-module("animate-swirl-in-top-right-forward [mixin]") {
    @include test("Can add animation animate-swirl-in-top-right-forward") {
        @include assert {
            @include output {
            @include animate-swirl-in-top-right-forward();
        }
        @include expect {
	animation: swirl-in-tr-fwd;

	@keyframes swirl-in-tr-fwd {
		0% {
			-webkit-transform: rotate(-540deg) scale(0);
			transform: rotate(-540deg) scale(0);
			-webkit-transform-origin: 100% 0%;
			transform-origin: 100% 0%;
			opacity: 0;
		}

		100% {
			-webkit-transform: rotate(0) scale(1);
			transform: rotate(0) scale(1);
			-webkit-transform-origin: 100% 0%;
			transform-origin: 100% 0%;
			opacity: 1;
		}
	}
}        }
    }
}
