/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/swirl/animate-swirl-out-bottom-forward.scss" as *;

@include test-module("animate-swirl-out-bottom-forward [mixin]") {
    @include test("Can add animation animate-swirl-out-bottom-forward") {
        @include assert {
            @include output {
            @include animate-swirl-out-bottom-forward();
        }
        @include expect {
	animation: swirl-out-bottom-fwd;

	@keyframes swirl-out-bottom-fwd {
		0% {
			-webkit-transform: rotate(0) scale(1);
			transform: rotate(0) scale(1);
			-webkit-transform-origin: 50% 100%;
			transform-origin: 50% 100%;
			opacity: 1;
		}

		100% {
			-webkit-transform: rotate(540deg) scale(5);
			transform: rotate(540deg) scale(5);
			-webkit-transform-origin: 50% 100%;
			transform-origin: 50% 100%;
			opacity: 0;
		}
	}
}        }
    }
}
