/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/shake/animate-shake.scss" as *;

@include test-module("animate-shake [mixin]") {
    @include test("Can add animation animate-shake") {
        @include assert {
            @include output {
            @include animate-shake();
        }
        @include expect {
	animation: shake;

	@keyframes shake {
		0%,
		100% {
			transform: translate3d(0, 0, 0);
		}

		10%,
		30%,
		50%,
		70%,
		90% {
			transform: translate3d(-10px, 0, 0);
		}

		20%,
		40%,
		60%,
		80% {
			transform: translate3d(10px, 0, 0);
		}
	}
}        }
    }
}
