/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/shake/animate-shake-bottom-right.scss" as *;

@include test-module("animate-shake-bottom-right [mixin]") {
    @include test("Can add animation animate-shake-bottom-right") {
        @include assert {
            @include output {
            @include animate-shake-bottom-right();
        }
        @include expect {
	animation: shake-br;

	@keyframes shake-br {
		0%,
		100% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transform-origin: 100% 100%;
			transform-origin: 100% 100%;
		}

		10%,
		90% {
			-webkit-transform: rotate(2deg);
			transform: rotate(2deg);
		}

		20%,
		40%,
		60% {
			-webkit-transform: rotate(-4deg);
			transform: rotate(-4deg);
		}

		30%,
		50%,
		70% {
			-webkit-transform: rotate(4deg);
			transform: rotate(4deg);
		}

		80% {
			-webkit-transform: rotate(-2deg);
			transform: rotate(-2deg);
		}
	}
}        }
    }
}
