@use "../../utility/keyframes" as *;

/// Animate flicker in 2
/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@mixin animate-flicker-in-2($animation-settings: null) {
  animation: if($animation-settings, #{"flicker-in-2 #{$animation-settings}"}, flicker-in-2);

  @include keyframes(flicker-in-2) {
    0% {
      opacity: 0;
    }

    10%,
    10.2%,
    20%,
    20.6%,
    30%,
    30.6%,
    45%,
    55.1%,
    57%,
    60.1%,
    65%,
    75.1%,
    77%,
    85.1%,
    86% {
      opacity: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    10.1% {
      opacity: 1;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    20.1% {
      opacity: 1;
      -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
      box-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
    }

    30.1%,
    30.5%,
    45.1%,
    50%,
    55% {
      opacity: 1;
      -webkit-box-shadow:
        0 0 30px rgba(255, 255, 255, 0.45),
        0 0 60px rgba(255, 255, 255, 0.25);
      box-shadow:
        0 0 30px rgba(255, 255, 255, 0.45),
        0 0 60px rgba(255, 255, 255, 0.25);
    }

    57.1%,
    60% {
      opacity: 1;
      -webkit-box-shadow:
        0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.3);
      box-shadow:
        0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.3);
    }

    65.1%,
    75% {
      opacity: 1;
      -webkit-box-shadow:
        0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.3),
        0 0 100px rgba(255, 255, 255, 0.1);
      box-shadow:
        0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.3),
        0 0 100px rgba(255, 255, 255, 0.1);
    }

    77.1%,
    85% {
      opacity: 1;
      -webkit-box-shadow:
        0 0 30px rgba(255, 255, 255, 0.6),
        0 0 60px rgba(255, 255, 255, 0.4),
        0 0 110px rgba(255, 255, 255, 0.2),
        0 0 100px rgba(255, 255, 255, 0.1);
      box-shadow:
        0 0 30px rgba(255, 255, 255, 0.6),
        0 0 60px rgba(255, 255, 255, 0.4),
        0 0 110px rgba(255, 255, 255, 0.2),
        0 0 100px rgba(255, 255, 255, 0.1);
    }

    86.1%,
    100% {
      opacity: 1;
      -webkit-box-shadow:
        0 0 30px rgba(255, 255, 255, 0.6),
        0 0 60px rgba(255, 255, 255, 0.45),
        0 0 110px rgba(255, 255, 255, 0.25),
        0 0 100px rgba(255, 255, 255, 0.1);
      box-shadow:
        0 0 30px rgba(255, 255, 255, 0.6),
        0 0 60px rgba(255, 255, 255, 0.45),
        0 0 110px rgba(255, 255, 255, 0.25),
        0 0 100px rgba(255, 255, 255, 0.1);
    }
  }
}

