@use "../../node_modules/sass-true" as *;
@use "../../src/utility/apply.scss" as *;

@include test-module("apply [mixin]") {
    %p-4 {
        padding: 1rem
    }
    %p-8 {
        padding: 2rem;
    }
    %m-8 {
        margin: 2rem;
    }
    @include test("Can apply component") {
        @include assert {
            @include output {
                @include apply(p-4);
            }
            @include expect {
                padding: 1rem;
            }
        }
    }
    @include test("Can apply component to multiple items with extend") {
        @include assert {
            @include output {
                div {
                    @include apply(p-4);
                }
                p {
                    @include apply(p-4);
                }
            }
            @include expect {
                p, div {
                    padding: 0.5rem;
                }
            }
        }
    }
    @include test('Can apply multipe components') {
        @include assert {
            @include output {
                @include apply(p-8, m-8);
            }
            @include expect {
                margin: 2rem;
                padding: 2rem;
            }
        }
        @include assert {
            @include output {
                @include apply("p-8", "m-8");
            }
            @include expect {
                margin: 2rem;
                padding: 2rem;
            }
        }

        @include assert {
            @include output {
                @include apply(p-8 m-8);
            }
            @include expect {
                margin: 2rem;
                padding: 2rem;
            }
        }
    }
}
