@use "../../node_modules/sass-true" as *;
@use "../../src/utility/declare-map.scss" as styler;

@include test-module("declare-map [mixin]") {
    @include test("Can convert simple maps") {
        @include assert {
            @include output {
                @include styler.declare-map(
                    (
                        color: red,
                        margin: 0,
                    )
                );
            }
            @include expect {
                color: red;
                margin: 0;
            }
        }
        @include assert {
            @include output {
                @include styler.declare-map(
                    (
                        color: red,
                        margin-top: 0,
                        "padding": 10px,
                    )
                );
            }
            @include expect {
                color: red;
                margin-top: 0;
                padding: 10px;
            }
        }
    }
    @include test("Can convert more complex maps") {
        @include assert {
            @include output {
                div {
                    @include styler.declare-map(
                        (
                            color: red,
                            "&:hover": (
                                color: blue,
                            ),
                        )
                    );
                }
            }
            @include expect {
                div {
                    color: red;
                    &:hover {
                        color: blue;
                    }
                }
            }
        }
        @include assert {
            @include output {
                div {
                    @include styler.declare-map(
                        (
                            color: red,
                            "&:hover, &:focus": (
                                color: blue,
                            ),
                        )
                    );
                }
            }
            @include expect {
                div {
                    color: red;
                    &:hover,
                    &:focus {
                        color: blue;
                    }
                }
            }
        }
        @include assert {
            @include output {
                div {
                    @include styler.declare-map(
                        (
                            color: red,
                            "&:hover, &:focus": (
                                color: blue,
                            ),
                            "&::before": (
                                content: "",
                                display: block,
                                margin: 10px,
                                width: 10px,
                                height: 10px
                            )
                        )
                    );
                }
            }
            @include expect {
                div {
                    color: red;
                    &:hover,
                    &:focus {
                        color: blue;
                    }
                    &::before {
                        content: "";
                        display: block;
                        margin: 10px;
                        width: 10px;
                        height: 10px;
                    }
                }
            }
        }
        @include assert {
            @include output {
                div {
                    @include styler.declare-map(
                        (
                            "@at-root p, div": (
                                color: red
                            )
                        )
                    );
                }
            }
            @include expect {
                @at-root p, div {
                    color: red;
                }
            }
        }
        @include assert {
            @include output {
                div {
                    @include styler.declare-map(
                        (
                            "> * + *": (
                                margin-top: 1em
                            )
                        )
                    );
                }
            }
            @include expect {
                div > * + * {
                    margin-top: 1em
                }
            }
        }
    }
}
