@use "../../node_modules/sass-true" as *;
@use "../../src/utility/get.scss" as styler;

$test: (
    string: "top level",
    number: 1,
    list: 1 2 3 4,
    map: (
        string: "1st level",
        map: (
            string: "2nd level",
            map: (
                string: "3rd level"
            )
        )
    )
);

@include test-module("get [function]") {
    @include test('Can get from map') {
        @include assert-equal(
            styler.get($test, string),
            "top level"
        );
    }
    @include test('Can deeply get from 1st level of map') {
        @include assert-equal(
            styler.get($test, map string),
            "1st level"
        );
    }
    @include test('Can deeply get from 2nd level of map') {
        @include assert-equal(
            styler.get($test, map map string),
            "2nd level"
        );
    }
    @include test('Can deeply get from 3rd level of map') {
        @include assert-equal(
            styler.get($test, map map map string),
            "3rd level"
        );
    }
    @include test('Can fallback when no key exist') {
        @include assert-equal(
            styler.get($test, nokey),
            null
        );
    }
    @include test('Can fallback when no key exist with custom fallback value') {
        @include assert-equal(
            styler.get($test, nokey, "fallback"),
            "fallback"
        );
    }
}
