@use "../../node_modules/sass-true" as *;
@use "../../src/utility/hide-visually.scss" as *;

@include test-module("hide-visually [mixin]") {
    @include test("Can hide visually") {
        @include assert {
            @include output {
                @include hide-visually();
            }
            @include expect {
                position: absolute;
                left: -999999px;
                overflow: hidden;
                visibility: hidden;
                opacity: 0.00001;
            }
        }
        @include assert {
            @include output {
                @include hide-visually(static);
            }
            @include expect {
                position: static;
                left: -999999px;
                overflow: hidden;
                visibility: hidden;
                opacity: 0.00001;
            }
        }
    }
}
