@use "../../node_modules/sass-true" as *;
@use "../../src/utility/horizontal-list.scss" as *;

@include test-module("horizontal-list [mixin]") {
    @include test("Can apply horizontal-list") {
        @include assert {
            @include output {
                @include horizontal-list();
            }
            @include expect {
                display: flex;
                list-style: none;
                padding-left: 0;
            }
        }
        @include assert {
            @include output {
                @include horizontal-list(1em);
            }
            @include expect {
                display: flex;
                list-style: none;
                padding-left: 0;

                > * + * {
                    margin-left: 1em;
                }
            }
        }
        @include assert {
            @include output {
                @include horizontal-list(1em, center, flex-end, wrap);
            }
            @include expect {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                flex-wrap: wrap;
                list-style: none;
                padding-left: 0;

                > * + * {
                    margin-left: 1em;
                }
            }
        }
    }
}
