@use "../../node_modules/sass-true" as *;
@use "../../src/utility/pseudo-with-position.scss" as *;

@include test-module("pseudo-with-position [mixin]") {
    @include test("Can apply pseudo-with-position") {
        @include assert {
            @include output {
                @include pseudo-with-position();
            }
            @include expect {
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: auto;
                    right: auto;
                    bottom: auto;
                    left: auto;
                }
            }
        }
        @include assert {
            @include output {
                @include pseudo-with-position(0, 50%);
            }
            @include expect {
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 50%;
                    bottom: auto;
                    left: auto;
                }
            }
        }
    }
}
