@use "../../node_modules/sass-true" as *;
@use "../../src/utility/unhide-visually.scss" as *;

@include test-module("unhide-visually [mixin]") {
    @include test("Can unhide visually") {
        @include assert {
            @include output {
                @include unhide-visually();
            }
            @include expect {
                position: static;
                left: auto;
                overflow: visible;
                visibility: visible;
                opacity: 1;
            }
        }
        @include assert {
            @include output {
                @include unhide-visually(fixed);
            }
            @include expect {
                position: fixed;
                left: auto;
                overflow: visible;
                visibility: visible;
                opacity: 1;
            }
        }
    }
}
