@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate shadow pop bottom left
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @link https://animista.net/

@mixin animate-shadow-pop-bottom-left($animation-settings: null) {
  @include animation-name-or-shorthand(shadow-pop-bl, $animation-settings);

  @include keyframes(shadow-pop-bl) {
    0% {
      -webkit-box-shadow:
        0 0 #3e3e3e,
        0 0 #3e3e3e,
        0 0 #3e3e3e,
        0 0 #3e3e3e,
        0 0 #3e3e3e,
        0 0 #3e3e3e,
        0 0 #3e3e3e,
        0 0 #3e3e3e;
      box-shadow:
        0 0 #3e3e3e,
        0 0 #3e3e3e,
        0 0 #3e3e3e,
        0 0 #3e3e3e,
        0 0 #3e3e3e,
        0 0 #3e3e3e,
        0 0 #3e3e3e,
        0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
      transform: translateX(0) translateY(0);
    }

    100% {
      -webkit-box-shadow:
        -1px 1px #3e3e3e,
        -2px 2px #3e3e3e,
        -3px 3px #3e3e3e,
        -4px 4px #3e3e3e,
        -5px 5px #3e3e3e,
        -6px 6px #3e3e3e,
        -7px 7px #3e3e3e,
        -8px 8px #3e3e3e;
      box-shadow:
        -1px 1px #3e3e3e,
        -2px 2px #3e3e3e,
        -3px 3px #3e3e3e,
        -4px 4px #3e3e3e,
        -5px 5px #3e3e3e,
        -6px 6px #3e3e3e,
        -7px 7px #3e3e3e,
        -8px 8px #3e3e3e;
      -webkit-transform: translateX(8px) translateY(-8px);
      transform: translateX(8px) translateY(-8px);
    }
  }
}

