@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate shadow inset bottom right
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @group animation
/// @link https://animista.net/

@mixin animate-shadow-inset-bottom-right($animation-settings: null) {
  @include animation-name-or-shorthand(shadow-inset-br, $animation-settings);

  @include keyframes(shadow-inset-br) {
    0% {
      -webkit-box-shadow: inset 0 0 0 0 transparent;
      box-shadow: inset 0 0 0 0 transparent;
    }

    100% {
      -webkit-box-shadow: inset -6px -6px 14px -6px rgba(0, 0, 0, 0.5);
      box-shadow: inset -6px -6px 14px -6px rgba(0, 0, 0, 0.5);
    }
  }
}

