@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate shadow drop bottom left
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @link https://animista.net/

@mixin animate-shadow-drop-bottom-left($animation-settings: null) {
  @include animation-name-or-shorthand(shadow-drop-bl, $animation-settings);

  @include keyframes(shadow-drop-bl) {
    0% {
      -webkit-box-shadow: 0 0 0 0 transparent;
      box-shadow: 0 0 0 0 transparent;
    }

    100% {
      -webkit-box-shadow: -12px 12px 20px -12px rgba(0, 0, 0, 0.35);
      box-shadow: -12px 12px 20px -12px rgba(0, 0, 0, 0.35);
    }
  }
}

