@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate shadow drop top bottom
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @link https://animista.net/

@mixin animate-shadow-drop-top-bottom($animation-settings: null) {
  @include animation-name-or-shorthand(shadow-drop-tb, $animation-settings);

  @include keyframes(shadow-drop-tb) {
    0% {
      -webkit-box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent;
      box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent;
    }

    100% {
      -webkit-box-shadow:
        0 -12px 20px -12px rgba(0, 0, 0, 0.35),
        0 12px 20px -12px rgba(0, 0, 0, 0.35);
      box-shadow:
        0 -12px 20px -12px rgba(0, 0, 0, 0.35),
        0 12px 20px -12px rgba(0, 0, 0, 0.35);
    }
  }
}

