/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/tracking/animate-tracking-out-contract-backward-top.scss" as *;

@include test-module("animate-tracking-out-contract-backward-top [mixin]") {
    @include test("Can add animation animate-tracking-out-contract-backward-top") {
        @include assert {
            @include output {
            @include animate-tracking-out-contract-backward-top();
        }
        @include expect {
	animation: tracking-out-contract-bck-top;

	@keyframes tracking-out-contract-bck-top {
		0% {
			-webkit-transform: translateZ(0) translateY(0);
			transform: translateZ(0) translateY(0);
			opacity: 1;
		}

		60% {
			opacity: 1;
		}

		100% {
			letter-spacing: -0.5em;
			-webkit-transform: translateZ(-500px) translateY(-300px);
			transform: translateZ(-500px) translateY(-300px);
			opacity: 0;
		}
	}
}        }
    }
}
