/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/tracking/animate-tracking-in-contract-backward-bottom.scss" as *;

@include test-module("animate-tracking-in-contract-backward-bottom [mixin]") {
    @include test("Can add animation animate-tracking-in-contract-backward-bottom") {
        @include assert {
            @include output {
            @include animate-tracking-in-contract-backward-bottom();
        }
        @include expect {
	animation: tracking-in-contract-bck-bottom;

	@keyframes tracking-in-contract-bck-bottom {
		0% {
			letter-spacing: 1em;
			-webkit-transform: translateZ(400px) translateY(300px);
			transform: translateZ(400px) translateY(300px);
			opacity: 0;
		}

		40% {
			opacity: 0.6;
		}

		100% {
			-webkit-transform: translateZ(0) translateY(0);
			transform: translateZ(0) translateY(0);
			opacity: 1;
		}
	}
}        }
    }
}
