/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/tracking/animate-tracking-in-contract.scss" as *;

@include test-module("animate-tracking-in-contract [mixin]") {
    @include test("Can add animation animate-tracking-in-contract") {
        @include assert {
            @include output {
            @include animate-tracking-in-contract();
        }
        @include expect {
	animation: tracking-in-contract;

	@keyframes tracking-in-contract {
		0% {
			letter-spacing: 1em;
			opacity: 0;
		}

		40% {
			opacity: 0.6;
		}

		100% {
			letter-spacing: normal;
			opacity: 1;
		}
	}
}        }
    }
}
