/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/tracking/animate-tracking-out-contract.scss" as *;

@include test-module("animate-tracking-out-contract [mixin]") {
    @include test("Can add animation animate-tracking-out-contract") {
        @include assert {
            @include output {
            @include animate-tracking-out-contract();
        }
        @include expect {
	animation: tracking-out-contract;

	@keyframes tracking-out-contract {
		0%,
		50% {
			opacity: 1;
		}

		100% {
			letter-spacing: -0.5em;
			opacity: 0;
		}
	}
}        }
    }
}
