@use "../../utility/keyframes" as *;

/// Animate slide in right
/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@mixin animate-slide-in-right($animation-settings: null) {
	animation: if($animation-settings, #{"slide-in-right #{$animation-settings}"}, slide-in-right);

	@include keyframes(slide-in-right) {
		0% {
			-webkit-transform: translateX(1000px);
			transform: translateX(1000px);
			opacity: 0;
		}

		100% {
			-webkit-transform: translateX(0);
			transform: translateX(0);
			opacity: 1;
		}
	}
}

