@use "../../utility/keyframes" as *;

/// Animate slide bottom
/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@mixin animate-slide-bottom($animation-settings: null) {
	animation: if($animation-settings, #{"slide-bottom #{$animation-settings}"}, slide-bottom);

	@include keyframes(slide-bottom) {
		0% {
			-webkit-transform: translateY(0);
			transform: translateY(0);
		}

		100% {
			-webkit-transform: translateY(100px);
			transform: translateY(100px);
		}
	}
}

