@use "../../utility/keyframes" as *;

/// Animate slide left
/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@mixin animate-slide-left($animation-settings: null) {
	animation: if($animation-settings, #{"slide-left #{$animation-settings}"}, slide-left);

	@include keyframes(slide-left) {
		0% {
			-webkit-transform: translateX(0);
			transform: translateX(0);
		}

		100% {
			-webkit-transform: translateX(-100px);
			transform: translateX(-100px);
		}
	}
}

