@use "../../utility/keyframes" as *;

/// Animate slide in backward left
/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@mixin animate-slide-in-backward-left($animation-settings: null) {
	animation: if($animation-settings, #{"slide-in-bck-left #{$animation-settings}"}, slide-in-bck-left);

	@include keyframes(slide-in-bck-left) {
		0% {
			-webkit-transform: translateZ(700px) translateX(-400px);
			transform: translateZ(700px) translateX(-400px);
			opacity: 0;
		}

		100% {
			-webkit-transform: translateZ(0) translateX(0);
			transform: translateZ(0) translateX(0);
			opacity: 1;
		}
	}
}

