@use "../../utility/keyframes" as *;

/// Animate slide forward center
/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@mixin animate-slide-forward-center($animation-settings: null) {
	animation: if($animation-settings, #{"slide-fwd-center #{$animation-settings}"}, slide-fwd-center);

	@include keyframes(slide-fwd-center) {
		0% {
			-webkit-transform: translateZ(0);
			transform: translateZ(0);
		}

		100% {
			-webkit-transform: translateZ(160px);
			transform: translateZ(160px);
		}
	}
}

