@use "../../utility/keyframes" as *;

/// Animate slide rotate vertical left
/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@mixin animate-slide-rotate-vertical-left($animation-settings: null) {
	animation: if($animation-settings, #{"slide-rotate-ver-left #{$animation-settings}"}, slide-rotate-ver-left);

	@include keyframes(slide-rotate-ver-left) {
		0% {
			-webkit-transform: translateX(0) rotateY(0);
			transform: translateX(0) rotateY(0);
		}

		100% {
			-webkit-transform: translateX(-150px) rotateY(90deg);
			transform: translateX(-150px) rotateY(90deg);
		}
	}
}

