@use "../../utility/keyframes" as *;

/// Animate slide in blurred right
/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@mixin animate-slide-in-blurred-right($animation-settings: null) {
	animation: if($animation-settings, #{"slide-in-blurred-right #{$animation-settings}"}, slide-in-blurred-right);

	@include keyframes(slide-in-blurred-right) {
		0% {
			-webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
			transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
			-webkit-transform-origin: 0% 50%;
			transform-origin: 0% 50%;
			-webkit-filter: blur(40px);
			filter: blur(40px);
			opacity: 0;
		}

		100% {
			-webkit-transform: translateX(0) scaleY(1) scaleX(1);
			transform: translateX(0) scaleY(1) scaleX(1);
			-webkit-transform-origin: 50% 50%;
			transform-origin: 50% 50%;
			-webkit-filter: blur(0);
			filter: blur(0);
			opacity: 1;
		}
	}
}

