@use "../../utility/keyframes" as *;

/// Animate slide out forward top
/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@mixin animate-slide-out-forward-top($animation-settings: null) {
	animation: if($animation-settings, #{"slide-out-fwd-top #{$animation-settings}"}, slide-out-fwd-top);

	@include keyframes(slide-out-fwd-top) {
		0% {
			-webkit-transform: translateZ(1) translateY(0);
			transform: translateZ(1) translateY(0);
			opacity: 1;
		}

		100% {
			-webkit-transform: translateZ(600px) translateY(-300px);
			transform: translateZ(600px) translateY(-300px);
			opacity: 0;
		}
	}
}

