@use "../../utility/keyframes" as *;

/// Animate slide out backward left
/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@mixin animate-slide-out-backward-left($animation-settings: null) {
	animation: if($animation-settings, #{"slide-out-bck-left #{$animation-settings}"}, slide-out-bck-left);

	@include keyframes(slide-out-bck-left) {
		0% {
			-webkit-transform: translateZ(0) translateX(0);
			transform: translateZ(0) translateX(0);
			opacity: 1;
		}

		100% {
			-webkit-transform: translateZ(-1100px) translateX(-1000px);
			transform: translateZ(-1100px) translateX(-1000px);
			opacity: 0;
		}
	}
}

