/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/flicker/animate-flicker-4.scss" as *;

@include test-module("animate-flicker-4 [mixin]") {
    @include test("Can add animation animate-flicker-4") {
        @include assert {
            @include output {
            @include animate-flicker-4();
        }
        @include expect {
            animation: flicker-4;

            @keyframes flicker-4 {
                0%,
    31.98%,
    32.82%,
    34.98%,
    35.72%,
    36.98%,
    37.62%,
    67.98%,
    68.42%,
    95.98%,
    96.72%,
    98.98%,
    99.62%,
                100% {
      opacity: 1;
    }

                32%,
    32.8%,
                35%,
    35.7%,
                37%,
    37.6%,
                68%,
    68.4%,
                96%,
    96.7%,
                99%,
    99.6% {
      opacity: 0;
    }
  }
}        }
    }
}
