/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/flicker/animate-flicker-out-2.scss" as *;

@include test-module("animate-flicker-out-2 [mixin]") {
    @include test("Can add animation animate-flicker-out-2") {
        @include assert {
            @include output {
            @include animate-flicker-out-2();
        }
        @include expect {
            animation: flicker-out-2;

            @keyframes flicker-out-2 {
                0%,
    13.9% {
      opacity: 1;
      -webkit-box-shadow:
        0 0 30px rgba(255, 255, 255, 0.6),
        0 0 60px rgba(255, 255, 255, 0.45),
        0 0 110px rgba(255, 255, 255, 0.25),
        0 0 100px rgba(255, 255, 255, 0.1);
      box-shadow:
        0 0 30px rgba(255, 255, 255, 0.6),
        0 0 60px rgba(255, 255, 255, 0.45),
        0 0 110px rgba(255, 255, 255, 0.25),
        0 0 100px rgba(255, 255, 255, 0.1);
    }

                14%,
    14.9%,
                23%,
    24.9%,
                35%,
    39.9%,
                43%,
    44.9%,
                55%,
    69.4%,
                70%,
    79.4%,
                80%,
    89.8%,
                90% {
      opacity: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

                15%,
    22.9% {
      opacity: 1;
      -webkit-box-shadow:
        0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.4),
        0 0 110px rgba(255, 255, 255, 0.2),
        0 0 100px rgba(255, 255, 255, 0.1);
      box-shadow:
        0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.4),
        0 0 110px rgba(255, 255, 255, 0.2),
        0 0 100px rgba(255, 255, 255, 0.1);
    }

                25%,
    34.9% {
      opacity: 1;
      -webkit-box-shadow:
        0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.35),
        0 0 100px rgba(255, 255, 255, 0.1);
      box-shadow:
        0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.35),
        0 0 100px rgba(255, 255, 255, 0.1);
    }

                40%,
    42.9% {
      opacity: 1;
      -webkit-box-shadow:
        0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.35);
      box-shadow:
        0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.35);
    }

                45%,
                50%,
    54.9%,
    69.5%,
    69.9% {
      opacity: 1;
      -webkit-box-shadow:
        0 0 30px rgba(255, 255, 255, 0.45),
        0 0 60px rgba(255, 255, 255, 0.25);
      box-shadow:
        0 0 30px rgba(255, 255, 255, 0.45),
        0 0 60px rgba(255, 255, 255, 0.25);
    }

    79.9% {
      opacity: 1;
      -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
      box-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
    }

    89.9% {
      opacity: 1;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

                100% {
      opacity: 0;
    }
  }
}        }
    }
}
