@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate wobble vertical left
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @group animation
/// @link https://animista.net/

@mixin animate-wobble-vertical-left($animation-settings: null) {
  @include animation-name-or-shorthand(wobble-ver-left, $animation-settings);

  @include keyframes(wobble-ver-left) {
    0%,
    100% {
      -webkit-transform: translateY(0) rotate(0);
      transform: translateY(0) rotate(0);
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
    }

    15% {
      -webkit-transform: translateY(-30px) rotate(-6deg);
      transform: translateY(-30px) rotate(-6deg);
    }

    30% {
      -webkit-transform: translateY(15px) rotate(6deg);
      transform: translateY(15px) rotate(6deg);
    }

    45% {
      -webkit-transform: translateY(-15px) rotate(-3.6deg);
      transform: translateY(-15px) rotate(-3.6deg);
    }

    60% {
      -webkit-transform: translateY(9px) rotate(2.4deg);
      transform: translateY(9px) rotate(2.4deg);
    }

    75% {
      -webkit-transform: translateY(-6px) rotate(-1.2deg);
      transform: translateY(-6px) rotate(-1.2deg);
    }
  }
}

