/**
* Update button styles in your element
*/
@mixin button-styles(
  $height: null,
  $background: null,
  $color: null,
  $border: null,
  $padding: null,
  $hover-background: null,
  $hover-color: null,
  $hover-border: null,
  $width: null,
  $vertical-align: null,
  $border-radius: null,
  $outline: null,
  $border-top: null,
  $border-right: null,
  $border-bottom: null,
  $border-left: null,
  $box-shadow: null,
  $font-family: null,
  $font-size: null,
  $font-weight: null,
  $line-height: null,
  $text-align: null,
  $hover-border-top: null,
  $hover-border-right: null,
  $hover-border-bottom: null,
  $hover-border-left: null,
  $hover-outline: null,
  $hover-box-shadow: null,
  $active-border: null,
  $active-border-top: null,
  $active-border-right: null,
  $active-border-bottom: null,
  $active-border-left: null,
  $active-outline: null,
  $active-background: null,
  $active-box-shadow: null,
  $active-color: null,
  $disabled-border: null,
  $disabled-border-top: null,
  $disabled-border-right: null,
  $disabled-border-bottom: null,
  $disabled-border-left: null,
  $disabled-outline: null,
  $disabled-background: null,
  $disabled-box-shadow: null,
  $disabled-color: null,
  $disabled-opacity: null,
  $selector: null
) {
  @if $selector == null and global-variable-exists(button-selector) {
    $selector: $selector;
  }

  @if $selector {
    #{$selector} {
      width: $width;
      min-height: $height;
      padding: $padding;
      vertical-align: $vertical-align;
      border: $border;
      border-top: $border-top;
      border-right: $border-right;
      border-bottom: $border-bottom;
      border-left: $border-left;
      border-radius: $border-radius;
      outline: $outline;
      background: $background;
      box-shadow: $box-shadow;
      font-family: $font-family;
      font-size: $font-size;
      font-weight: $font-weight;
      line-height: $line-height;
      color: $color;

      &:hover,
      &:focus {
        border: $hover-border;
        border-top: $hover-border-top;
        border-right: $hover-border-right;
        border-bottom: $hover-border-bottom;
        border-left: $hover-border-left;
        outline: $hover-outline;
        background: $hover-background;
        color: $hover-color;
      }

      &:active {
        border: $active-border;
        border-top: $active-border-top;
        border-right: $active-border-right;
        border-bottom: $active-border-bottom;
        border-left: $active-border-left;
        outline: $active-outline;
        background: $active-background;
        color: $active-color;
      }

      &[disabled],
      &[readonly] {
        border: $disabled-border;
        border-top: $disabled-border-top;
        border-right: $disabled-border-right;
        border-bottom: $disabled-border-bottom;
        border-left: $disabled-border-left;
        outline: $disabled-outline;
        background: $disabled-background;
        color: $disabled-color;
        opacity: $disabled-opacity;
      }
    }
  }
}
