/**
* Update base link styles in your element
*/
@mixin link-styles(
  $color: null,
  $text-decoration: null,
  $hover-color: null,
  $hover-text-decoration: null,
  $active-color: null,
  $active-text-decoration: null,
  $visited-color: null,
  $visited-text-decoration: null,
  $selector: null
) {
  @if $selector == null and global-variable-exists(link-selector) {
    $selector: $link-selector;
  }

  @if $selector {
    #{$selector} {
      color: $color;
      text-decoration: $text-decoration;

      &:hover,
      &:focus {
        color: $hover-color;
        text-decoration: $hover-text-decoration;
      }

      &:active {
        color: $active-color;
        text-decoration: $active-text-decoration;
      }

      &:visited {
        color: $visited-color;
        text-decoration: $visited-text-decoration;
      }
    }
  }
}
