/**
* Set up default heading styles
*
* @requires "mixin/heading-styles"
* @requires "variables"
*/
@mixin set-heading-styles(
  $font-family: $heading-font-family,
  $font-size: $heading-font-size,
  $font-weight: $heading-font-weight,
  $line-height: $heading-line-height,
  $color: $heading-color,
  $h1-font-family: $h1-font-family,
  $h1-font-size: $h1-font-size,
  $h1-font-weight: $h1-font-weight,
  $h1-line-height: $h1-line-height,
  $h1-color: $h1-color,
  $h2-font-family: $h2-font-family,
  $h2-font-size: $h2-font-size,
  $h2-font-weight: $h2-font-weight,
  $h2-line-height: $h2-line-height,
  $h2-color: $h2-color,
  $h3-font-family: $h3-font-family,
  $h3-font-size: $h3-font-size,
  $h3-font-weight: $h3-font-weight,
  $h3-line-height: $h3-line-height,
  $h3-color: $h3-color,
  $h4-font-family: $h4-font-family,
  $h4-font-size: $h4-font-size,
  $h4-font-weight: $h4-font-weight,
  $h4-line-height: $h4-line-height,
  $h4-color: $h4-color,
  $h5-font-family: $h5-font-family,
  $h5-font-size: $h5-font-size,
  $h5-font-weight: $h5-font-weight,
  $h5-line-height: $h5-line-height,
  $h5-color: $h5-color,
  $h6-font-family: $h6-font-family,
  $h6-font-size: $h6-font-size,
  $h6-font-weight: $h6-font-weight,
  $h6-line-height: $h6-line-height,
  $h6-color: $h6-color,
  $selector: $heading-selector,
  $selector-h1: $h1-selector,
  $selector-h2: $h2-selector,
  $selector-h3: $h3-selector,
  $selector-h4: $h4-selector,
  $selector-h5: $h5-selector,
  $selector-h6: $h6-selector
) {
  @include heading-styles(
    $font-family: $font-family,
    $font-size: $font-size,
    $font-weight: $font-weight,
    $line-height: $line-height,
    $color: $color,
    $h1-font-family: $h1-font-family,
    $h1-font-size: $h1-font-size,
    $h1-font-weight: $h1-font-weight,
    $h1-line-height: $h1-line-height,
    $h1-color: $h1-color,
    $h2-font-family: $h2-font-family,
    $h2-font-size: $h2-font-size,
    $h2-font-weight: $h2-font-weight,
    $h2-line-height: $h2-line-height,
    $h2-color: $h2-color,
    $h3-font-family: $h3-font-family,
    $h3-font-size: $h3-font-size,
    $h3-font-weight: $h3-font-weight,
    $h3-line-height: $h3-line-height,
    $h3-color: $h3-color,
    $h4-font-family: $h4-font-family,
    $h4-font-size: $h4-font-size,
    $h4-font-weight: $h4-font-weight,
    $h4-line-height: $h4-line-height,
    $h4-color: $h4-color,
    $h5-font-family: $h5-font-family,
    $h5-font-size: $h5-font-size,
    $h5-font-weight: $h5-font-weight,
    $h5-line-height: $h5-line-height,
    $h5-color: $h5-color,
    $h6-font-family: $h6-font-family,
    $h6-font-size: $h6-font-size,
    $h6-font-weight: $h6-font-weight,
    $h6-line-height: $h6-line-height,
    $h6-color: $h6-color,
    $selector: $selector,
    $selector-h1: $selector-h1,
    $selector-h2: $selector-h2,
    $selector-h3: $selector-h3,
    $selector-h4: $selector-h4,
    $selector-h5: $selector-h5,
    $selector-h6: $selector-h6
  );
}
