/**
* Set up default styles of tables in the document
*
* @requires "mixin/table-styles"
* @requires "variables"
*/
@mixin set-table-styles(
  $width: $table-width,
  $padding: $table-padding,
  $border: $table-border,
  $border-top: $table-border-top,
  $border-right: $table-border-right,
  $border-bottom: $table-border-bottom,
  $border-left: $table-border-left,
  $border-spacing: $table-border-spacing,
  $background: $table-background,
  $font-family: $table-font-family,
  $font-size: $table-font-size,
  $font-weight: $table-font-weight,
  $line-height: $table-line-height,
  $color: $table-color,
  $text-align: $table-text-align,
  $cell-border: $table-cell-border,
  $cell-border-top: $table-cell-border-top,
  $cell-border-right: $table-cell-border-right,
  $cell-border-bottom: $table-cell-border-bottom,
  $cell-border-left: $table-cell-border-left,
  $cell-background: $table-cell-background,
  $head-padding: $table-head-padding,
  $head-border: $table-head-border,
  $head-border-top: $table-head-border-top,
  $head-border-right: $table-head-border-right,
  $head-border-bottom: $table-head-border-bottom,
  $head-border-left: $table-head-border-left,
  $head-background: $table-head-background,
  $head-font-family: $table-head-font-family,
  $head-font-size: $table-head-font-size,
  $head-font-weight: $table-head-font-weight,
  $head-line-height: $table-head-line-height,
  $head-color: $table-head-color,
  $head-text-align: $table-head-text-align,
  $head-cell-border: $table-head-cell-border,
  $head-cell-border-top: $table-head-cell-border-top,
  $head-cell-border-right: $table-head-cell-border-right,
  $head-cell-border-bottom: $table-head-cell-border-bottom,
  $head-cell-border-left: $table-head-cell-border-left,
  $head-cell-background: $table-head-cell-background,
  $foot-padding: $table-foot-padding,
  $foot-border: $table-foot-border,
  $foot-border-top: $table-foot-border-top,
  $foot-border-right: $table-foot-border-right,
  $foot-border-bottom: $table-foot-border-bottom,
  $foot-border-left: $table-foot-border-left,
  $foot-background: $table-foot-background,
  $foot-font-family: $table-foot-font-family,
  $foot-font-size: $table-foot-font-size,
  $foot-font-weight: $table-foot-font-weight,
  $foot-line-height: $table-foot-line-height,
  $foot-color: $table-foot-color,
  $foot-text-align: $table-foot-text-align,
  $foot-cell-border: $table-foot-cell-border,
  $foot-cell-border-top: $table-foot-cell-border-top,
  $foot-cell-border-right: $table-foot-cell-border-right,
  $foot-cell-border-bottom: $table-foot-cell-border-bottom,
  $foot-cell-border-left: $table-foot-cell-border-left,
  $foot-cell-background: $table-foot-cell-background,
  $odd-row-padding: $table-odd-row-padding,
  $odd-row-border: $table-odd-row-border,
  $odd-row-border-top: $table-odd-row-border-top,
  $odd-row-border-right: $table-odd-row-border-right,
  $odd-row-border-bottom: $table-odd-row-border-bottom,
  $odd-row-border-left: $table-odd-row-border-left,
  $odd-row-background: $table-odd-row-background,
  $odd-row-font-family: $table-odd-row-font-family,
  $odd-row-font-size: $table-odd-row-font-size,
  $odd-row-font-weight: $table-odd-row-font-weight,
  $odd-row-line-height: $table-odd-row-line-height,
  $odd-row-color: $table-odd-row-color,
  $odd-row-text-align: $table-odd-row-text-align,
  $even-row-padding: $table-even-row-padding,
  $even-row-border: $table-even-row-border,
  $even-row-border-top: $table-even-row-border-top,
  $even-row-border-right: $table-even-row-border-right,
  $even-row-border-bottom: $table-even-row-border-bottom,
  $even-row-border-left: $table-even-row-border-left,
  $even-row-background: $table-even-row-background,
  $even-row-font-family: $table-even-row-font-family,
  $even-row-font-size: $table-even-row-font-size,
  $even-row-font-weight: $table-even-row-font-weight,
  $even-row-line-height: $table-even-row-line-height,
  $even-row-color: $table-even-row-color,
  $even-row-text-align: $table-even-row-text-align,
  $odd-column-padding: $table-odd-column-padding,
  $odd-column-border: $table-odd-column-border,
  $odd-column-border-top: $table-odd-column-border-top,
  $odd-column-border-right: $table-odd-column-border-right,
  $odd-column-border-bottom: $table-odd-column-border-bottom,
  $odd-column-border-left: $table-odd-column-border-left,
  $odd-column-background: $table-odd-column-background,
  $odd-column-font-family: $table-odd-column-font-family,
  $odd-column-font-size: $table-odd-column-font-size,
  $odd-column-font-weight: $table-odd-column-font-weight,
  $odd-column-line-height: $table-odd-column-line-height,
  $odd-column-color: $table-odd-column-color,
  $odd-column-text-align: $table-odd-column-text-align,
  $even-column-padding: $table-even-column-padding,
  $even-column-border: $table-even-column-border,
  $even-column-border-top: $table-even-column-border-top,
  $even-column-border-right: $table-even-column-border-right,
  $even-column-border-bottom: $table-even-column-border-bottom,
  $even-column-border-left: $table-even-column-border-left,
  $even-column-background: $table-even-column-background,
  $even-column-font-family: $table-even-column-font-family,
  $even-column-font-size: $table-even-column-font-size,
  $even-column-font-weight: $table-even-column-font-weight,
  $even-column-line-height: $table-even-column-line-height,
  $even-column-color: $table-even-column-color,
  $even-column-text-align: $table-even-column-text-align,
  $selector: $table-selector,
  $selector-cell: $table-cell-selector,
  $selector-row: $table-row-selector,
  $selector-head: $table-head-selector,
  $selector-head-cell: $table-head-cell-selector,
  $selector-foot: $table-foot-selector,
  $selector-foot-cell: $table-foot-cell-selector,
  $selector-caption: $table-caption-selector
) {
  @include table-styles(
    $width: $width,
    $padding: $padding,
    $border: $border,
    $border-top: $border-top,
    $border-right: $border-right,
    $border-bottom: $border-bottom,
    $border-left: $border-left,
    $border-spacing: $border-spacing,
    $background: $background,
    $font-family: $font-family,
    $font-size: $font-size,
    $font-weight: $font-weight,
    $line-height: $line-height,
    $color: $color,
    $text-align: $text-align,
    $cell-border: $cell-border,
    $cell-border-top: $cell-border-top,
    $cell-border-right: $cell-border-right,
    $cell-border-bottom: $cell-border-bottom,
    $cell-border-left: $cell-border-left,
    $cell-background: $cell-background,
    $head-padding: $head-padding,
    $head-border: $head-border,
    $head-border-top: $head-border-top,
    $head-border-right: $head-border-right,
    $head-border-bottom: $head-border-bottom,
    $head-border-left: $head-border-left,
    $head-background: $head-background,
    $head-font-family: $head-font-family,
    $head-font-size: $head-font-size,
    $head-font-weight: $head-font-weight,
    $head-line-height: $head-line-height,
    $head-color: $head-color,
    $head-text-align: $head-text-align,
    $head-cell-border: $head-cell-border,
    $head-cell-border-top: $head-cell-border-top,
    $head-cell-border-right: $head-cell-border-right,
    $head-cell-border-bottom: $head-cell-border-bottom,
    $head-cell-border-left: $head-cell-border-left,
    $head-cell-background: $head-cell-background,
    $foot-padding: $foot-padding,
    $foot-border: $foot-border,
    $foot-border-top: $foot-border-top,
    $foot-border-right: $foot-border-right,
    $foot-border-bottom: $foot-border-bottom,
    $foot-border-left: $foot-border-left,
    $foot-background: $foot-background,
    $foot-font-family: $foot-font-family,
    $foot-font-size: $foot-font-size,
    $foot-font-weight: $foot-font-weight,
    $foot-line-height: $foot-line-height,
    $foot-color: $foot-color,
    $foot-text-align: $foot-text-align,
    $foot-cell-border: $foot-cell-border,
    $foot-cell-border-top: $foot-cell-border-top,
    $foot-cell-border-right: $foot-cell-border-right,
    $foot-cell-border-bottom: $foot-cell-border-bottom,
    $foot-cell-border-left: $foot-cell-border-left,
    $foot-cell-background: $foot-cell-background,
    $odd-row-padding: $odd-row-padding,
    $odd-row-border: $odd-row-border,
    $odd-row-border-top: $odd-row-border-top,
    $odd-row-border-right: $odd-row-border-right,
    $odd-row-border-bottom: $odd-row-border-bottom,
    $odd-row-border-left: $odd-row-border-left,
    $odd-row-background: $odd-row-background,
    $odd-row-font-family: $odd-row-font-family,
    $odd-row-font-size: $odd-row-font-size,
    $odd-row-font-weight: $odd-row-font-weight,
    $odd-row-line-height: $odd-row-line-height,
    $odd-row-color: $odd-row-color,
    $odd-row-text-align: $odd-row-text-align,
    $even-row-padding: $even-row-padding,
    $even-row-border: $even-row-border,
    $even-row-border-top: $even-row-border-top,
    $even-row-border-right: $even-row-border-right,
    $even-row-border-bottom: $even-row-border-bottom,
    $even-row-border-left: $even-row-border-left,
    $even-row-background: $even-row-background,
    $even-row-font-family: $even-row-font-family,
    $even-row-font-size: $even-row-font-size,
    $even-row-font-weight: $even-row-font-weight,
    $even-row-line-height: $even-row-line-height,
    $even-row-color: $even-row-color,
    $even-row-text-align: $even-row-text-align,
    $odd-column-padding: $odd-column-padding,
    $odd-column-border: $odd-column-border,
    $odd-column-border-top: $odd-column-border-top,
    $odd-column-border-right: $odd-column-border-right,
    $odd-column-border-bottom: $odd-column-border-bottom,
    $odd-column-border-left: $odd-column-border-left,
    $odd-column-background: $odd-column-background,
    $odd-column-font-family: $odd-column-font-family,
    $odd-column-font-size: $odd-column-font-size,
    $odd-column-font-weight: $odd-column-font-weight,
    $odd-column-line-height: $odd-column-line-height,
    $odd-column-color: $odd-column-color,
    $odd-column-text-align: $odd-column-text-align,
    $even-column-padding: $even-column-padding,
    $even-column-border: $even-column-border,
    $even-column-border-top: $even-column-border-top,
    $even-column-border-right: $even-column-border-right,
    $even-column-border-bottom: $even-column-border-bottom,
    $even-column-border-left: $even-column-border-left,
    $even-column-background: $even-column-background,
    $even-column-font-family: $even-column-font-family,
    $even-column-font-size: $even-column-font-size,
    $even-column-font-weight: $even-column-font-weight,
    $even-column-line-height: $even-column-line-height,
    $even-column-color: $even-column-color,
    $even-column-text-align: $even-column-text-align,
    $selector: $selector,
    $selector-cell: $selector-cell,
    $selector-row: $selector-row,
    $selector-head: $selector-head,
    $selector-head-cell: $selector-head-cell,
    $selector-foot: $selector-foot,
    $selector-foot-cell: $selector-foot-cell,
    $selector-caption: $selector-caption
  );
}
