@use "sass:list";
@use "../utility/owl" as *;
@use "../utility/owl-after" as *;
@use "../utility/owl-before" as *;

/// Mingle a list of selectors to go before and/or after the other adjacently
/// @param {String|List} $selectors The cross-mingle elements
/// @param {String|List} $before [null] The before elements
/// @param {String|List} $after [null] The after elements
/// @group select

@mixin select-owl($selectors, $before: null, $after: null) {
  $owl-selector: owl($selectors);

  @if $before {
    $owl-selector: list.join($owl-selector, owl-before($selectors, $before), comma);
  }

  @if $after {
    $owl-selector: list.join($owl-selector, owl-after($selectors, $after), comma);
  }

  #{$owl-selector} {
    @content;
  }
}
