$selectors: (
  spacing: (
    "h1",
    "h2",
    "h3",
    "h4",
    "h5",
    "h6",
    "p",
    "ul",
    "ol",
    "blockquote",
    "dl",
    "dt",
    "address",
    "figure",
    "pre",
    "table",
    "dorm",
    "details"
  ),
  bold: "b" "strong" "dt",
  italic: "em" "dfn" "var",
  underline: "ins" "u",
  line-through: "del" "s",
  small: "small",
  sub: "sub",
  sup: "sup",
  code: "code" "kdb" "samp",
  quote: "blockquote" "q",
  heading: "h1" "h2" "h3" "h4" "h5" "h6",
  link: "a",
  link-states: "a" "a:hover" "a:focus" "a:active" "a:visited",
  input: (
    "input:not([type])",
    "[type=\"color\"]",
    "[type=\"date\"]",
    "[type=\"datetime\"]",
    "[type=\"datetime-local\"]",
    "[type=\"email\"]",
    "[type=\"image\"]",
    "[type=\"month\"]",
    "[type=\"number\"]",
    "[type=\"password\"]",
    "[type=\"search\"]",
    "[type=\"tel\"]",
    "[type=\"text\"]",
    "[type=\"time\"]",
    "[type=\"url\"]",
    "[type=\"week\"]",
    "select",
    "textarea"
  ),
  input-multiline: "textarea" "select[multiple]",
  input-clickable: "[type=\"checkbox\"]" "[type=\"radio\"]",
  button: (
    "button",
    "[type=\"button\"]",
    "[type=\"reset\"]",
    "[type=\"submit\"]",
    "summary"
  ),
  inline: (
    "a",
    "abbr",
    "audio",
    "bdi",
    "bdo",
    "button",
    "canvas",
    "cite",
    "code",
    "dfn",
    "em",
    "embed",
    "i",
    "img",
    "input",
    "ins",
    "kbd",
    "label",
    "map",
    "mark",
    "object",
    "optgroup",
    "output",
    "picture",
    "q",
    "s",
    "samp",
    "select",
    "small",
    "source",
    "span",
    "strong",
    "sub",
    "sup",
    "textarea",
    "time",
    "u",
    "var",
    "video",
    "wbr"
  ),
  block: (
    "address",
    "article",
    "aside",
    "blockquote",
    "body",
    "dd",
    "details",
    "div",
    "dl",
    "dt",
    "fieldset",
    "figcaption",
    "figure",
    "footer",
    "form",
    "h1",
    "h2",
    "h3",
    "h4",
    "h5",
    "h6",
    "header",
    "hr",
    "hgroup",
    "html",
    "iframe",
    "legend",
    "main",
    "menu",
    "nav",
    "ol",
    "p",
    "pre",
    "section",
    "summary",
    "ul"
  )
) !default;

@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "sass:string";

/// Get selectors from a named selector group
/// @param {String} $ids Selector group id(s)
/// @group select

@mixin select($ids) {
  #{select($ids)} {
    @content;
  }
}

/// Get selectors from a named selector group
/// @param {String} $ids Selector group id(s)
/// @group select

@function select($ids: null) {
  $selector: ();
  @if not $ids {
    @return &;
  }
  $ids: if(meta.type-of($ids) == list, $ids, ($ids));
  @each $id in $ids {
    @if map.has-key($selectors, $id) {
      @each $i in map.get($selectors, $id) {
        $selector: list.append($selector, $i, comma);
      }
    } @else {
      $selector: list.append($selector, $id, comma);
    }
  }
  @return if(list.length($selector) > 0, $selector, &);
}
