/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/blur/animate-blur-out-contract.scss" as *;

@include test-module("animate-blur-out-contract [mixin]") {
    @include test("Can add animation animate-blur-out-contract") {
        @include assert {
            @include output {
            @include animate-blur-out-contract();
        }
        @include expect {
            animation: blur-out-contract;

            @keyframes blur-out-contract {
                0% {
      -webkit-filter: blur(0.01);
      filter: blur(0.01);
    }

                100% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px) opacity(0%);
      filter: blur(12px) opacity(0%);
    }
  }
}

        }
    }
}
