/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/blur/animate-blur-out-expand-forward.scss" as *;

@include test-module("animate-blur-out-expand-forward [mixin]") {
    @include test("Can add animation animate-blur-out-expand-forward") {
        @include assert {
            @include output {
            @include animate-blur-out-expand-forward();
        }
        @include expect {
            animation: blur-out-expand-fwd;

            @keyframes blur-out-expand-fwd {
                0% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-filter: blur(0.01);
      filter: blur(0.01);
    }

                100% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(300px);
      transform: translateZ(300px);
      -webkit-filter: blur(12px) opacity(0%);
      filter: blur(12px) opacity(0%);
    }
  }
}

        }
    }
}
