@use "sass:list";
@use "sass:string";

/// Mingle a list of selectors to go before and after the other adjacently
/// @param {List|String} $selectors The base selectors
/// @group utility

@function owl($selectors) {
  $owl-selector: ();

  @each $sel1 in $selectors {
    @each $sel2 in $selectors {
      $sel2: if(string.index($sel2, ">") == 1, string.slice($sel2, 2), $sel2);
      $owl-selector: list.append($owl-selector, #{$sel1 + " + " + $sel2}, comma);
    }
  }

  @return $owl-selector;
}
