@use "sass:meta";
@use "sass:map";
@use "./get" as *;
@use "./remove-nth" as *;
@use "./set" as *;

/// Remove $keys (deeply) from $map
/// @param {Map} $map The map to remove keys from
/// @param {String|List} $keys... Keys to be removed
/// @return {Map}
/// @group utility

@function remove($map, $keys...) {
	@if meta.type-of($map) != map {
		@return $map;
	}
	@each $set in $keys {
		@if meta.type-of($set) == list {
			@if get($map, $set) {
				$key: remove-nth($set, -1);
				$overwrite: remove(
					get($map, $key),
					list.nth($set, list.length($set))
				);
				$map: set($map, $key, $overwrite, false)
			}
		}
		@else {
			@if map.has-key($map, $set) {
				$map: map.remove($map, $set);
			}
		}
	}
	@return $map;
}