@use "sass:list";

/// Get a map of sides from a value or list (like margin, padding)
/// @example
///   sides(1px)             /* (top: 1px, right: 1px, bottom: 1px, left: 1px) */
///   sides(1px 2px)         /* (top: 1px, right: 2px, bottom: 1px, left: 2px) */
///   sides(1px 2px 3px)     /* (top: 1px, right: 2px, bottom: 3px, left: 2px) */
///   sides(1px 2px 3px 4px) /* (top: 1px, right: 2px, bottom: 3px, left: 4px) */
/// @param {List} $value Multi-size value (like margin, padding)
/// @return {Map}
/// @group utility

@function sides($value) {
  $top: null;
  $right: null;
  $bottom: null;
  $left: null;

  @if list.length($value) == 1 {
    $top: $value;
    $right: $value;
    $bottom: $value;
    $left: $value;
  }

  @else if list.length($value) == 2 {
    $top: list.nth($value, 1);
    $right: list.nth($value, 2);
    $bottom: $top;
    $left: $right;
  }

  @else if list.length($value) == 3 {
    $top: list.nth($value, 1);
    $right: list.nth($value, 2);
    $bottom: list.nth($value, 3);
    $left: $right;
  }

  @else {
    $top: list.nth($value, 1);
    $right: list.nth($value, 2);
    $bottom: list.nth($value, 3);
    $left: list.nth($value, 4);
  }

  @return (
    top: $top,
    right: $right,
    bottom: $bottom,
    left: $left
  );
}
