@use "sass:string";
@use "str-replace" as *;

/// Escape string to work as a classname
/// @param {String} $classname - The classname to escape
/// @return {String}
/// @group utility

@function escape-classname($classname) {
    $starts-with-dot: false;
    @if string.index($classname, ".") == 1 {
        $starts-with-dot: true;
        $classname: string.slice($classname, 2);
    }
    $classname: str-replace($classname, ".", "\\.");
    $classname: str-replace($classname, ":", "\\:");
    $classname: str-replace($classname, "/", "\\/");
    $classname: str-replace($classname, " ", "-");
    @if $starts-with-dot {
        $classname: "." + $classname;
    }
    @return $classname;
}
