/// Increment z-index value for each element in a container
/// @param {String} $from - Starting element index
/// @param {String} $to - Ending element index
/// @param {Number} $index [1] - Starting z-index
/// @param {String|List} $selector ["&"] - The selector
/// @group Utility

@mixin increment-z-index($from, $to, $z-index: 1, $selector: "&") {
    $start: if($from < $to, $from, $to);
    $end: if($from < $to, $to, $from);
    @for $i from $start through $end {
        #{$selector} {
            #{if($from < $to, "&:nth-child(#{$i})", "&:nth-last-child(#{$i})")} {
                z-index: $z-index + $i - 1;
                @content;
            }
        }
    }
}
