@use "sass:color";
@use "xyz" as *;

/// Returns XYZ value to RGB channel
/// @param {Color} $color - Color
/// @return {Number}
/// @group utility

@function luminance($color) {
    $red: xyz(color.red($color));
    $green: xyz(color.green($color));
    $blue: xyz(color.blue($color));
    @return $red * 0.2126 + $green * 0.7152 + $blue * 0.0722;
}
