/// Unhide a previously visually hidden element
/// @param {String} $position [static] - Position value
/// @param {String} $overflow [visible] - Overflow value
/// @param {String} $visibility [visible] - Visibility value
/// @param {Number} $opacity [1] - Opacity value
/// @param {Number} $left [auto] - Left property
/// @group Utility

@mixin unhide-visually(
  $position: static,
  $overflow: visible,
  $visibility: visible,
  $opacity: 1,
  $left: auto
) {
  position: $position;
  left: $left;
  overflow: $overflow;
  visibility: $visibility;
  opacity: $opacity;
}
