@use "../../utility/keyframes" as *;

/// Animate text shadow drop left
/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@mixin animate-text-shadow-drop-left($animation-settings: null) {
	animation: if($animation-settings, #{"text-shadow-drop-left #{$animation-settings}"}, text-shadow-drop-left);

	@include keyframes(text-shadow-drop-left) {
		0% {
			text-shadow: 0 0 0 transparent;
		}

		100% {
			text-shadow: -6px 0 18px rgba(0, 0, 0, 0.35);
		}
	}
}

