@use "../../utility/keyframes" as *;

/// Animate swing left backward
/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@mixin animate-swing-left-backward($animation-settings: null) {
	animation: if($animation-settings, #{"swing-left-bck #{$animation-settings}"}, swing-left-bck);

	@include keyframes(swing-left-bck) {
		0% {
			-webkit-transform: rotateY(0);
			transform: rotateY(0);
			-webkit-transform-origin: left bottom;
			transform-origin: left bottom;
		}

		100% {
			-webkit-transform: rotateY(180deg);
			transform: rotateY(180deg);
			-webkit-transform-origin: left bottom;
			transform-origin: left bottom;
		}
	}
}

