@use "../../utility/keyframes" as *;

/// Animate swing in top backward
/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@mixin animate-swing-in-top-backward($animation-settings: null) {
	animation: if($animation-settings, #{"swing-in-top-bck #{$animation-settings}"}, swing-in-top-bck);

	@include keyframes(swing-in-top-bck) {
		0% {
			-webkit-transform: rotateX(70deg);
			transform: rotateX(70deg);
			-webkit-transform-origin: top;
			transform-origin: top;
			opacity: 0;
		}

		100% {
			-webkit-transform: rotateX(0deg);
			transform: rotateX(0deg);
			-webkit-transform-origin: top;
			transform-origin: top;
			opacity: 1;
		}
	}
}

