@use "../../utility/keyframes" as *;

/// Animate swing bottom right forward
/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@mixin animate-swing-bottom-right-forward($animation-settings: null) {
	animation: if($animation-settings, #{"swing-bottom-right-fwd #{$animation-settings}"}, swing-bottom-right-fwd);

	@include keyframes(swing-bottom-right-fwd) {
		0% {
			-webkit-transform: rotate3d(-1, 1, 0, 0deg);
			transform: rotate3d(-1, 1, 0, 0deg);
			-webkit-transform-origin: 100% 100%;
			transform-origin: 100% 100%;
		}

		100% {
			-webkit-transform: rotate3d(-1, 1, 0, 180deg);
			transform: rotate3d(-1, 1, 0, 180deg);
			-webkit-transform-origin: 100% 100%;
			transform-origin: 100% 100%;
		}
	}
}

