@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate focus in expand forward
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @group animation
/// @link https://animista.net/

@mixin animate-focus-in-expand-forward($animation-settings: null) {
  @include animation-name-or-shorthand(focus-in-expand-fwd, $animation-settings);

  @include keyframes(focus-in-expand-fwd) {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-800px);
      transform: translateZ(-800px);
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
    }

    100% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-filter: blur(0);
      filter: blur(0);
      opacity: 1;
    }
  }
}

