@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

@mixin animate-roll-out-right($animation-settings: null) {
  @include animation-name-or-shorthand(roll-out-right, $animation-settings);

  @include keyframes(roll-out-right) {
    0% {
      -webkit-transform: translateX(0) rotate(0deg);
      transform: translateX(0) rotate(0deg);
      opacity: 1;
    }

    100% {
      -webkit-transform: translateX(1000px) rotate(540deg);
      transform: translateX(1000px) rotate(540deg);
      opacity: 0;
    }
  }
}

