@use "../../utility/keyframes" as *;

/// Animate wobble horizontal top
/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@mixin animate-wobble-horizontal-top($animation-settings: null) {
	animation: if($animation-settings, #{"wobble-hor-top #{$animation-settings}"}, wobble-hor-top);

	@include keyframes(wobble-hor-top) {
		0%,
		100% {
			-webkit-transform: translateX(0%);
			transform: translateX(0%);
			-webkit-transform-origin: 50% 50%;
			transform-origin: 50% 50%;
		}

		15% {
			-webkit-transform: translateX(-30px) rotate(6deg);
			transform: translateX(-30px) rotate(6deg);
		}

		30% {
			-webkit-transform: translateX(15px) rotate(-6deg);
			transform: translateX(15px) rotate(-6deg);
		}

		45% {
			-webkit-transform: translateX(-15px) rotate(3.6deg);
			transform: translateX(-15px) rotate(3.6deg);
		}

		60% {
			-webkit-transform: translateX(9px) rotate(-2.4deg);
			transform: translateX(9px) rotate(-2.4deg);
		}

		75% {
			-webkit-transform: translateX(-6px) rotate(1.2deg);
			transform: translateX(-6px) rotate(1.2deg);
		}
	}
}

