@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate puff in top
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @link https://animista.net/

@mixin animate-puff-in-top($animation-settings: null) {
  @include animation-name-or-shorthand(puff-in-top, $animation-settings);

  @include keyframes(puff-in-top) {
    0% {
      -webkit-transform: scale(2);
      transform: scale(2);
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
      -webkit-filter: blur(2px);
      filter: blur(2px);
      opacity: 0;
    }

    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
      -webkit-filter: blur(0);
      filter: blur(0);
      opacity: 1;
    }
  }
}

