@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate puff out horizontal
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @group animation
/// @link https://animista.net/

@mixin animate-puff-out-horizontal($animation-settings: null) {
  @include animation-name-or-shorthand(puff-out-hor, $animation-settings);

  @include keyframes(puff-out-hor) {
    0% {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
      -webkit-filter: blur(0);
      filter: blur(0);
      opacity: 1;
    }

    100% {
      -webkit-transform: scaleX(2);
      transform: scaleX(2);
      -webkit-filter: blur(2px);
      filter: blur(2px);
      opacity: 0;
    }
  }
}

