@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

@mixin animate-puff-out-top-right($animation-settings: null) {
  @include animation-name-or-shorthand(puff-out-tr, $animation-settings);

  @include keyframes(puff-out-tr) {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: 100% 0%;
      transform-origin: 100% 0%;
      -webkit-filter: blur(0);
      filter: blur(0);
      opacity: 1;
    }

    100% {
      -webkit-transform: scale(2);
      transform: scale(2);
      -webkit-transform-origin: 100% 0%;
      transform-origin: 100% 0%;
      -webkit-filter: blur(2px);
      filter: blur(2px);
      opacity: 0;
    }
  }
}

