@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate puff in vertical
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @link https://animista.net/

@mixin animate-puff-in-vertical($animation-settings: null) {
  @include animation-name-or-shorthand(puff-in-ver, $animation-settings);

  @include keyframes(puff-in-ver) {
    0% {
      -webkit-transform: scaleY(2);
      transform: scaleY(2);
      -webkit-filter: blur(2px);
      filter: blur(2px);
      opacity: 0;
    }

    100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
      -webkit-filter: blur(0);
      filter: blur(0);
      opacity: 1;
    }
  }
}

