/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/bounce/animate-bounce-in-right.scss" as *;

@include test-module("animate-bounce-in-right [mixin]") {
    @include test("Can add animation animate-bounce-in-right") {
        @include assert {
            @include output {
            @include animate-bounce-in-right();
        }
        @include expect {
            animation: bounce-in-right;

            @keyframes bounce-in-right {
                0% {
      -webkit-transform: translateX(600px);
      transform: translateX(600px);
      -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
      opacity: 0;
    }

                38% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
      opacity: 1;
    }

                55% {
      -webkit-transform: translateX(68px);
      transform: translateX(68px);
      -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }

                72%,
                90%,
                100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }

                81% {
      -webkit-transform: translateX(32px);
      transform: translateX(32px);
      -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }

                95% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px);
      -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }
  }
}        }
    }
}
