/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/bounce/animate-bounce-in-top.scss" as *;

@include test-module("animate-bounce-in-top [mixin]") {
    @include test("Can add animation animate-bounce-in-top") {
        @include assert {
            @include output {
            @include animate-bounce-in-top();
        }
        @include expect {
            animation: bounce-in-top;

            @keyframes bounce-in-top {
                0% {
      -webkit-transform: translateY(-500px);
      transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
      opacity: 0;
    }

                38% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
      opacity: 1;
    }

                55% {
      -webkit-transform: translateY(-65px);
      transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }

                72%,
                90%,
                100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }

                81% {
      -webkit-transform: translateY(-28px);
      transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
    }

                95% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }
  }
}        }
    }
}
