@use "../../node_modules/sass-true" as *;
@use "../../src/theme/theme.scss" as styler;

styler.$theme: (
    global: 10px,
    default: (
        setting: 15px
    )
);

@include test-module("theme [function]") {
    @include test('Get value regularly') {
        @include assert-equal(
            styler.theme(global),
            10px
        );
    }
    @include test('Get value from default') {
        @include assert-equal(
            styler.theme(setting),
            15px
        );
    }
    @include test('Get value with fallback') {
        @include assert-equal(
            styler.theme(unknown-setting, black),
            black
        );
    }
}
