/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/shadow/animate-shadow-drop-top-left.scss" as *;

@include test-module("animate-shadow-drop-top-left [mixin]") {
    @include test("Can add animation animate-shadow-drop-top-left") {
        @include assert {
            @include output {
            @include animate-shadow-drop-top-left();
        }
        @include expect {
	animation: shadow-drop-tl;

	@keyframes shadow-drop-tl {
		0% {
			-webkit-box-shadow: 0 0 0 0 transparent;
			box-shadow: 0 0 0 0 transparent;
		}

		100% {
			-webkit-box-shadow: -12px -12px 20px -12px rgba(0, 0, 0, 0.35);
			box-shadow: -12px -12px 20px -12px rgba(0, 0, 0, 0.35);
		}
	}
}        }
    }
}
