/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/shadow/animate-shadow-inset-right.scss" as *;

@include test-module("animate-shadow-inset-right [mixin]") {
    @include test("Can add animation animate-shadow-inset-right") {
        @include assert {
            @include output {
            @include animate-shadow-inset-right();
        }
        @include expect {
	animation: shadow-inset-right;

	@keyframes shadow-inset-right {
		0% {
			-webkit-box-shadow: inset 0 0 0 0 transparent;
			box-shadow: inset 0 0 0 0 transparent;
		}

		100% {
			-webkit-box-shadow: inset -6px 0 14px -6px rgba(0, 0, 0, 0.5);
			box-shadow: inset -6px 0 14px -6px rgba(0, 0, 0, 0.5);
		}
	}
}        }
    }
}
