/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/shadow/animate-shadow-drop-2-center.scss" as *;

@include test-module("animate-shadow-drop-2-center [mixin]") {
    @include test("Can add animation animate-shadow-drop-2-center") {
        @include assert {
            @include output {
            @include animate-shadow-drop-2-center();
        }
        @include expect {
	animation: shadow-drop-2-center;

	@keyframes shadow-drop-2-center {
		0% {
			-webkit-transform: translateZ(0);
			transform: translateZ(0);
			-webkit-box-shadow: 0 0 0 0 transparent;
			box-shadow: 0 0 0 0 transparent;
		}

		100% {
			-webkit-transform: translateZ(50px);
			transform: translateZ(50px);
			-webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
			box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
		}
	}
}        }
    }
}
