$component-align-content-support-media: true !default;
$component-align-content-support-modifiers: false !default;
@use "../theme/register-component" as *;
@include register-component(
    "content-center",
    (
        align-content: center,
    ),
    $component-align-content-support-media,
    $component-align-content-support-modifiers,
);
@include register-component(
    "content-start",
    (
        align-content: flex-start,
    ),
    (media modifier)
);
@include register-component(
    "content-end",
    (
        align-content: flex-end,
    ),
    $component-align-content-support-media,
    $component-align-content-support-modifiers,
);
@include register-component(
    "content-between",
    (
        align-content: space-between,
    ),
    $component-align-content-support-media,
    $component-align-content-support-modifiers,
);
@include register-component(
    "content-around",
    (
        align-content: space-around,
    ),
    $component-align-content-support-media,
    $component-align-content-support-modifiers,
);
@include register-component(
    "content-evenly",
    (
        align-content: space-evenly,
    ),
    $component-align-content-support-media,
    $component-align-content-support-modifiers,
);
