$component-align-self-support-media: true !default;
$component-align-self-support-modifiers: false !default;
@use "../theme/register-component" as *;
@include register-component(
    "self-auto",
    (
        align-self: auto,
    ),
    $component-align-self-support-media,
    $component-align-self-support-modifiers
);
@include register-component(
    "self-start",
    (
        align-self: flex-start,
    ),
    $component-align-self-support-media,
    $component-align-self-support-modifiers
);
@include register-component(
    "self-end",
    (
        align-self: flex-end,
    ),
    $component-align-self-support-media,
    $component-align-self-support-modifiers
);
@include register-component(
    "self-center",
    (
        align-self: center,
    ),
    $component-align-self-support-media,
    $component-align-self-support-modifiers
);
@include register-component(
    "self-stretch",
    (
        align-self: stretch,
    ),
    $component-align-self-support-media,
    $component-align-self-support-modifiers
);
