$component-appearance-support-media: true !default;
$component-appearance-support-modifiers: false !default;
@use "../theme/register-component" as *;
@include register-component(
    "appearance-none",
    (
        appearance: none,
    ),
    $component-appearance-support-media,
    $component-appearance-support-modifiers
);
