$component-background-attachment-support-media: true !default;
$component-background-attachment-support-modifiers: false !default;
@use "../theme/register-component" as *;

@include register-component(
    "bg-fixed",
    (
        background-attachment: fixed,
    ),
    $component-background-attachment-support-media,
    $component-background-attachment-support-modifiers
);
@include register-component(
    "bg-local",
    (
        background-attachment: local,
    ),
    $component-background-attachment-support-media,
    $component-background-attachment-support-modifiers
);
@include register-component(
    "bg-scroll",
    (
        background-attachment: scroll,
    ),
    $component-background-attachment-support-media,
    $component-background-attachment-support-modifiers
);
