$component-background-repeat-support-media: true !default;
$component-background-repeat-support-modifiers: false !default;
@use "../theme/register-component" as *;
@include register-component(
    "bg-repeat",
    (
        background-repeat: repeat,
    ),
    $component-background-repeat-support-media,
    $component-background-repeat-support-modifiers
);
@include register-component(
    "bg-no-repeat",
    (
        background-repeat: no-repeat,
    ),
    $component-background-repeat-support-media,
    $component-background-repeat-support-modifiers
);
@include register-component(
    "bg-repeat-x",
    (
        background-repeat: repeat-x,
    ),
    $component-background-repeat-support-media,
    $component-background-repeat-support-modifiers
);
@include register-component(
    "bg-repeat-y",
    (
        background-repeat: repeat-y,
    ),
    $component-background-repeat-support-media,
    $component-background-repeat-support-modifiers
);
@include register-component(
    "bg-repeat-round",
    (
        background-repeat: round,
    ),
    $component-background-repeat-support-media,
    $component-background-repeat-support-modifiers
);
@include register-component(
    "bg-repeat-space",
    (
        background-repeat: space,
    ),
    $component-background-repeat-support-media,
    $component-background-repeat-support-modifiers
);
