$component-border-style-support-media: true !default;
$component-border-style-support-modifiers: false !default;
@use "../theme/register-component" as *;
@include register-component(
    "border-solid",
    (
        border-style: solid,
    ),
    $component-border-style-support-media,
    $component-border-style-support-modifiers
);
@include register-component(
    "border-dashed",
    (
        border-style: dashed,
    ),
    $component-border-style-support-media,
    $component-border-style-support-modifiers
);
@include register-component(
    "border-dotted",
    (
        border-style: dotted,
    ),
    $component-border-style-support-media,
    $component-border-style-support-modifiers
);
@include register-component(
    "border-double",
    (
        border-style: double,
    ),
    $component-border-style-support-media,
    $component-border-style-support-modifiers
);
@include register-component(
    "border-none",
    (
        border-style: none,
    ),
    $component-border-style-support-media,
    $component-border-style-support-modifiers
);
