$component-flex-support-media: true !default;
$component-flex-support-modifiers: false !default;
$component-flex-values: (
    1: 1 1 0%,
    auto: 1 1 auto,
    initial: 0 1 auto,
    none: none
) !default;
@use "../theme/register-component" as *;
@each $key, $value in $component-flex-values {
    @include register-component(
        "flex-#{$key}",
        (
            flex: $value,
        ),
        $component-flex-support-media,
        $component-flex-support-modifiers
    );
}
