$component-flex-direction-support-media: true !default;
$component-flex-direction-support-modifiers: false !default;
@use "../theme/register-component" as *;
@include register-component(
    "flex-row",
    (
        flex-direction: row,
    ),
    $component-flex-direction-support-media,
    $component-flex-direction-support-modifiers
);
@include register-component(
    "flex-row-reverse",
    (
        flex-direction: row-reverse,
    ),
    $component-flex-direction-support-media,
    $component-flex-direction-support-modifiers
);
@include register-component(
    "flex-col",
    (
        flex-direction: column,
    ),
    $component-flex-direction-support-media,
    $component-flex-direction-support-modifiers
);
@include register-component(
    "flex-col-reverse",
    (
        flex-direction: column-reverse,
    ),
    $component-flex-direction-support-media,
    $component-flex-direction-support-modifiers
);
