$component-flex-grow-support-media: true !default;
$component-flex-grow-support-modifiers: false !default;
$component-flex-grow-values: (
    default: 1,
    0: 0
) !default;
@use "sass:map";
@use "../theme/register-component" as *;
@include register-component(
    "flex-grow",
    (
        flex-grow: map.get($component-flex-grow-values, default),
    ),
    $component-flex-grow-support-media,
    $component-flex-grow-support-modifiers
);
@each $key, $value in $component-flex-grow-values {
    @if $key != default {
        @include register-component(
            "flex-grow-#{$key}",
            (
                flex-grow: $value,
            ),
            $component-flex-grow-support-media,
            $component-flex-grow-support-modifiers
        );
    }
}
