$component-flex-wrap-support-media: true !default;
$component-flex-wrap-support-modifiers: false !default;
@use "../theme/register-component" as *;
@include register-component(
    "flex-wrap",
    (
        flex-wrap: wrap,
    ),
    $component-flex-wrap-support-media,
    $component-flex-wrap-support-modifiers
);
@include register-component(
    "flex-wrap-reverse",
    (
        flex-wrap: wrap-reverse,
    ),
    $component-flex-wrap-support-media,
    $component-flex-wrap-support-modifiers
);
@include register-component(
    "flex-nowrap",
    (
        flex-wrap: nowrap,
    ),
    $component-flex-wrap-support-media,
    $component-flex-wrap-support-modifiers
);
