$component-float-support-media: true !default;
$component-float-support-modifiers: false !default;
@use "../theme/register-component" as *;
@include register-component(
    "float-right",
    (
        float: right,
    ),
    $component-float-support-media,
    $component-float-support-modifiers
);
@include register-component(
    "float-left",
    (
        float: left,
    ),
    $component-float-support-media,
    $component-float-support-modifiers
);
@include register-component(
    "float-none",
    (
        float: none,
    ),
    $component-float-support-media,
    $component-float-support-modifiers
);
