$component-gap-support-media: true !default;
$component-gap-support-modifiers: false !default;
@use "../theme/register-component" as *;
@use "../theme/spacing" as *;

@include register-component(
    "gap",
    (
        gap: var(--gap),
    ),
    $component-gap-support-media,
    $component-gap-support-modifiers
);
@include register-component(
    "gap-0",
    (
        gap: 0,
    ),
    $component-gap-support-media,
    $component-gap-support-modifiers
);
@include register-component(
    "gap-x-0",
    (
        column-gap: 0,
    ),
    $component-gap-support-media,
    $component-gap-support-modifiers
);
@include register-component(
    "gap-y-0",
    (
        row-gap: 0,
    ),
    $component-gap-support-media,
    $component-gap-support-modifiers
);
@include register-component(
    "gap-px",
    (
        gap: 1px,
    ),
    $component-gap-support-media,
    $component-gap-support-modifiers
);
@include register-component(
    "gap-x-px",
    (
        column-gap: 1px,
    ),
    $component-gap-support-media,
    $component-gap-support-modifiers
);
@include register-component(
    "gap-y-px",
    (
        row-gap: 1px,
    ),
    $component-gap-support-media,
    $component-gap-support-modifiers
);
@each $key, $value in $spacing {
    @if $key != default {
        @include register-component(
            "gap-#{$key}",
            (
                gap: $value,
            ),
            $component-gap-support-media,
            $component-gap-support-modifiers
        );
        @include register-component(
            "gap-x-#{$key}",
            (
                column-gap: $value,
            ),
            $component-gap-support-media,
            $component-gap-support-modifiers
        );
        @include register-component(
            "gap-y-#{$key}",
            (
                row-gap: $value,
            ),
            $component-gap-support-media,
            $component-gap-support-modifiers
        );
    }
}
