$component-grid-auto-rows-support-media: true !default;
$component-grid-auto-rows-support-modifiers: false !default;
@use "../theme/register-component" as *;
@include register-component(
    "auto-rows-auto",
    (
        grid-auto-rows: auto,
    ),
    $component-grid-auto-rows-support-media,
    $component-grid-auto-rows-support-modifiers
);
@include register-component(
    "auto-rows-min",
    (
        grid-auto-rows: min-content,
    ),
    $component-grid-auto-rows-support-media,
    $component-grid-auto-rows-support-modifiers
);
@include register-component(
    "auto-rows-max",
    (
        grid-auto-rows: max-content,
    ),
    $component-grid-auto-rows-support-media,
    $component-grid-auto-rows-support-modifiers
);
@include register-component(
    "auto-rows-fr",
    (
        grid-auto-rows: minmax(0, 1fr),
    ),
    $component-grid-auto-rows-support-media,
    $component-grid-auto-rows-support-modifiers
);
