$component-grid-template-rows-support-media: true !default;
$component-grid-template-rows-support-modifiers: false !default;
@use "../theme/register-component" as *;
@for $i from 1 through 6 {
    @include register-component(
        "grid-rows-#{$i}",
        (
            grid-template-rows: repeat($i, minmax(0, 1fr)),
        ),
        $component-grid-template-rows-support-media,
        $component-grid-template-rows-support-modifiers
    );
}
@include register-component(
    "grid-rows-none",
    (
        grid-template-rows: none,
    ),
    $component-grid-template-rows-support-media,
    $component-grid-template-rows-support-modifiers
);
