$component-grid-column-support-media: true !default;
$component-grid-column-support-modifiers: false !default;
@use "../theme/register-component" as *;
@include register-component(
    "col-auto",
    (
        grid-column: auto,
    ),
    $component-grid-column-support-media,
    $component-grid-column-support-modifiers
);
@for $i from 1 through 12 {
    @include register-component(
        "col-span-#{$i}",
        (
            grid-column: span $i / span $i,
        ),
        $component-grid-column-support-media,
        $component-grid-column-support-modifiers
    );
}
@include register-component(
    "col-span-full",
    (
        grid-column: 1 / -1,
    ),
    $component-grid-column-support-media,
    $component-grid-column-support-modifiers
);
@for $i from 1 through 13 {
    @include register-component(
        "col-start-#{$i}",
        (
            grid-column-start: $i,
        ),
        $component-grid-column-support-media,
        $component-grid-column-support-modifiers
    );
}
@include register-component(
    "col-start-auto",
    (
        grid-column-start: auto,
    ),
    $component-grid-column-support-media,
    $component-grid-column-support-modifiers
);
@for $i from 1 through 13 {
    @include register-component(
        "col-end-#{$i}",
        (
            grid-column-end: $i,
        ),
        $component-grid-column-support-media,
        $component-grid-column-support-modifiers
    );
}
@include register-component(
    "col-end-auto",
    (
        grid-column-end: auto,
    ),
    $component-grid-column-support-media,
    $component-grid-column-support-modifiers
);
