$component-height-support-media: true !default;
$component-height-support-modifiers: false !default;
@use "../theme/spacing" as *;
@use "../theme/register-component" as *;
@include register-component(
    "h-0",
    (
        height: 0,
    ),
    $component-height-support-media,
    $component-height-support-modifiers
);
@include register-component(
    "h-auto",
    (
        height: auto,
    ),
    $component-height-support-media,
    $component-height-support-modifiers
);
@include register-component(
    "h-px",
    (
        height: 1px,
    ),
    $component-height-support-media,
    $component-height-support-modifiers
);
@include register-component(
    "h-1/2",
    (
        height: 50%,
    ),
    $component-height-support-media,
    $component-height-support-modifiers
);
@include register-component(
    "h-1/3",
    (
        height: 100% / 3,
    ),
    $component-height-support-media,
    $component-height-support-modifiers
);
@include register-component(
    "h-2/3",
    (
        height: 100% / 3 * 2,
    ),
    $component-height-support-media,
    $component-height-support-modifiers
);
@include register-component(
    "h-1/4",
    (
        height: 100% / 4,
    ),
    $component-height-support-media,
    $component-height-support-modifiers
);
@include register-component(
    "h-2/4",
    (
        height: 100% / 4 * 2,
    ),
    $component-height-support-media,
    $component-height-support-modifiers
);
@include register-component(
    "h-3/4",
    (
        height: 100% / 4 * 3,
    ),
    $component-height-support-media,
    $component-height-support-modifiers
);
@include register-component(
    "h-1/5",
    (
        height: 100% / 5,
    ),
    $component-height-support-media,
    $component-height-support-modifiers
);
@include register-component(
    "h-2/5",
    (
        height: 100% / 5 * 2,
    ),
    $component-height-support-media,
    $component-height-support-modifiers
);
@include register-component(
    "h-3/5",
    (
        height: 100% / 5 * 3,
    ),
    $component-height-support-media,
    $component-height-support-modifiers
);
@include register-component(
    "h-4/5",
    (
        height: 100% / 5 * 4,
    ),
    $component-height-support-media,
    $component-height-support-modifiers
);
@include register-component(
    "h-1/6",
    (
        height: 100% / 6,
    ),
    $component-height-support-media,
    $component-height-support-modifiers
);
@include register-component(
    "h-2/6",
    (
        height: 100% / 6 * 2,
    ),
    $component-height-support-media,
    $component-height-support-modifiers
);
@include register-component(
    "h-3/6",
    (
        height: 100% / 6 * 3,
    ),
    $component-height-support-media,
    $component-height-support-modifiers
);
@include register-component(
    "h-4/6",
    (
        height: 100% / 6 * 4,
    ),
    $component-height-support-media,
    $component-height-support-modifiers
);
@include register-component(
    "h-5/6",
    (
        height: 100% / 6 * 5,
    ),
    $component-height-support-media,
    $component-height-support-modifiers
);
@include register-component(
    "h-full",
    (
        height: 100%,
    ),
    $component-height-support-media,
    $component-height-support-modifiers
);
@include register-component(
    "h-screen",
    (
        height: 100vh,
    ),
    $component-height-support-media,
    $component-height-support-modifiers
);
@each $key, $value in $spacing {
    @if $key != default {
        @include register-component(
            "h-#{$key}",
            (
                height: $value,
            ),
            $component-height-support-media,
            $component-height-support-modifiers
        );
    }
}
