$component-inset-support-media: true !default;
$component-inset-support-modifiers: false !default;
$component-inset-use-spacing: true !default;
$component-inset-values: (
    "1/2": 50%,
    "1/3": 100% / 3,
    "2/3": 100% / 3 * 2,
    "1/4": 100% / 4,
    "2/4": 100% / 4 * 2,
    "3/4": 100% / 4 * 3,
    "full": 100%,
) !default;
@use "../theme/spacing" as *;
@use "../theme/register-component" as *;
@each $key, $value in $component-inset-values {
    @include register-component(
        "inset-#{$key}",
        (
            top: $value,
            right: $value,
            bottom: $value,
            left: $value,
        ),
        $component-inset-support-media,
        $component-inset-support-modifiers
    );
    @include register-component(
        "inset-y-#{$key}",
        (
            top: $value,
            bottom: $value,
        ),
        $component-inset-support-media,
        $component-inset-support-modifiers
    );
    @include register-component(
        "inset-x-#{$key}",
        (
            right: $value,
            left: $value,
        ),
        $component-inset-support-media,
        $component-inset-support-modifiers
    );
    @include register-component(
        "inset-top-#{$key}",
        (
            top: $value,
        ),
        $component-inset-support-media,
        $component-inset-support-modifiers
    );
    @include register-component(
        "inset-right-#{$key}",
        (
            right: $value,
        ),
        $component-inset-support-media,
        $component-inset-support-modifiers
    );
    @include register-component(
        "inset-bottom-#{$key}",
        (
            bottom: $value,
        ),
        $component-inset-support-media,
        $component-inset-support-modifiers
    );
    @include register-component(
        "inset-left-#{$key}",
        (
            left: $value,
        ),
        $component-inset-support-media,
        $component-inset-support-modifiers
    );
}
@if $component-inset-use-spacing {
    @each $key, $value in $spacing {
        @if $key != default {
            @include register-component(
                "inset-#{$key}",
                (
                    top: $value,
                    right: $value,
                    bottom: $value,
                    left: $value,
                ),
                $component-inset-support-media,
                $component-inset-support-modifiers
            );
            @include register-component(
                "inset-y-#{$key}",
                (
                    top: $value,
                    bottom: $value,
                ),
                $component-inset-support-media,
                $component-inset-support-modifiers
            );
            @include register-component(
                "inset-x-#{$key}",
                (
                    right: $value,
                    left: $value,
                ),
                $component-inset-support-media,
                $component-inset-support-modifiers
            );
            @include register-component(
                "inset-top-#{$key}",
                (
                    top: $value,
                ),
                $component-inset-support-media,
                $component-inset-support-modifiers
            );
            @include register-component(
                "inset-right-#{$key}",
                (
                    right: $value,
                ),
                $component-inset-support-media,
                $component-inset-support-modifiers
            );
            @include register-component(
                "inset-bottom-#{$key}",
                (
                    bottom: $value,
                ),
                $component-inset-support-media,
                $component-inset-support-modifiers
            );
            @include register-component(
                "inset-left-#{$key}",
                (
                    left: $value,
                ),
                $component-inset-support-media,
                $component-inset-support-modifiers
            );
        }
    }
}
