$component-justify-self-support-media: true !default;
$component-justify-self-support-modifiers: false !default;
@use "../theme/register-component" as *;
@include register-component(
    "justify-self-auto",
    (
        justify-self: auto,
    ),
    $component-justify-self-support-media,
    $component-justify-self-support-modifiers
);
@include register-component(
    "justify-self-start",
    (
        justify-self: start,
    ),
    $component-justify-self-support-media,
    $component-justify-self-support-modifiers
);
@include register-component(
    "justify-self-end",
    (
        justify-self: end,
    ),
    $component-justify-self-support-media,
    $component-justify-self-support-modifiers
);
@include register-component(
    "justify-self-center",
    (
        justify-self: center,
    ),
    $component-justify-self-support-media,
    $component-justify-self-support-modifiers
);
@include register-component(
    "justify-self-stretch",
    (
        justify-self: stretch,
    ),
    $component-justify-self-support-media,
    $component-justify-self-support-modifiers
);
