$component-justify-content-support-media: true !default;
$component-justify-content-support-modifiers: false !default;
@use "../theme/register-component" as *;
@include register-component(
    "justify-start",
    (
        justify-content: flex-start,
    ),
    $component-justify-content-support-media,
    $component-justify-content-support-modifiers
);
@include register-component(
    "justify-end",
    (
        justify-content: flex-end,
    ),
    $component-justify-content-support-media,
    $component-justify-content-support-modifiers
);
@include register-component(
    "justify-center",
    (
        justify-content: center,
    ),
    $component-justify-content-support-media,
    $component-justify-content-support-modifiers
);
@include register-component(
    "justify-between",
    (
        justify-content: space-between,
    ),
    $component-justify-content-support-media,
    $component-justify-content-support-modifiers
);
@include register-component(
    "justify-around",
    (
        justify-content: space-around,
    ),
    $component-justify-content-support-media,
    $component-justify-content-support-modifiers
);
@include register-component(
    "justify-evenly",
    (
        justify-content: space-evenly,
    ),
    $component-justify-content-support-media,
    $component-justify-content-support-modifiers
);
