$component-max-height-support-media: true !default;
$component-max-height-support-modifiers: false !default;
@use "../theme/spacing" as *;
@use "../theme/register-component" as *;

@include register-component(
    "max-h-0",
    (
        max-height: 0,
    ),
    $component-max-height-support-media,
    $component-max-height-support-modifiers
);
@include register-component(
    "max-h-px",
    (
        max-height: 1px,
    ),
    $component-max-height-support-media,
    $component-max-height-support-modifiers
);
@include register-component(
    "max-h-full",
    (
        max-height: 100%,
    ),
    $component-max-height-support-media,
    $component-max-height-support-modifiers
);
@include register-component(
    "max-h-screen",
    (
        max-height: 100vh,
    ),
    $component-max-height-support-media,
    $component-max-height-support-modifiers
);
@each $key, $value in $spacing {
    @if $key != default {
        @include register-component(
            "max-h-#{$key}",
            (
                max-height: $value,
            ),
            $component-max-height-support-media,
            $component-max-height-support-modifiers
        );
    }
}
