$component-min-width-support-media: true !default;
$component-min-width-support-modifiers: false !default;
@use "../theme/register-component" as *;
@include register-component(
    "min-w-0",
    (
        min-width: 0,
    ),
    $component-min-width-support-media,
    $component-min-width-support-modifiers
);
@include register-component(
    "min-w-full",
    (
        min-width: 100%,
    ),
    $component-min-width-support-media,
    $component-min-width-support-modifiers
);
@include register-component(
    "min-w-min",
    (
        min-width: min-content,
    ),
    $component-min-width-support-media,
    $component-min-width-support-modifiers
);
@include register-component(
    "min-w-max",
    (
        min-width: max-content,
    ),
    $component-min-width-support-media,
    $component-min-width-support-modifiers
);
