$component-object-fit-support-media: true !default;
$component-object-fit-support-modifiers: false !default;
@use "../theme/register-component" as *;
@include register-component(
    "object-contain",
    (
        object-fit: contain,
    ),
    $component-object-fit-support-media,
    $component-object-fit-support-modifiers
);
@include register-component(
    "object-cover",
    (
        object-fit: cover,
    ),
    $component-object-fit-support-media,
    $component-object-fit-support-modifiers
);
@include register-component(
    "object-fill",
    (
        object-fit: fill,
    ),
    $component-object-fit-support-media,
    $component-object-fit-support-modifiers
);
@include register-component(
    "object-none",
    (
        object-fit: none,
    ),
    $component-object-fit-support-media,
    $component-object-fit-support-modifiers
);
@include register-component(
    "object-scale-down",
    (
        object-fit: scale-down,
    ),
    $component-object-fit-support-media,
    $component-object-fit-support-modifiers
);
