$component-order-support-media: true !default;
$component-order-support-modifiers: false !default;
@use "../theme/register-component" as *;
@for $level from 1 through 12 {
    @include register-component(
        "order-#{$level}",
        (
            order: $level,
        ),
        $component-order-support-media,
        $component-order-support-modifiers
    );
}
@include register-component(
    "order-first",
    (
        order: -9999,
    ),
    $component-order-support-media,
    $component-order-support-modifiers
);
@include register-component(
    "order-last",
    (
        order: 9999,
    ),
    $component-order-support-media,
    $component-order-support-modifiers
);
@include register-component(
    "order-none",
    (
        order: 0,
    ),
    $component-order-support-media,
    $component-order-support-modifiers
);
