$component-place-items-support-media: true !default;
$component-place-items-support-modifiers: false !default;
@use "../theme/register-component" as *;
@include register-component(
    "place-items-auto",
    (
        place-items: auto,
    ),
    $component-place-items-support-media,
    $component-place-items-support-modifiers
);
@include register-component(
    "place-items-start",
    (
        place-items: start,
    ),
    $component-place-items-support-media,
    $component-place-items-support-modifiers
);
@include register-component(
    "place-items-end",
    (
        place-items: end,
    ),
    $component-place-items-support-media,
    $component-place-items-support-modifiers
);
@include register-component(
    "place-items-center",
    (
        place-items: center,
    ),
    $component-place-items-support-media,
    $component-place-items-support-modifiers
);
@include register-component(
    "place-items-stretch",
    (
        place-items: stretch,
    ),
    $component-place-items-support-media,
    $component-place-items-support-modifiers
);
