$component-pointer-events-support-media: true !default;
$component-pointer-events-support-modifiers: false !default;
@use "../theme/register-component" as *;
@include register-component(
    "pointer-events-none",
    (
        pointer-events: none,
    ),
    $component-pointer-events-support-media,
    $component-pointer-events-support-modifiers
);
@include register-component(
    "pointer-events-auto",
    (
        pointer-events: auto,
    ),
    $component-pointer-events-support-media,
    $component-pointer-events-support-modifiers
);
