$component-position-support-media: true !default;
$component-position-support-modifiers: false !default;
@use "../theme/register-component" as *;
@include register-component(
    "static",
    (
        position: static,
    ),
    $component-position-support-media,
    $component-position-support-modifiers
);
@include register-component(
    "fixed",
    (
        position: fixed,
    ),
    $component-position-support-media,
    $component-position-support-modifiers
);
@include register-component(
    "absolute",
    (
        position: absolute,
    ),
    $component-position-support-media,
    $component-position-support-modifiers
);
@include register-component(
    "relative",
    (
        position: relative,
    ),
    $component-position-support-media,
    $component-position-support-modifiers
);
@include register-component(
    "sticky",
    (
        position: sticky,
    ),
    $component-position-support-media,
    $component-position-support-modifiers
);
