$component-text-decoration-support-media: true !default;
$component-text-decoration-support-modifiers: (hover, focus, focus-within) !default;
@use "../theme/register-component" as *;
@include register-component(
    "underline",
    (
        text-decoration: underline,
    ),
    $component-text-decoration-support-media,
    $component-text-decoration-support-modifiers
);
@include register-component(
    "line-through",
    (
        text-decoration: line-through,
    ),
    $component-text-decoration-support-media,
    $component-text-decoration-support-modifiers
);
@include register-component(
    "no-underline",
    (
        text-decoration: none,
    ),
    $component-text-decoration-support-media,
    $component-text-decoration-support-modifiers
);
