$component-text-color-support-media: (dark) !default;
$component-text-color-support-modifiers: (focus) !default;
$component-text-color-use-palette: true !default;
@use "sass:color";
@use "sass:meta";
@use "sass:string";
@use "../theme/register-component" as *;
@use "../theme/color" as *;
@include register-component(
    "text-transparent",
    (
        color: transparent,
    ),
    $component-text-color-support-media,
    $component-text-color-support-modifiers
);
@include register-component(
    "text-current",
    (
        color: currentColor,
    ),
    $component-text-color-support-media,
    $component-text-color-support-modifiers
);
@each $key, $color in $palette {
    @if meta.type-of($color) != map {
        $color: (
            default: $color,
        );
    }
    @each $name, $value in $color {
        $alpha: if(
            string.index($value + "", "rgba"),
            color.alpha($value),
            var(--text-opacity, 1)
        );
        $value: rgba(
            color.red($value),
            color.green($value),
            color.blue($value),
            $alpha
        );
        $name: if($name == default, $key, "#{$key}-#{$name}");
        @include register-component(
            "text-#{$name}",
            (
                color: $value,
            ),
            $component-text-color-support-media,
            $component-text-color-support-modifiers
        );
    }
}
