$component-text-overflow-support-media: true !default;
$component-text-overflow-support-modifiers: false !default;
@use "../theme/register-component" as *;
@include register-component(
    "truncate",
    (
        overflow: hidden,
        text-overflow: ellipsis,
        white-space: nowrap,
    ),
    $component-text-overflow-support-media,
    $component-text-overflow-support-modifiers
);
@include register-component(
    "overflow-ellipsis",
    (
        text-overflow: ellipsis,
    ),
    $component-text-overflow-support-media,
    $component-text-overflow-support-modifiers
);
@include register-component(
    "overflow-clip",
    (
        text-overflow: clip,
    ),
    $component-text-overflow-support-media,
    $component-text-overflow-support-modifiers
);
