$component-user-select-support-media: true !default;
$component-user-select-support-modifiers: false !default;
@use "../theme/register-component" as *;
@include register-component(
    "select-none",
    (
        user-select: none,
    ),
    $component-user-select-support-media,
    $component-user-select-support-modifiers
);
@include register-component(
    "select-text",
    (
        user-select: text,
    ),
    $component-user-select-support-media,
    $component-user-select-support-modifiers
);
@include register-component(
    "select-all",
    (
        user-select: all,
    ),
    $component-user-select-support-media,
    $component-user-select-support-modifiers
);
@include register-component(
    "select-auto",
    (
        user-select: auto,
    ),
    $component-user-select-support-media,
    $component-user-select-support-modifiers
);
