$component-word-break-support-media: true !default;
$component-word-break-support-modifiers: false !default;
@use "../theme/register-component" as *;
@include register-component(
    "break-normal",
    (
        overflow-wrap: normal,
        word-break: normal,
    ),
    $component-word-break-support-media,
    $component-word-break-support-modifiers
);
@include register-component(
    "break-words",
    (
        overflow-wrap: break-word,
    ),
    $component-word-break-support-media,
    $component-word-break-support-modifiers
);
@include register-component(
    "break-all",
    (
        word-break: break-all,
    ),
    $component-word-break-support-media,
    $component-word-break-support-modifiers
);
