$component-z-index-support-media: true !default;
$component-z-index-support-modifiers: (focus, focus-within) !default;
$component-z-index-values: (
    0: 0,
    10: 10,
    20: 20,
    30: 30,
    40: 40,
    50: 50,
    auto: auto
) !default;
@use "../theme/register-component" as *;
@each $key, $value in $component-z-index-values {
    @include register-component(
        "z-#{$key}",
        (
            z-index: $value,
        ),
        $component-z-index-support-media,
        $component-z-index-support-modifiers
    );
}
