@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate jack in the box
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @group animation
/// @link https://animista.net/

@mixin animate-jack-in-the-box($animation-settings: null) {
  @include animation-name-or-shorthand(jack-in-the-box, $animation-settings);

  @include keyframes(jack-in-the-box) {
    0% {
      opacity: 0;
      transform: scale(0.1) rotate(30deg);
      transform-origin: center bottom;
    }

    50% {
      transform: rotate(-10deg);
    }

    70% {
      transform: rotate(3deg);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}
