@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate fade out bottom right
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @link https://animista.net/

@mixin animate-fade-out-bottom-right($animation-settings: null) {
  @include animation-name-or-shorthand(fade-out-br, $animation-settings);

  @include keyframes(fade-out-br) {
    0% {
      -webkit-transform: translateX(0) translateY(0);
      transform: translateX(0) translateY(0);
      opacity: 1;
    }

    100% {
      -webkit-transform: translateX(50px) translateY(50px);
      transform: translateX(50px) translateY(50px);
      opacity: 0;
    }
  }
}

