@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate fade in bottom
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @link https://animista.net/

@mixin animate-fade-in-bottom($animation-settings: null) {
  @include animation-name-or-shorthand(fade-in-bottom, $animation-settings);

  @include keyframes(fade-in-bottom) {
    0% {
      -webkit-transform: translateY(50px);
      transform: translateY(50px);
      opacity: 0;
    }

    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }
}

