@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

@mixin animate-fade-out-right($animation-settings: null) {
  @include animation-name-or-shorthand(fade-out-right, $animation-settings);

  @include keyframes(fade-out-right) {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }

    100% {
      -webkit-transform: translateX(50px);
      transform: translateX(50px);
      opacity: 0;
    }
  }
}

