@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate fade in right
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @group animation
/// @link https://animista.net/

@mixin animate-fade-in-right($animation-settings: null) {
  @include animation-name-or-shorthand(fade-in-right, $animation-settings);

  @include keyframes(fade-in-right) {
    0% {
      -webkit-transform: translateX(50px);
      transform: translateX(50px);
      opacity: 0;
    }

    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
}

