/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/slide/animate-slide-out-blurred-left.scss" as *;

@include test-module("animate-slide-out-blurred-left [mixin]") {
    @include test("Can add animation animate-slide-out-blurred-left") {
        @include assert {
            @include output {
            @include animate-slide-out-blurred-left();
        }
        @include expect {
	animation: slide-out-blurred-left;

	@keyframes slide-out-blurred-left {
		0% {
			-webkit-transform: translateX(0) scaleY(1) scaleX(1);
			transform: translateX(0) scaleY(1) scaleX(1);
			-webkit-transform-origin: 50% 50%;
			transform-origin: 50% 50%;
			-webkit-filter: blur(0);
			filter: blur(0);
			opacity: 1;
		}

		100% {
			-webkit-transform: translateX(-1000px) scaleX(2) scaleY(0.2);
			transform: translateX(-1000px) scaleX(2) scaleY(0.2);
			-webkit-transform-origin: 100% 50%;
			transform-origin: 100% 50%;
			-webkit-filter: blur(40px);
			filter: blur(40px);
			opacity: 0;
		}
	}
}        }
    }
}
