/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/slide/animate-slide-rotate-horizontal-b-forward.scss" as *;

@include test-module("animate-slide-rotate-horizontal-b-forward [mixin]") {
    @include test("Can add animation animate-slide-rotate-horizontal-b-forward") {
        @include assert {
            @include output {
            @include animate-slide-rotate-horizontal-b-forward();
        }
        @include expect {
	animation: slide-rotate-hor-b-fwd;

	@keyframes slide-rotate-hor-b-fwd {
		0% {
			-webkit-transform: translateY(0) translateZ(0) rotateX(0deg);
			transform: translateY(0) translateZ(0) rotateX(0deg);
			-webkit-transform-origin: top center;
			transform-origin: top center;
		}

		100% {
			-webkit-transform: translateY(150px) translateZ(130px) rotateX(90deg);
			transform: translateY(150px) translateZ(130px) rotateX(90deg);
			-webkit-transform-origin: top center;
			transform-origin: top center;
		}
	}
}        }
    }
}
