/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/slide/animate-slide-in-forward-top-left.scss" as *;

@include test-module("animate-slide-in-forward-top-left [mixin]") {
    @include test("Can add animation animate-slide-in-forward-top-left") {
        @include assert {
            @include output {
            @include animate-slide-in-forward-top-left();
        }
        @include expect {
	animation: slide-in-fwd-tl;

	@keyframes slide-in-fwd-tl {
		0% {
			-webkit-transform:
				translateZ(-1400px) translateY(-800px)
				translateX(-1000px);
			transform: translateZ(-1400px) translateY(-800px) translateX(-1000px);
			opacity: 0;
		}

		100% {
			-webkit-transform: translateZ(0) translateY(0) translateX(0);
			transform: translateZ(0) translateY(0) translateX(0);
			opacity: 1;
		}
	}
}        }
    }
}
