/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/slide/animate-slide-in-backward-left.scss" as *;

@include test-module("animate-slide-in-backward-left [mixin]") {
    @include test("Can add animation animate-slide-in-backward-left") {
        @include assert {
            @include output {
            @include animate-slide-in-backward-left();
        }
        @include expect {
	animation: slide-in-bck-left;

	@keyframes slide-in-bck-left {
		0% {
			-webkit-transform: translateZ(700px) translateX(-400px);
			transform: translateZ(700px) translateX(-400px);
			opacity: 0;
		}

		100% {
			-webkit-transform: translateZ(0) translateX(0);
			transform: translateZ(0) translateX(0);
			opacity: 1;
		}
	}
}        }
    }
}
