/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/slide/animate-slide-out-backward-top-right.scss" as *;

@include test-module("animate-slide-out-backward-top-right [mixin]") {
    @include test("Can add animation animate-slide-out-backward-top-right") {
        @include assert {
            @include output {
            @include animate-slide-out-backward-top-right();
        }
        @include expect {
	animation: slide-out-bck-tr;

	@keyframes slide-out-bck-tr {
		0% {
			-webkit-transform: translateZ(0) translateY(0) translateX(0);
			transform: translateZ(0) translateY(0) translateX(0);
			opacity: 1;
		}

		100% {
			-webkit-transform:
				translateZ(-1100px) translateY(-1000px)
				translateX(1000px);
			transform: translateZ(-1100px) translateY(-1000px) translateX(1000px);
			opacity: 0;
		}
	}
}        }
    }
}
