/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/slide/animate-slide-out-backward-right.scss" as *;

@include test-module("animate-slide-out-backward-right [mixin]") {
    @include test("Can add animation animate-slide-out-backward-right") {
        @include assert {
            @include output {
            @include animate-slide-out-backward-right();
        }
        @include expect {
	animation: slide-out-bck-right;

	@keyframes slide-out-bck-right {
		0% {
			-webkit-transform: translateZ(0) translateX(0);
			transform: translateZ(0) translateX(0);
			opacity: 1;
		}

		100% {
			-webkit-transform: translateZ(-1100px) translateX(1000px);
			transform: translateZ(-1100px) translateX(1000px);
			opacity: 0;
		}
	}
}        }
    }
}
