/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/slide/animate-slide-top-right.scss" as *;

@include test-module("animate-slide-top-right [mixin]") {
    @include test("Can add animation animate-slide-top-right") {
        @include assert {
            @include output {
            @include animate-slide-top-right();
        }
        @include expect {
	animation: slide-tr;

	@keyframes slide-tr {
		0% {
			-webkit-transform: translateY(0) translateX(0);
			transform: translateY(0) translateX(0);
		}

		100% {
			-webkit-transform: translateY(-100px) translateX(100px);
			transform: translateY(-100px) translateX(100px);
		}
	}
}        }
    }
}
