/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/slide/animate-slide-in-elliptic-left-backward.scss" as *;

@include test-module("animate-slide-in-elliptic-left-backward [mixin]") {
    @include test("Can add animation animate-slide-in-elliptic-left-backward") {
        @include assert {
            @include output {
            @include animate-slide-in-elliptic-left-backward();
        }
        @include expect {
	animation: slide-in-elliptic-left-bck;

	@keyframes slide-in-elliptic-left-bck {
		0% {
			-webkit-transform: translateX(-800px) rotateY(-30deg) scale(6.5);
			transform: translateX(-800px) rotateY(-30deg) scale(6.5);
			-webkit-transform-origin: 200% 50%;
			transform-origin: 200% 50%;
			opacity: 0;
		}

		100% {
			-webkit-transform: translateX(0) rotateY(0) scale(1);
			transform: translateX(0) rotateY(0) scale(1);
			-webkit-transform-origin: -600px 50%;
			transform-origin: -600px 50%;
			opacity: 1;
		}
	}
}        }
    }
}
