/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/slide/animate-slide-rotate-vertical-r-forward.scss" as *;

@include test-module("animate-slide-rotate-vertical-r-forward [mixin]") {
    @include test("Can add animation animate-slide-rotate-vertical-r-forward") {
        @include assert {
            @include output {
            @include animate-slide-rotate-vertical-r-forward();
        }
        @include expect {
	animation: slide-rotate-ver-r-fwd;

	@keyframes slide-rotate-ver-r-fwd {
		0% {
			-webkit-transform: translateX(0) translateZ(0) rotateY(0);
			transform: translateX(0) translateZ(0) rotateY(0);
			-webkit-transform-origin: center left;
			transform-origin: center left;
		}

		100% {
			-webkit-transform: translateX(150px) translateZ(130px) rotateY(-90deg);
			transform: translateX(150px) translateZ(130px) rotateY(-90deg);
			-webkit-transform-origin: center left;
			transform-origin: center left;
		}
	}
}        }
    }
}
