/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/slide/animate-slide-rotate-horizontal-bottom.scss" as *;

@include test-module("animate-slide-rotate-horizontal-bottom [mixin]") {
    @include test("Can add animation animate-slide-rotate-horizontal-bottom") {
        @include assert {
            @include output {
            @include animate-slide-rotate-horizontal-bottom();
        }
        @include expect {
	animation: slide-rotate-hor-bottom;

	@keyframes slide-rotate-hor-bottom {
		0% {
			-webkit-transform: translateY(0) rotateX(0deg);
			transform: translateY(0) rotateX(0deg);
		}

		100% {
			-webkit-transform: translateY(150px) rotateX(90deg);
			transform: translateY(150px) rotateX(90deg);
		}
	}
}        }
    }
}
