/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/slide/animate-slide-forward-top-left.scss" as *;

@include test-module("animate-slide-forward-top-left [mixin]") {
    @include test("Can add animation animate-slide-forward-top-left") {
        @include assert {
            @include output {
            @include animate-slide-forward-top-left();
        }
        @include expect {
	animation: slide-fwd-tl;

	@keyframes slide-fwd-tl {
		0% {
			-webkit-transform: translateZ(0) translateY(0) translateX(0);
			transform: translateZ(0) translateY(0) translateX(0);
		}

		100% {
			-webkit-transform: translateZ(160px) translateY(-100px) translateX(-100px);
			transform: translateZ(160px) translateY(-100px) translateX(-100px);
		}
	}
}        }
    }
}
