/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/slide/animate-slide-out-forward-bottom.scss" as *;

@include test-module("animate-slide-out-forward-bottom [mixin]") {
    @include test("Can add animation animate-slide-out-forward-bottom") {
        @include assert {
            @include output {
            @include animate-slide-out-forward-bottom();
        }
        @include expect {
	animation: slide-out-fwd-bottom;

	@keyframes slide-out-fwd-bottom {
		0% {
			-webkit-transform: translateZ(0) translateY(0);
			transform: translateZ(0) translateY(0);
			opacity: 1;
		}

		100% {
			-webkit-transform: translateZ(600px) translateY(300px);
			transform: translateZ(600px) translateY(300px);
			opacity: 0;
		}
	}
}        }
    }
}
