/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/slide/animate-slide-left.scss" as *;

@include test-module("animate-slide-left [mixin]") {
    @include test("Can add animation animate-slide-left") {
        @include assert {
            @include output {
            @include animate-slide-left();
        }
        @include expect {
	animation: slide-left;

	@keyframes slide-left {
		0% {
			-webkit-transform: translateX(0);
			transform: translateX(0);
		}

		100% {
			-webkit-transform: translateX(-100px);
			transform: translateX(-100px);
		}
	}
}        }
    }
}
