/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@use "../../../node_modules/sass-true" as *;
@use "../../../src/animation/slide/animate-slide-top.scss" as *;

@include test-module("animate-slide-top [mixin]") {
    @include test("Can add animation animate-slide-top") {
        @include assert {
            @include output {
            @include animate-slide-top();
        }
        @include expect {
	animation: slide-top;

	@keyframes slide-top {
		0% {
			-webkit-transform: translateY(0);
			transform: translateY(0);
		}

		100% {
			-webkit-transform: translateY(-100px);
			transform: translateY(-100px);
		}
	}
}        }
    }
}
