@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate slit in horizontal
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @group animation
/// @link https://animista.net/

@mixin animate-slit-in-horizontal($animation-settings: null) {
  @include animation-name-or-shorthand(slit-in-horizontal, $animation-settings);

  @include keyframes(slit-in-horizontal) {
    0% {
      -webkit-transform: translateZ(-800px) rotateX(90deg);
      transform: translateZ(-800px) rotateX(90deg);
      opacity: 0;
    }

    54% {
      -webkit-transform: translateZ(-160px) rotateX(87deg);
      transform: translateZ(-160px) rotateX(87deg);
      opacity: 1;
    }

    100% {
      -webkit-transform: translateZ(0) rotateX(0);
      transform: translateZ(0) rotateX(0);
    }
  }
}

