@use "sass:list";
@use "sass:math";

/// Background gradient stripes from a list of colors
/// @param {String|Number} $direction - Gradient direction
/// @param {List} $colors - List of colors
/// @link https://css-tricks.com/snippets/sass/striped-gradient-mixin/

@mixin background-stripes($direction, $colors...) {
    $length: list.length($colors);
    @if $length > 1 {
     $stripes: ();
        @for $i from 1 through $length {
            $stripe: math.div(100%, $length) * ($i - 1);
            @if $i > 1 {
                $stripes: list.append($stripes, list.nth($colors, $i - 1) $stripe, comma);
            }
            $stripes: list.append($stripes, list.nth($colors, $i) $stripe, comma);
        }
        background-image: linear-gradient($direction, list.join((), $stripes, $separator: comma));
    }
    background-color: list.nth($colors, 1);
}
