@use "sass:math";
@use "sass:color";

/// Get CMYK values from a color
/// @param {Color} $color - base color
/// @return {Map}

@function cmyk($color) {
    $black: 1 - math.div(math.max(color.channel($color, "red", $space: rgb), color.channel($color, "green", $space: rgb), color.channel($color, "blue", $space: rgb)), 255);
    $cyan: if($black < 1, 1 - math.div(math.div(color.channel($color, "red", $space: rgb), 255), (1 - $black)), 0);
    $magenta: if($black < 1, 1 - math.div(math.div(color.channel($color, "green", $space: rgb), 255), (1 - $black)), 0);
    $yellow: if($black < 1, 1 - math.div(math.div(color.channel($color, "blue", $space: rgb), 255), (1 - $black)), 0);

    @return (
        c: $cyan,
        cyan: $cyan,
        m: $magenta,
        magenta: $magenta,
        y: $yellow,
        yellow: $yellow,
        k: $black,
        black: $black
    );
}
