@use "sass:list";
@use "sass:meta";
@use "sass:string";
@use "is-pseudo" as *;
@use "str-replace" as *;

/// Declare properties via sass maps
/// @example
///   @include declare-map((color: red, margin: 0));                       /* color: red; margin: 0; */
///   @include declare-map((color: red, "&:hover": (color: blue)));         /* color: red; &:hover { color: blue; } */
///   @include declare-map((color: red, "&:hover, &:focus": (color: blue))); /* color: red; &:hover, &:focus { color: blue; } */
/// @param {Map} $map [()] - Property declaration

@mixin declare-map($map: ()) {
    @each $key, $value in $map {
        @if $key and $map {
            @if meta.type-of($value) == map {
                @if string.index($key + "", "@at-root ") == 1 {
                    $key: str-replace($key + "", "@at-root ", "");
                    @at-root {
                        @include declare-map((#{$key}: $value));
                    }
                } @else {
                    #{$key} {
                        @include declare-map($value);
                    }
                }
            } @else {
                #{$key}: $value;
            }
        } @else if meta.type-of($value) != map {
            #{$key}: $value;
        }
    }
}
