@use "sass:math";
@use "px2rem" as *;

/// Fluid size depending on viewport with minimum and maximum values
/// @author Mike Foskett
/// @param {Number} $min-size - Minimum size
/// @param {Number} $min-viewport - Minimum viewport size
/// @param {Number} $max-size - Maximum size
/// @param {Number} $max-viewport - Maximum viewport size
/// @param {Boolean} $clamp [true] - Whether to use clamping or just return the fluid calculation
/// @param {Boolean} $px-mode [false] - Whether to use px instead of rem for the fluid calculation
/// @param {Number} $default-font-size [16px] - The default root font-size
/// @param {Number} $viewport-unit [1vw] - The viewport width or height unit to base the calculation on
/// @link https://websemantics.uk/tools/fluid-responsive-property-calculator/

@function fluid-size(
    $min-size,
    $min-viewport,
    $max-size,
    $max-viewport,
    $clamp: true,
    $px-mode: true,
    $default-font-size: 16px,
    $viewport-unit: 1vw
) {
    $calc: calc(#{if($px-mode, $min-size, px2rem($min-size, $default-font-size))} + ((#{$viewport-unit} - #{math.div($min-viewport, 100)}) * #{math.div(100 * ($max-size - $min-size), $max-viewport - $min-viewport)}));
    @return if($clamp, clamp(#{$min-size}, #{$calc}, #{$max-size}), #{$calc});
}
