@use "../../utility/keyframes" as *;

/// Animate roll out
/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@mixin animate-roll-out($animation-settings: null) {
	animation: if($animation-settings, #{"roll-out #{$animation-settings}"}, roll-out);

	@include keyframes(roll-out) {
		0% {
			opacity: 1;
			transform: translate3d(0, 0, 0);
		}

		100% {
			opacity: 0;
			transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
		}
	}
}
