@use "sass:color";

/// Adjust color (alias of sass:color)
/// @param {Color} $color The base color
/// @param {Number} $red [null] Red value
/// @param {Number} $green [null] Green value
/// @param {Number} $blue [null] Blue value
/// @param {Number} $hue [null] Hue value
/// @param {Number} $saturation [null] Saturation value
/// @param {Number} $lightness [null] Lightness value
/// @param {Number} $alpha [null] Alpha value
/// @return {Color}

@function adjust(
  $color,
  $red: null,
  $green: null,
  $blue: null,
  $hue: null,
  $saturation: null,
  $lightness: null,
  $alpha: null
) {
  @return color.adjust(
    $color,
    $red: null,
    $green: null,
    $blue: null,
    $hue: null,
    $saturation: null,
    $lightness: null,
    $alpha: null
  );
}
