@use "sass:color";
@use "../utility/is-between" as *;
@use "contrast-with" as *;
@use "is-contrasting" as *;
@use "luminance" as *;

/// Change 2 colors contrast ratio by weighted balance(0-100)
/// 0 means only second color is changed, while 100 means only the first one
/// @param {color} $color1 Color 1
/// @param {color} $color2 Color 2
/// @param {number|string} $ratio Name or value of contrast ratio
/// @param {number} $balance Balance (default: 50)
/// @return {list}

@function contrast-balance($color1, $color2, $ratio: "AA", $balance: 50) {
  $fixed1: contrast-with($color1, $color2, $ratio);
  $fixed2: contrast-with($color2, $color1, $ratio);
  $color1: color.mix($fixed1, $color1, $balance);
  $color2: color.mix($fixed2, $color2, $balance);

  @if not is-contrasting($color1, $color2, $ratio) {
    @if not is-between(luminance($fixed2), 0.00002, 0.99936) {
      $color1: contrast-with($color1, $color2, $ratio);
    }

    @if not is-between(luminance($fixed1), 0.00002, 0.99936) {
      $color2: contrast-with($color2, $color1, $ratio);
    }
  }

  @return $color1, $color2;
}
