@use "../../utility/keyframes" as *;

/// Animate bounce right
/// @param {List} $animation-settings [null] - Animation shorthand settings (anything except the animation-name)
/// @group Animation
/// @link https://animista.net/

@mixin animate-bounce-right($animation-settings: null) {
	animation: if($animation-settings, #{"bounce-right #{$animation-settings}"}, bounce-right);

	@include keyframes(bounce-right) {
		0% {
			-webkit-transform: translateX(48px);
			transform: translateX(48px);
			-webkit-animation-timing-function: ease-in;
			animation-timing-function: ease-in;
			opacity: 1;
		}

		24% {
			opacity: 1;
		}

		40% {
			-webkit-transform: translateX(26px);
			transform: translateX(26px);
			-webkit-animation-timing-function: ease-in;
			animation-timing-function: ease-in;
		}

		65% {
			-webkit-transform: translateX(13px);
			transform: translateX(13px);
			-webkit-animation-timing-function: ease-in;
			animation-timing-function: ease-in;
		}

		82% {
			-webkit-transform: translateX(6.5px);
			transform: translateX(6.5px);
			-webkit-animation-timing-function: ease-in;
			animation-timing-function: ease-in;
		}

		93% {
			-webkit-transform: translateX(4px);
			transform: translateX(4px);
			-webkit-animation-timing-function: ease-in;
			animation-timing-function: ease-in;
		}

		25%,
		55%,
		75%,
		87%,
		98% {
			-webkit-transform: translateX(0);
			transform: translateX(0);
			-webkit-animation-timing-function: ease-out;
			animation-timing-function: ease-out;
		}

		100% {
			-webkit-transform: translateX(0);
			transform: translateX(0);
			-webkit-animation-timing-function: ease-out;
			animation-timing-function: ease-out;
			opacity: 1;
		}
	}
}

