@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate swirl out bottom right forward
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @link https://animista.net/

@mixin animate-swirl-out-bottom-right-forward($animation-settings: null) {
  @include animation-name-or-shorthand(swirl-out-br-fwd, $animation-settings);

  @include keyframes(swirl-out-br-fwd) {
    0% {
      -webkit-transform: rotate(0) scale(1);
      transform: rotate(0) scale(1);
      -webkit-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
      opacity: 1;
    }

    100% {
      -webkit-transform: rotate(540deg) scale(5);
      transform: rotate(540deg) scale(5);
      -webkit-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
      opacity: 0;
    }
  }
}

