@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

@mixin animate-swirl-in-bottom-left-backward($animation-settings: null) {
  @include animation-name-or-shorthand(swirl-in-bl-bck, $animation-settings);

  @include keyframes(swirl-in-bl-bck) {
    0% {
      -webkit-transform: rotate(540deg) scale(5);
      transform: rotate(540deg) scale(5);
      -webkit-transform-origin: 0 100%;
      transform-origin: 0 100%;
      opacity: 0;
    }

    100% {
      -webkit-transform: rotate(0) scale(1);
      transform: rotate(0) scale(1);
      -webkit-transform-origin: 0 100%;
      transform-origin: 0 100%;
      opacity: 1;
    }
  }
}

