@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate swirl in left forward
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @group animation
/// @link https://animista.net/

@mixin animate-swirl-in-left-forward($animation-settings: null) {
  @include animation-name-or-shorthand(swirl-in-left-fwd, $animation-settings);

  @include keyframes(swirl-in-left-fwd) {
    0% {
      -webkit-transform: rotate(-540deg) scale(0);
      transform: rotate(-540deg) scale(0);
      -webkit-transform-origin: 0 50%;
      transform-origin: 0 50%;
      opacity: 0;
    }

    100% {
      -webkit-transform: rotate(0) scale(1);
      transform: rotate(0) scale(1);
      -webkit-transform-origin: 0 50%;
      transform-origin: 0 50%;
      opacity: 1;
    }
  }
}

