@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

@mixin animate-swirl-out-forward($animation-settings: null) {
  @include animation-name-or-shorthand(swirl-out-fwd, $animation-settings);

  @include keyframes(swirl-out-fwd) {
    0% {
      -webkit-transform: rotate(0) scale(1);
      transform: rotate(0) scale(1);
      opacity: 1;
    }

    100% {
      -webkit-transform: rotate(540deg) scale(5);
      transform: rotate(540deg) scale(5);
      opacity: 0;
    }
  }
}

