@use "../keyframes" as *;
@use "../animation-name-or-shorthand" as *;

/// Animate blur out expand
/// @param {List} $animation-settings [null] Animation shorthand settings (anything except the animation-name)
/// @group animation
/// @link https://animista.net/

@mixin animate-blur-out-expand($animation-settings: null) {
  @include animation-name-or-shorthand(blur-out-expand, $animation-settings);

  @include keyframes(blur-out-expand) {
    0% {
      -webkit-filter: blur(0.01);
      filter: blur(0.01);
    }

    100% {
      letter-spacing: 1em;
      -webkit-filter: blur(12px) opacity(0%);
      filter: blur(12px) opacity(0%);
    }
  }
}
